<%= form_for(@market_charge) do |f| %>
  <% if @market_charge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@market_charge.errors.count, "error") %> prohibited this market_charge from being saved:</h2>

      <ul>
        <% @market_charge.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :amc_id, :value => current_user.amc_id %>
  <%= f.hidden_field :modified_by, :value => current_user.id %>

  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <%= f.label "Component Name", :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %><br/>
        <%= f.text_field :name, :class => 'form-control', :placeholder => ' Name ', :required => true %>
      </div>
      <div class="form-group">
        <%= f.label :unit, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %><br/>
        <%= f.select(:unit, options_for_select(UnitOfMeasurement.where("amc_id=?", current_user.amc_id).collect {|u| [u.unit_name, u.unit_name]}, @market_charge.unit), {:prompt => 'Select Uom '}, :required => "required", :class => 'form-control') %>
      </div>
      <div class='row'>
        <div class="col-sm-6">
          <div class="form-group">
            <%= f.label :above_weight, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %>
            <br/>
            <%= f.text_field :above_weight, :class => 'form-control', :placeholder => ' Above Weight ', :required => true, :onkeypress => "return isNumberKey(event)" %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <%= f.label :below_weight, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %>
            <br/>
            <%= f.text_field :below_weight, :class => 'form-control', :placeholder => ' Below Weight', :required => true, :onkeypress => "return isNumberKey(event)" %>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class="col-sm-6">
          <div class="form-group">
            <%= f.label :charge_value, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %>
            <br/>
            <%= f.text_field :charge_value, :class => 'form-control', :placeholder => ' Name ', :required => true, :onkeypress => "return isNumberKey(event)" %>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <%= f.label :charge_type, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %>
            <br/>
            <%= f.select(:charge_type, options_for_select(['AMT', "PERCENT"], @market_charge.unit), {:prompt => 'Select Charge Type '}, :required => "required", :class => 'form-control') %>
          </div>
        </div>
      </div>


    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <%= f.label :commodity_id, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %>
        <br/>
        <%= f.select(:commodity_id, options_for_select(Commodity.where("amc_id=?", current_user.amc_id).collect {|u| [u.name, u.id]}, @market_charge.commodity_id), {:prompt => 'Select Commodity '}, :required => "required", :class => 'form-control') %>
      </div>

      <div class="form-group">
        <%= f.label "deduction/adition Type", :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %>
        <br/>
        <%= f.select(:deduction_type, options_for_select(['INCLUSIVE', "EXCLUSIVE"], @market_charge.deduction_type), {:prompt => 'Select Deduction Type'}, :required => "required", :class => 'form-control') %>
      </div>

      <div class="form-group">
        <%= f.label :party_type, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %><br/>
        <%= f.select(:party_type, options_for_select(UserRole.where('role_name !=? and role_name !=? and role_name !=? and role_name !=?','GateEntryOperator','Trader','CommissionAgent','Supervisor').collect {|u| [u.role_name, u.role_name]}, @market_charge.party_type), {:prompt => 'Select Party Type '}, :class => 'form-control') %>
      </div>
      <div class="form-group">
        <%= f.label :attachement , :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %><br/>
        <%= f.file_field :attachement %>
      </div>
    </div>
  </div>
  <div class="actions col-sm-12">
    <%= f.submit(:class => 'btn btn-success btn-md') %>
  </div>

<% end %>
