<div style="padding: 5px">
  <div class="row">
    <div class="col-sm-6"><%= get_index_text('Market Charges') %></div>
    <div class="col-sm-6 text-right"><%= link_to 'New Market charge', new_market_charge_path, :class => 'btn btn-success', :style => 'color:white;background-color:#99cc00 !important' %></div>
  </div>
  <table class="table table-bordered">
    <tr class="tr_style">
      <th>Name</th>
      <th>Commodity</th>
      <th>Unit</th>
      <th>Above weight</th>
      <th>Below weight</th>
      <th>Charge value</th>
      <th>Charge type</th>
      <th>Deduction type</th>
      <th>Party type</th>
      <th>Modified by</th>
      <th>Modified on</th>
      <th>Attachement</th>
      <th></th>
      <th></th>
    </tr>

    <% @market_charges.each do |market_charge| %>
      <tr>
        <td><%= market_charge.name %></td>
        <td><%= Commodity.find_by_id(market_charge.commodity_id).try(:name) %></td>
        <td><%= market_charge.unit %></td>
        <td><%= market_charge.above_weight %></td>
        <td><%= market_charge.below_weight %></td>
        <td><%= market_charge.charge_value %></td>
        <td><%= market_charge.charge_type %></td>
        <td><%= market_charge.deduction_type %></td>
        <td><%= market_charge.party_type %></td>
        <td><%= User.find_by_id(market_charge.modified_by ).try(:name)%></td>
        <td><%= market_charge.modified_on %></td>
        <td>
          <%if market_charge.attachement.present? %>
          <a href="<%= market_charge.attachement %>" class="btn btn-link" target="_blank"> View</a>
            <% else %>
                "NA"
            <%end %>

        </td>
        <td><%= link_to 'Edit', edit_market_charge_path(market_charge) %></td>
        <td><%= link_to 'Destroy', market_charge, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
  </table>
</div>
</div>

