<p id="notice"><%= notice %></p>

<p>
  <b>Key:</b>
  <%= @system_setting.key %>
</p>

<p>
  <b>Value:</b>
  <%= @system_setting.value %>
</p>


<%= link_to 'Edit', edit_system_setting_path(@system_setting) %> |
<%= link_to 'Back', system_settings_path %>
