<%= form_for(@unit_of_measurement) do |f| %>
  <% if @unit_of_measurement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@unit_of_measurement.errors.count, "error") %> prohibited this unit_of_measurement from being
        saved:</h2>

      <ul>
        <% @unit_of_measurement.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :unit_name, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %>
        <%= f.text_field :unit_name, :class => 'form-control', :placeholder => 'Unit Name ', :required => true %>
      </div>
      <div class="field">
        <%= f.label :description, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %>
        <%= f.text_area :description, :class => 'form-control', :placeholder => 'Description ', :size => '10X20' %>
      </div>
      <%= f.hidden_field :amc_id, :value => current_user.amc_id %>
      <div class="field">
        <%= f.label :is_active %><br/>
        <%= f.check_box :is_active %>
      </div>
      <div class="actions">
        <%= f.submit(:class => 'btn btn-success btn-md') %>
      </div>
    </div>
  </div>
<% end %>
