
<div style="padding: 5px">
  <div class="row">
    <div class="col-sm-6"><%= get_index_text('units Of Measurements') %></div>
    <div class="col-sm-6 text-right"><%= link_to 'New Unit Of Measurement', new_unit_of_measurement_path, :class => 'btn btn-success', :style => 'color:white;background-color:#99cc00 !important' %></div>
  </div>
  <table class="table table-bordered">
    <tr class="tr_style">
      <th>Unit name</th>
      <th>Description</th>
      <th>Is active</th>
      <% if current_user.present? && current_user.is_admin %>
      <th></th>
      <th></th>
      <% end %>
    </tr>

    <% @unit_of_measurements.each do |unit_of_measurement| %>
      <tr>
        <td><%= unit_of_measurement.unit_name %></td>
        <td><%= unit_of_measurement.description %></td>
        <td><%= unit_of_measurement.is_active %></td>
        <% if current_user.present? && current_user.is_admin %>
        <td><%= link_to 'Edit', edit_unit_of_measurement_path(unit_of_measurement) %></td>
        <td><%= link_to 'Destroy', unit_of_measurement, method: :delete, data: {confirm: 'Are you sure?'} %></td>
        <% end %>
      </tr>
    <% end %>
  </table>

</div>
