<%= form_for(@sub_lot) do |f| %>
  <% if @sub_lot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sub_lot.errors.count, "error") %> prohibited this sub_lot from being saved:</h2>

      <ul>
      <% @sub_lot.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :lot_id %><br />
    <%= f.number_field :lot_id %>
  </div>
  <div class="field">
    <%= f.label :bid_amount %><br />
    <%= f.text_field :bid_amount %>
  </div>
  <div class="field">
    <%= f.label :no_of_bags %><br />
    <%= f.number_field :no_of_bags %>
  </div>
  <div class="field">
    <%= f.label :grossWeight %><br />
    <%= f.text_field :grossWeight %>
  </div>
  <div class="field">
    <%= f.label :netWeight %><br />
    <%= f.text_field :netWeight %>
  </div>
  <div class="field">
    <%= f.label :tareWeight %><br />
    <%= f.text_field :tareWeight %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :device_id %><br />
    <%= f.text_field :device_id %>
  </div>
  <div class="field">
    <%= f.label :gross_amount %><br />
    <%= f.text_field :gross_amount %>
  </div>
  <div class="field">
    <%= f.label :net_payable %><br />
    <%= f.text_field :net_payable %>
  </div>
  <div class="field">
    <%= f.label :net_amount %><br />
    <%= f.text_field :net_amount %>
  </div>
  <div class="field">
    <%= f.label :is_active %><br />
    <%= f.check_box :is_active %>
  </div>
  <div class="field">
    <%= f.label :amc_id %><br />
    <%= f.number_field :amc_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
