<h1>Listing sub_lots</h1>

<table>
  <tr>
    <th>Lot</th>
    <th>Bid amount</th>
    <th>No of bags</th>
    <th>Grossweight</th>
    <th>Netweight</th>
    <th>Tareweight</th>
    <th>User</th>
    <th>Device</th>
    <th>Gross amount</th>
    <th>Net payable</th>
    <th>Net amount</th>
    <th>Is active</th>
    <th>Amc</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sub_lots.each do |sub_lot| %>
  <tr>
    <td><%= sub_lot.lot_id %></td>
    <td><%= sub_lot.bid_amount %></td>
    <td><%= sub_lot.no_of_bags %></td>
    <td><%= sub_lot.grossWeight %></td>
    <td><%= sub_lot.netWeight %></td>
    <td><%= sub_lot.tareWeight %></td>
    <td><%= sub_lot.user_id %></td>
    <td><%= sub_lot.device_id %></td>
    <td><%= sub_lot.gross_amount %></td>
    <td><%= sub_lot.net_payable %></td>
    <td><%= sub_lot.net_amount %></td>
    <td><%= sub_lot.is_active %></td>
    <td><%= sub_lot.amc_id %></td>
    <td><%= link_to 'Show', sub_lot %></td>
    <td><%= link_to 'Edit', edit_sub_lot_path(sub_lot) %></td>
    <td><%= link_to 'Destroy', sub_lot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sub lot', new_sub_lot_path %>
