<div style="padding: 5px">
  <div class="row">
    <div class="col-sm-6"><%= get_index_text('Mandals') %></div>
    <div class="col-sm-6 text-right"><%= link_to 'New Mandal', new_mandal_path, :class => 'btn btn-success', :style => 'color:white;background-color:#99cc00 !important' %></div>
  </div>
  <table class="table table-bordered">
    <tr class="tr_style">
      <th>Name</th>
      <th>Code</th>
      <th>State</th>
      <th>District</th>
      <th>Is active</th>
      <th></th>
<!--      <th></th>-->
    </tr>

    <% @mandals.each do |mandal| %>
      <tr>
        <td><%= mandal.name %></td>
        <td><%= mandal.code %></td>
        <td><%= State.find_by_id(mandal.state_id).try(:name) %></td>
        <td><%= District.find_by_id(mandal.district_id).try(:name)%></td>
        <td><%= mandal.is_active %></td>
        <td><%= link_to 'Edit', edit_mandal_path(mandal) %></td>
<!--        <td><%#= link_to 'Destroy', mandal, method: :delete, data: {confirm: 'Are you sure?'} %></td>-->
      </tr>
    <% end %>
  </table>

  <br/>

</div>
