<%= form_for(@gunnay_tare_weight) do |f| %>
  <% if @gunnay_tare_weight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gunnay_tare_weight.errors.count, "error") %> prohibited this gunnay_tare_weight from being
        saved:</h2>

      <ul>
        <% @gunnay_tare_weight.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.hidden_field :gunny_id, :value => @gunny_detail.id %>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :bag_name, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %><br/>
        <%= f.select(:bag_name, options_for_select(BagName.where("amc_id=?", current_user.amc_id).collect {|u| [u.name, u.name]}, @gunnay_tare_weight.bag_name), {:prompt => 'Select Bag Name'}, :required => "required", :class => 'form-control') %>
      </div>
      <div class="field">
        <%= f.label :tare_weight, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %>
        <br/>
        <%= f.text_field :tare_weight, :class => 'form-control', :placeholder => ' Tare Weight ', :required => true %>
      </div>
      <div class="field">
        <%= f.label :is_active %><br/>
        <%= f.check_box :is_active %>
      </div>
      <div class="actions">
        <%= f.submit(:class => 'btn btn-success btn-md') %>
      </div>
    </div>
  </div>
<% end %>
