<h1>Listing gunnay_tare_weights</h1>

<table>
  <tr>
    <th>Gunny</th>
    <th>Bag name</th>
    <th>Tare weight</th>
    <th>Is active</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @gunnay_tare_weights.each do |gunnay_tare_weight| %>
  <tr>
    <td><%= gunnay_tare_weight.gunny_id %></td>
    <td><%= gunnay_tare_weight.bag_name %></td>
    <td><%= gunnay_tare_weight.tare_weight %></td>
    <td><%= gunnay_tare_weight.is_active %></td>
    <td><%= link_to 'Show', gunnay_tare_weight %></td>
    <td><%= link_to 'Edit', edit_gunnay_tare_weight_path(gunnay_tare_weight) %></td>
    <td><%= link_to 'Destroy', gunnay_tare_weight, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<!--<br />-->

<%#= link_to 'New Gunnay tare weight', new_gunnay_tare_weight_path %>
