<% if @gunnay_tare_weight_list.present? %>

  <%= get_index_text('Gunny  Tare Weight') %>

  <table class="table table-bordered">
    <tr class="tr_style">
      <th>Bag name</th>
      <th>Tare weight</th>
      <th></th>
<!--      <th></th>-->
    </tr>

    <% @gunnay_tare_weight_list.each do |gunnay_tare_weight| %>
      <tr>
        <td><%= gunnay_tare_weight.bag_name %></td>
        <td><%= gunnay_tare_weight.tare_weight %></td>
        <td><%= link_to 'Edit', edit_gunnay_tare_weight_path(gunnay_tare_weight) %></td>
<!--        <td><%#= link_to 'Destroy', gunnay_tare_weight, method: :delete, data: {confirm: 'Are you sure?'} %></td>-->
      </tr>
    <% end %>
  </table>
<% end %>
<div style="padding: 5px">
  <div class="row">
    <div class="col-sm-6"><%= get_index_text('New Tare Weight') %></div>

    <div class="col-sm-6 text-right"><%= link_to 'Back', gunny_details_path, :class => 'btn btn-primary', :style => 'color:white;background-color:#99cc00 !important' %></div>
  </div>

  <%= render 'form' %>
</div>