<%= form_for(@bid) do |f| %>
  <% if @bid.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bid.errors.count, "error") %> prohibited this bid from being saved:</h2>

      <ul>
      <% @bid.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :lot_id %><br />
    <%= f.text_field :lot_id %>
  </div>
  <div class="field">
    <%= f.label :agent_id %><br />
    <%= f.number_field :agent_id %>
  </div>
  <div class="field">
    <%= f.label :seller_id %><br />
    <%= f.number_field :seller_id %>
  </div>
  <div class="field">
    <%= f.label :bid_amount %><br />
    <%= f.text_field :bid_amount %>
  </div>
  <div class="field">
    <%= f.label :is_active %><br />
    <%= f.check_box :is_active %>
  </div>
  <div class="field">
    <%= f.label :is_approved %><br />
    <%= f.text_field :is_approved %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
