<h1>Listing bids</h1>

<table>
  <tr>
    <th>Lot</th>
    <th>Agent</th>
    <th>Seller</th>
    <th>Bid amount</th>
    <th>Is active</th>
    <th>Is approved</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bids.each do |bid| %>
  <tr>
    <td><%= bid.lot_id %></td>
    <td><%= bid.agent_id %></td>
    <td><%= bid.seller_id %></td>
    <td><%= bid.bid_amount %></td>
    <td><%= bid.is_active %></td>
    <td><%= bid.is_approved %></td>
    <td><%= link_to 'Show', bid %></td>
    <td><%= link_to 'Edit', edit_bid_path(bid) %></td>
    <td><%= link_to 'Destroy', bid, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bid', new_bid_path %>
