<%= form_for(@salebill) do |f| %>
  <% if @salebill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@salebill.errors.count, "error") %> prohibited this salebill from being saved:</h2>

      <ul>
        <% @salebill.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-4">

      <div class="field">
        <%= f.label :agreement_type %><br/>
        <%= f.text_field :agreement_type %>
      </div>
      <div class="field">
        <%= f.label :seller_type %><br/>
        <%= f.text_field :seller_type %>
      </div>
      <div class="field">
        <%= f.label :seller_id %><br/>
        <%= f.number_field :seller_id %>
      </div>
      <div class="field">
        <%= f.label :trader_id %><br/>
        <%= f.number_field :trader_id %>
      </div>
      <div class="field">
        <%= f.label :firm_name %><br/>
        <%= f.text_field :firm_name %>
      </div>
      <div class="field">
        <%= f.label :lot_code %><br/>
        <%= f.text_field :lot_code %>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="field">
        <%= f.label :commodity_id %><br/>
        <%= f.number_field :commodity_id %>
      </div>
      <div class="field">
        <%= f.label :apx_weight %><br/>
        <%= f.text_field :apx_weight %>
      </div>
      <div class="field">
        <%= f.label :rate_for_qui %><br/>
        <%= f.text_field :rate_for_qui %>
      </div>
      <div class="field">
        <%= f.label :net_weight %><br/>
        <%= f.text_field :net_weight %>
      </div>
      <div class="field">
        <%= f.label :actual_weight %><br/>
        <%= f.text_field :actual_weight %>
      </div>
      <div class="field">
        <%= f.label :fee_category_id %><br/>
        <%= f.number_field :fee_category_id %>
      </div>
    </div>
    <div class="col-sm-4">

      <div class="field">
        <%= f.label :bag_type_id %><br/>
        <%= f.number_field :bag_type_id %>
      </div>
      <div class="field">
        <%= f.label :no_of_bags %><br/>
        <%= f.number_field :no_of_bags %>
      </div>
      <div class="field">
        <%= f.label :net_amount %><br/>
        <%= f.text_field :net_amount %>
      </div>
      <div class="field">
        <%= f.label :gross_amount %><br/>
        <%= f.text_field :gross_amount %>
      </div>
      <div class="field">
        <%= f.label :net_payable %><br/>
        <%= f.text_field :net_payable %>
      </div>
      <div class="field">
        <%= f.label :amc_id %><br/>
        <%= f.number_field :amc_id %>
      </div>

    </div>
    <div class="actions">
      <%= f.submit(:class => 'btn btn-success btn-md') %>
    </div>
  </div>
<% end %>
