<div style="padding: 5px">
  <div class="row">
    <div class="col-sm-6"><%= get_index_text('Sale Bills') %></div>
    <div class="col-sm-6 text-right"><%= link_to 'New Sale Bill', new_salebill_path, :class => 'btn btn-success', :style => 'color:white;background-color:#99cc00 !important' %></div>
  </div>
  <table class="table table-bordered">
    <tr class="tr_style">
      <th>Agreement type</th>
      <th>Seller type</th>
      <th>Seller</th>
      <th>Trader</th>
      <th>Firm name</th>
      <th>Lot code</th>
      <th>Commodity</th>
      <th>Apx weight</th>
      <th>Rate for qui</th>
      <th>Net weight</th>
      <th>Actual weight</th>
      <th>Fee category</th>
      <th>Bag type</th>
      <th>No of bags</th>
      <th>Net amount</th>
      <th>Gross amount</th>
      <th>Net payable</th>
      <th></th>
      <th></th>
    </tr>

    <% @salebills.each do |salebill| %>
      <tr>
        <td><%= salebill.agreement_type %></td>
        <td><%= salebill.seller_type %></td>
        <td><%= salebill.seller_id %></td>
        <td><%= salebill.trader_id %></td>
        <td><%= salebill.firm_name %></td>
        <td><%= salebill.lot_code %></td>
        <td><%= salebill.commodity_id %></td>
        <td><%= salebill.apx_weight %></td>
        <td><%= salebill.rate_for_qui %></td>
        <td><%= salebill.net_weight %></td>
        <td><%= salebill.actual_weight %></td>
        <td><%= salebill.fee_category_id %></td>
        <td><%= salebill.bag_type_id %></td>
        <td><%= salebill.no_of_bags %></td>
        <td><%= salebill.net_amount %></td>
        <td><%= salebill.gross_amount %></td>
        <td><%= salebill.net_payable %></td>
        <td><%= link_to 'Edit', edit_salebill_path(salebill) %></td>
        <td><%= link_to 'Destroy', salebill, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
  </table>

  <br/>
</div>
