<p id="notice"><%= notice %></p>

<p>
  <b>Agreement type:</b>
  <%= @salebill.agreement_type %>
</p>

<p>
  <b>Seller type:</b>
  <%= @salebill.seller_type %>
</p>

<p>
  <b>Seller:</b>
  <%= @salebill.seller_id %>
</p>

<p>
  <b>Trader:</b>
  <%= @salebill.trader_id %>
</p>

<p>
  <b>Firm name:</b>
  <%= @salebill.firm_name %>
</p>

<p>
  <b>Lot:</b>
  <%= @salebill.lot_id %>
</p>

<p>
  <b>Lot code:</b>
  <%= @salebill.lot_code %>
</p>

<p>
  <b>Commodity:</b>
  <%= @salebill.commodity_id %>
</p>

<p>
  <b>Apx weight:</b>
  <%= @salebill.apx_weight %>
</p>

<p>
  <b>Rate for qui:</b>
  <%= @salebill.rate_for_qui %>
</p>

<p>
  <b>Net weight:</b>
  <%= @salebill.net_weight %>
</p>

<p>
  <b>Actual weight:</b>
  <%= @salebill.actual_weight %>
</p>

<p>
  <b>Fee category:</b>
  <%= @salebill.fee_category_id %>
</p>

<p>
  <b>Bag type:</b>
  <%= @salebill.bag_type_id %>
</p>

<p>
  <b>No of bags:</b>
  <%= @salebill.no_of_bags %>
</p>

<p>
  <b>Net amount:</b>
  <%= @salebill.net_amount %>
</p>

<p>
  <b>Gross amount:</b>
  <%= @salebill.gross_amount %>
</p>

<p>
  <b>Net payable:</b>
  <%= @salebill.net_payable %>
</p>

<p>
  <b>Amc:</b>
  <%= @salebill.amc_id %>
</p>


<%= link_to 'Edit', edit_salebill_path(@salebill) %> |
<%= link_to 'Back', salebills_path %>
