<%= form_for(@cold_storage) do |f| %>
  <% if @cold_storage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cold_storage.errors.count, "error") %> prohibited this cold_storage from being saved:</h2>

      <ul>
        <% @cold_storage.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>




  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :name, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %><br/>
        <%= f.text_field :name, :class => 'form-control', :placeholder => ' Name ', :required => true %>
      </div>
      <div class="field">
        <%= f.label :active, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %><br/>
        <%= f.check_box :active %>
      </div>
      <%= f.hidden_field :amc_id, :value => current_user.amc_id %>
      <div class="actions">
        <%= f.submit(:class => 'btn btn-success btn-md') %>
      </div>
    </div>
  </div>
<% end %>
