<div style="padding: 5px">
  <div class="row">
    <div class="col-sm-6"><%= get_index_text('Cold Storages') %></div>
    <div class="col-sm-6 text-right"><%= link_to 'New Cold storage', new_cold_storage_path, :class => 'btn btn-success', :style => 'color:white;background-color:#99cc00 !important' %></div>
  </div>
  <table class="table table-bordered">
    <tr class="tr_style">
      <th>Name</th>
      <th>Active</th>
      <% if current_user.present? && current_user.is_admin %>
        <th></th>
        <th></th>
      <% end %>
    </tr>

    <% @cold_storages.each do |cold_storage| %>
      <tr>
        <td><%= cold_storage.name %></td>
        <td><%= cold_storage.active %></td>
        <% if current_user.present? && current_user.is_admin %>
          <td><%= link_to 'Edit', edit_cold_storage_path(cold_storage) %></td>
          <td><%= link_to 'Destroy', cold_storage, method: :delete, data: {confirm: 'Are you sure?'} %></td>
        <% end %>
      </tr>
    <% end %>
  </table>

  <br/>

</div>

