<table class="table table-bordered">
  <tr class="tr_style">
<!--    <th>Amc</th>-->
    <th>Gate Pass no</th>
    <th>Vehicle Type</th>
    <th>Vechile No</th>
    <th>Entry Time</th>
    <th>Farmer Name</th>
    <th>Lots </th>
    <th> No Of Bags</th>
    <th>Device Id</th>
<!--    <th>Entered By</th>-->
    <th></th>
    <th></th>
  </tr>

  <% @gate_entries.each do |gate_entry| %>
    <tr>
<!--      <td><%#= Amc.find_by_id(gate_entry.amc_id).try(:name) %></td>-->
      <td><%= gate_entry.gatepass_no %></td>
      <td><%= VehicleType.find_by_id(gate_entry.vehicle_type_id).try(:name) %></td>
      <td><%= gate_entry.vechile_no %></td>
      <td><%= gate_entry.entry_time %></td>
      <% @lots = Lot.find_all_by_gate_entry_pass_no(gate_entry.gatepass_no) %>

       <%farmernames = [] %>
       <%lotcodesnames = [] %>
       <% no_of_bags  = 0 %>

      <% @lots.each do |lot|%>
        <% farmernames << Farmer.find_by_id(lot.seller_id ).try(:name)%>
        <% lotcodesnames << lot.lot_code %>
        <% no_of_bags = no_of_bags + lot.no_of_bags %>
      <% end %>

      <td> <%= farmernames.join(",") %> </td>

      <td> <%= lotcodesnames.join(",") %> </td>
      <td> <%= no_of_bags %></td>

      <td><%= gate_entry.device_id %></td>
<!--      <td><%#= User.find_by_id(gate_entry.created_by).try(:name) %></td>-->
      <td> <a href="/gate_entries/show_lots.pdf?gate_entry_id=<%= gate_entry.id %>" target="_blank" class="btn btn-success"> <i class="fa fa-print" aria-hidden="true"></i> </a></td>
      <td><a href="/lots/new?gate_entry_id=<%= gate_entry.id %>" class="btn-xs btn-link">Add Lot</a></td>
    </tr>
  <% end %>
</table>

<br/>
<% pages = @gate_count / 15 %>
<% if pages > 0 %>
  <ul class="pages">
    <% page_number = (@offset.to_i/15)+1 %>
    <% for index in 0..pages %>
      <li>
        <a href="/gate_entries?limit=15&offset=<%= 15*index %>"><%= page_number == index+1 ? "<span style='color:green;'>#{index+1}</span>".html_safe : index+1 %></a>
      </li>
    <% end %>
  </ul>
<% end %>