<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.min.css">-->


<link href="/admin/css/chossen.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.jquery.min.js"></script>




<%= form_for(@gate_entry) do |f| %>
  <% if @gate_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gate_entry.errors.count, "error") %> prohibited this gate_entry from being saved:</h2>
      <ul>
        <% @gate_entry.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :amc_id, :value => current_user.amc_id %>

  <div class="row">

    <%if current_user.amc_id == 1 || current_user.amc_id == 6  %>
    <div class="col-sm-2">
      <div class="form-group">
        <%= f.label :vechile_no, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %>
        <%= f.text_field :vechile_no, :class => 'form-control', :placeholder => 'Vechile No ', :autofocus => true ,:id=>'VECHICLENO' %>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group">
        <%= f.label :vehicle_type_id, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %>
        <br/>
        <%= f.select(:vehicle_type_id, options_for_select(VehicleType.where("amc_id=?", current_user.amc_id).collect {|u| [u.name, u.id]}, @gate_entry.vehicle_type_id), {:prompt => 'Select Vechile Type'}, :class => 'form-control',:id=>'VECHICLETYPE') %>
      </div>
    </div>

    <div class="col-sm-2">
      <div class="form-group">
        <%= f.label :cold_storage_id, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %>
        <br/>
        <%= f.select(:cold_storage_id, options_for_select(ColdStorage.where("amc_id=?", current_user.amc_id).collect {|u| [u.name, u.id]}, @gate_entry.cold_storage_id), {:prompt => 'Select Cold Storage'}, :class => 'form-control',:id=>'COLDSTORAGE') %>
      </div>
    </div>

      <%else %>

      <div class="col-sm-2">
        <div class="form-group">
          <%= f.label :vechile_no, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %>
          <%= f.text_field :vechile_no, :class => 'form-control', :placeholder => 'Vechile No ', :required => true,  :autofocus => true ,:id=>'VECHICLENO' %>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
          <%= f.label :vehicle_type_id, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %>
          <br/>
          <%= f.select(:vehicle_type_id, options_for_select(VehicleType.where("amc_id=?", current_user.amc_id).collect {|u| [u.name, u.id]}, @gate_entry.vehicle_type_id), {:prompt => 'Select Vechile Type'},  :required => true, :class => 'form-control',:id=>'VECHICLETYPE') %>
        </div>
      </div>
      <div class="col-sm-2"></div>
  <%end %>

    <div class="col-sm-6">
      <br/>
      <div class="text-right">
<!--        <a href="#" class="btn  btn-success" data-toggle="modal" data-target="#myModal"> Add Farmer</a> &nbsp;-->
        <a href="#" class="btn  btn-success" onclick="deleteRow()">Remove Lot</a> &nbsp;
      </div>
    </div>
  </div>
  <div>

    <table id="POITableFamily" class="table table-bordered text-center" style="width: 100%">
<!--      <tr>-->
<!--        <td>Name</td>-->
<!--        <td>Mobile No</td>-->
<!--        <td>District</td>-->
<!--        <td>Mandal</td>-->
<!--        <td>village</td>-->
<!--        <td>Commodity</td>-->
<!--        <td>Bag Type</td>-->
<!--        <td>No Of Bags</td>-->
<!--        <td>CA Firm</td>-->
<!--      </tr>-->
      <tr style="text-align: center;padding: 10px" id="tr_1">

        <td class="td_class">
          <table style="border: none;width: 100%" ,id="POITableFamily123">
            <tr>
              <td class="td_class1" >
                <%= text_field_tag "sellerId_1", '', :placeholder => 'Name', :class => 'form-control sellerId_ ui-autocomplete-input', :id => "sellerId_", :required => true ,:onblur=>"checkFarmers(this.value,this.id)"%>
              </td>
              <td class="td_class1" >
                <%= text_field_tag "mobileNo_1", '', :placeholder => 'Mobile No', :class => 'form-control', :id => "mobileNo_",:pattern => "[0-9].{0}|.{10}", :title => 'Mobile number should be 10 digits',:onkeypress => "return isNumberKey(event)" %>
              </td>
              <td class="td_class1" >
                <%= text_field_tag "district_1", '', :placeholder => 'District', :class => 'form-control district_ ui-autocomplete-input', :id => "district_"%>
              </td>
              <td class="td_class1" >
                <%= text_field_tag "mandal_1", '', :placeholder => 'Mandal', :class => 'form-control mandal_ ui-autocomplete-input', :id => "mandal_"%>
              </td>
            </tr>
            <tr>
              <td class="td_class1" >
                <%= text_field_tag "village_1", '', :placeholder => 'Village', :class => 'form-control village_ ui-autocomplete-input', :id => "village_"%>
              </td>
              <td class="td_class1" >
                <%= select_tag("commodityId_1", options_for_select(Commodity.where("amc_id=? and is_active=?", current_user.amc_id,true).collect {|u| [u.name, u.id]}.sort, ''), :class => 'form-control livesearch text-left',:style=>'text-align: left !important', :prompt => 'Commodity', :required => true, :id => 'commodityId_') %>
              </td>
              <!--        <td class="td_class" style="width: 8%">-->
              <%#= select_tag("bagTypeId_1", options_for_select(BagType.where("amc_id=?", current_user.amc_id).collect {|u| [u.description, u.id]}, ''), :class => 'form-control livesearch', :prompt => 'Bag Type', :required => true, :id => 'bagTypeId_') %>
              <!--        </td>-->
              <td class="td_class1" >
                <%= text_field_tag "noOfBags_1", '', :placeholder => 'No Bags', :class => 'form-control', :id => "noOfBags_", :onkeypress => "return isNumberKey(event)" ,:required => true%>
              </td>
              <td class="td_class1" >
                <%#= text_field_tag "caName_1", '', :placeholder => 'CA Name', :class => 'form-control caName_ ui-autocomplete-input', :id => "caName_"%>
                <%= select_tag("caName_1", options_for_select(User.where("amc_id=? and is_admin=? and is_employee =? and user_role=? and is_active =?", current_user.amc_id, false, false, 'CommissionAgent',true).collect {|u| [u.company_name, u.id]}.sort, ''), :class => 'form-control livesearch1', :prompt => 'Select CA', :required => true, :id => 'caName_') %>
              </td>
            </tr>
          </table>
        </td>



      </tr>
      <tr style="text-align: center;padding: 10px;display: none;background-color: lightgrey !important;" id="tr_2">
        <td>
          <table style="border: none;width: 100%", id="POITableFamily123">
            <tr >

              <td class="td_class1">
                <%= text_field_tag "sellerId_2", '', :placeholder => 'Name', :class => 'form-control sellerId_ ui-autocomplete-input', :id => "sellerId_2" ,:onblur=>"checkFarmers(this.value,this.id)" %>
              </td>
              <td class="td_class1">
                <%= text_field_tag "mobileNo_2",  '', :placeholder => 'Mobile No', :class => 'form-control', :id => "mobileNo_2", :pattern => "[0-9].{0}|.{10}", :title => 'Mobile number should be 10 digits',:onkeypress => "return isNumberKey(event)" %>
              </td>
              <td class="td_class1">
                <%= text_field_tag "district_2", '', :placeholder => 'District', :class => 'form-control district_ ui-autocomplete-input', :id => "district_2"%>
              </td>
              <td class="td_class1">
                <%= text_field_tag "mandal_2", '', :placeholder => 'Mandal', :class => 'form-control mandal_ ui-autocomplete-input', :id => "mandal_2"%>
              </td>
            </tr>
            <tr>
              <td class="td_class1">
                <%= text_field_tag "village_2", '', :placeholder => 'Village', :class => 'form-control village_ ui-autocomplete-input', :id => "village_2"%>
              </td>
              <td class="td_class1">
                <%= select_tag("commodityId_2", options_for_select(Commodity.where("amc_id=? and is_active=?", current_user.amc_id,true).collect {|u| [u.name, u.id]}.sort, ''), :class => 'form-control livesearch', :prompt => 'Commodity', :id => 'commodityId_2') %>
              </td>
              <!--        <td class="td_class">-->
              <%#= select_tag("bagTypeId_2", options_for_select(BagType.where("amc_id=?", current_user.amc_id).collect {|u| [u.description, u.id]}, ''), :class => 'form-control livesearch', :prompt => 'Bag Type', :id => 'bagTypeId_2') %>
              <!--        </td>-->
              <td class="td_class1">
                <%= text_field_tag "noOfBags_2", '', :placeholder => 'No Bags', :class => 'form-control ', :id => "noOfBags_2", :onkeypress => "return isNumberKey(event)" %>
              </td>
              <td class="td_class1">
                <%#= text_field_tag "caName_2", '', :placeholder => 'CA Name', :class => 'form-control caName_ ui-autocomplete-input', :id => "caName_2"%>
                <%= select_tag("caName_2", options_for_select(User.where("amc_id=? and is_admin=? and is_employee =? and user_role=? and is_active =?", current_user.amc_id, false, false, 'CommissionAgent',true).collect {|u| [u.company_name, u.id]}.sort, ''), :class => 'form-control custom-select', :prompt => 'Select CA', :id => 'caName_2') %>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr style="text-align: center;padding: 10px;display: none" id="tr_3">

        <td>
          <table style="border: none;width: 100%" , id="POITableFamily123">
            <tr>

              <td class="td_class1">
                <%= text_field_tag "sellerId_3", '', :placeholder => 'Name', :class => 'form-control sellerId_ ui-autocomplete-input', :id => "sellerId_3" ,:onblur=>"checkFarmers(this.value,this.id)" %>
              </td>
              <td class="td_class1">
                <%= text_field_tag "mobileNo_3", '', :placeholder => 'Mobile No', :class => 'form-control', :id => "mobileNo_3",:pattern => "[0-9].{0}|.{10}", :title => 'Mobile number should be 10 digits',:onkeypress => "return isNumberKey(event)" %>
              </td>
              <td class="td_class1">
                <%= text_field_tag "district_3", '', :placeholder => 'District', :class => 'form-control district_ ui-autocomplete-input', :id => "district_3"%>
              </td>
              <td class="td_class1">
                <%= text_field_tag "mandal_3", '', :placeholder => 'Mandal', :class => 'form-control mandal_ ui-autocomplete-input', :id => "mandal_3"%>
              </td>
            </tr>
            <tr>

              <td class="td_class1">
                <%= text_field_tag "village_3", '', :placeholder => 'Village', :class => 'form-control village_ ui-autocomplete-input', :id => "village_3"%>
              </td>
              <td class="td_class1">
                <%= select_tag("commodityId_3", options_for_select(Commodity.where("amc_id=? and is_active=?", current_user.amc_id,true).collect {|u| [u.name, u.id]}.sort, ''), :class => 'form-control livesearch', :prompt => 'Commodity', :id => 'commodityId_3') %>
              </td>
              <!--        <td class="td_class">-->
              <%#= select_tag("bagTypeId_3", options_for_select(BagType.where("amc_id=?", current_user.amc_id).collect {|u| [u.description, u.id]}, ''), :class => 'form-control livesearch', :prompt => 'Bag Type', :id => 'bagTypeId_3') %>
              <!--        </td>-->
              <td class="td_class1">
                <%= text_field_tag "noOfBags_3", '', :placeholder => 'No Bags', :class => 'form-control', :id => "noOfBags_3", :onkeypress => "return isNumberKey(event)" %>
              </td>
              <td class="td_class1">
                <%#= text_field_tag "caName_3", '', :placeholder => 'CA Name', :class => 'form-control caName_ ui-autocomplete-input', :id => "caName_3"%>
                <%= select_tag("caName_3", options_for_select(User.where("amc_id=? and is_admin=? and is_employee =? and user_role=? and is_active =?", current_user.amc_id, false, false, 'CommissionAgent',true).collect {|u| [u.company_name, u.id]}.sort, ''), :class => 'form-control custom-select', :prompt => 'Select CA', :id => 'caName_3') %>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr style="text-align: center;padding: 10px;display: none;background-color: lightgrey !important;" id="tr_4" >

        <td>
          <table style="border: none;width: 100%" , id="POITableFamily123">
            <tr>
              <td class="td_class1">
                <%= text_field_tag "sellerId_4", '', :placeholder => 'Name', :class => 'form-control sellerId_ ui-autocomplete-input', :id => "sellerId_4"  ,:onblur=>"checkFarmers(this.value,this.id)"%>
              </td>
              <td class="td_class1">
                <%= text_field_tag "mobileNo_4", '', :placeholder => 'Mobile No', :class => 'form-control', :id => "mobileNo_4", :onkeypress => "return isNumberKey(event)",:pattern => "[0-9].{0}|.{10}", :title => 'Mobile number should be 10 digits' %>
              </td>
              <td class="td_class1">
                <%= text_field_tag "district_4", '', :placeholder => 'District', :class => 'form-control district_ ui-autocomplete-input', :id => "district_4"%>
              </td>
              <td class="td_class1">
                <%= text_field_tag "mandal_4", '', :placeholder => 'Mandal', :class => 'form-control mandal_ ui-autocomplete-input', :id => "mandal_4"%>
              </td>
            </tr>
            <tr>
              <td class="td_class1">
                <%= text_field_tag "village_4", '', :placeholder => 'Village', :class => 'form-control village_ ui-autocomplete-input', :id => "village_4"%>
              </td>
              <td class="td_class1">
                <%= select_tag("commodityId_4", options_for_select(Commodity.where("amc_id=? and is_active=?", current_user.amc_id,true).collect {|u| [u.name, u.id]}.sort, ''), :class => 'form-control livesearch', :prompt => 'Commodity', :id => 'commodityId_4') %>
              </td>
              <!--        <td class="td_class">-->
              <%#= select_tag("bagTypeId_4", options_for_select(BagType.where("amc_id=?", current_user.amc_id).collect {|u| [u.description, u.id]}, ''), :class => 'form-control livesearch', :prompt => 'Bag Type', :id => 'bagTypeId_4') %>
              <!--        </td>-->
              <td class="td_class1">
                <%= text_field_tag "noOfBags_4", '', :placeholder => 'No Bags', :class => 'form-control', :id => "noOfBags_4", :onkeypress => "return isNumberKey(event)" %>
              </td>
              <td class="td_class1">
                <%#= text_field_tag "caName_4", '', :placeholder => 'CA Name', :class => 'form-control caName_ ui-autocomplete-input', :id => "caName_4"%>
                <%= select_tag("caName_4", options_for_select(User.where("amc_id=? and is_admin=? and is_employee =? and user_role=? and is_active =?", current_user.amc_id, false, false, 'CommissionAgent',true).collect {|u| [u.company_name, u.id]}.sort, ''), :class => 'form-control custom-select', :prompt => 'Select CA', :id => 'caName_4') %>
              </td>
            </tr>
          </table>
        </td>

      </tr>
      <tr style="text-align: center;padding: 10px;display: none;" id="tr_5">

        <td>
          <table style="border: none;width: 100%" , id="POITableFamily123">
            <tr>
              <td class="td_class1">
                <%= text_field_tag "sellerId_5", '', :placeholder => 'Name', :class => 'form-control sellerId_ ui-autocomplete-input', :id => "sellerId_5" ,:onblur=>"checkFarmers(this.value,this.id)" %>
              </td>
              <td class="td_class1">
                <%= text_field_tag "mobileNo_5", '', :placeholder => 'Mobile No', :class => 'form-control', :id => "mobileNo_5", :onkeypress => "return isNumberKey(event)",:pattern => "[0-9].{0}|.{10}", :title => 'Mobile number should be 10 digits' %>
              </td>

              <td class="td_class1">
                <%= text_field_tag "district_5", '', :placeholder => 'District', :class => 'form-control district_ ui-autocomplete-input', :id => "district_5" %>
              </td>
              <td class="td_class1">
                <%= text_field_tag "mandal_5", '', :placeholder => 'Mandal', :class => 'form-control mandal_ ui-autocomplete-input', :id => "mandal_5"%>
              </td>
            </tr>
            <tr>
              <td class="td_class1">
                <%= text_field_tag "village_5", '', :placeholder => 'Village', :class => 'form-control village_ ui-autocomplete-input', :id => "village_5"%>
              </td>
              <td class="td_class1">
                <%= select_tag("commodityId_5", options_for_select(Commodity.where("amc_id=? and is_active=?", current_user.amc_id,true).collect {|u| [u.name, u.id]}.sort, ''), :class => 'form-control livesearch', :prompt => 'Commodity', :id => 'commodityId_5') %>
              </td>
              <!--        <td class="td_class">-->
              <%#= select_tag("bagTypeId_5", options_for_select(BagType.where("amc_id=?", current_user.amc_id).collect {|u| [u.description, u.id]}, ''), :class => 'form-control livesearch', :prompt => ' Bag Type', :id => 'bagTypeId_5') %>
              <!--        </td>-->
              <td class="td_class1">
                <%= text_field_tag "noOfBags_5", '', :placeholder => 'No Bags', :class => 'form-control', :id => "noOfBags_5", :onkeypress => "return isNumberKey(event)" %>
              </td>
              <td class="td_class1">
                <%#= text_field_tag "caName_5", '', :placeholder => 'CA Name', :class => 'form-control caName_ ui-autocomplete-input', :id => "caName_5"%>
                <%= select_tag("caName_5", options_for_select(User.where("amc_id=? and is_admin=? and is_employee =? and user_role=? and is_active =?", current_user.amc_id, false, false, 'CommissionAgent',true).collect {|u| [u.company_name, u.id]}.sort, ''), :class => 'form-control custom-select', :prompt => 'Select CA',  :id => 'caName_5') %>
              </td>
            </tr>
          </table>
        </td>



      </tr>



      <tr style="text-align: center;padding: 10px;display: none;background-color: lightgrey !important;" id="tr_6">

        <td>
          <table style="border: none;width: 100%" , id="POITableFamily123">
            <tr>
              <td class="td_class1">
                <%= text_field_tag "sellerId_6", '', :placeholder => 'Name', :class => 'form-control sellerId_ ui-autocomplete-input', :id => "sellerId_6" ,:onblur=>"checkFarmers(this.value,this.id)"%>
              </td>
              <td class="td_class1">
                <%= text_field_tag "mobileNo_6", '', :placeholder => 'Mobile No', :class => 'form-control', :id => "mobileNo_6",:pattern => "[0-9].{0}|.{10}", :title => 'Mobile number should be 10 digits', :onkeypress => "return isNumberKey(event)" %>
              </td>

              <td class="td_class1">
                <%= text_field_tag "district_6", '', :placeholder => 'District', :class => 'form-control district_ ui-autocomplete-input', :id => "district_6"  %>
              </td>
              <td class="td_class1">
                <%= text_field_tag "mandal_6", '', :placeholder => 'Mandal', :class => 'form-control mandal_ ui-autocomplete-input', :id => "mandal_6"%>
              </td>
            </tr>
            <tr>
              <td class="td_class1">
                <%= text_field_tag "village_6", '', :placeholder => 'Village', :class => 'form-control village_ ui-autocomplete-input', :id => "village_6"%>
              </td>
              <td class="td_class1">
                <%= select_tag("commodityId_6", options_for_select(Commodity.where("amc_id=? and is_active=?", current_user.amc_id,true).collect {|u| [u.name, u.id]}.sort, ''), :class => 'form-control livesearch', :prompt => 'Commodity', :id => 'commodityId_6') %>
              </td>
              <!--        <td class="td_class">-->
              <%#= select_tag("bagTypeId_6", options_for_select(BagType.where("amc_id=?", current_user.amc_id).collect {|u| [u.description, u.id]}, ''), :class => 'form-control livesearch', :prompt => ' Bag Type', :id => 'bagTypeId_6') %>
              <!--        </td>-->
              <td class="td_class1">
                <%= text_field_tag "noOfBags_6", '', :placeholder => 'No Bags', :class => 'form-control', :id => "noOfBags_6", :onkeypress => "return isNumberKey(event)" %>
              </td>
              <td class="td_class1">
                <%#= text_field_tag "caName_6", '', :placeholder => 'CA Name', :class => 'form-control caName_ ui-autocomplete-input', :id => "caName_6"%>
                <%= select_tag("caName_6", options_for_select(User.where("amc_id=? and is_admin=? and is_employee =? and user_role=? and is_active =?", current_user.amc_id, false, false, 'CommissionAgent',true).collect {|u| [u.company_name, u.id]}.sort, ''), :class => 'form-control custom-select', :prompt => 'Select CA',  :id => 'caName_6') %>
              </td>
            </tr>
          </table>
        </td>



      </tr>

      <tr style="text-align: center;padding: 10px;display: none" id="tr_7">

        <td>
          <table style="border: none;width: 100%" , id="POITableFamily123">
            <tr>
              <td class="td_class">
                <%= text_field_tag "sellerId_7", '', :placeholder => 'Name', :class => 'form-control sellerId_ ui-autocomplete-input', :id => "sellerId_7" ,:onblur=>"checkFarmers(this.value,this.id)" %>
              </td>
              <td class="td_class">
                <%= text_field_tag "mobileNo_7",  '', :placeholder => 'Mobile No', :class => 'form-control', :id => "mobileNo_7", :onkeypress => "return isNumberKey(event)",:pattern => "[0-9].{0}|.{10}", :title => 'Mobile number should be 10 digits' %>
              </td>
              <td class="td_class">
                <%= text_field_tag "district_7", '', :placeholder => 'District', :class => 'form-control district_ ui-autocomplete-input', :id => "district_7"  %>
              </td>
              <td class="td_class">
                <%= text_field_tag "mandal_7", '', :placeholder => 'Mandal', :class => 'form-control mandal_ ui-autocomplete-input', :id => "mandal_7"%>
              </td>
            </tr>
            <tr>

              <td class="td_class">
                <%= text_field_tag "village_7", '', :placeholder => 'Village', :class => 'form-control village_ ui-autocomplete-input', :id => "village_7"%>
              </td>
              <td class="td_class">
                <%= select_tag("commodityId_7", options_for_select(Commodity.where("amc_id=? and is_active=?", current_user.amc_id,true).collect {|u| [u.name, u.id]}.sort, ''), :class => 'form-control livesearch', :prompt => 'Commodity', :id => 'commodityId_7') %>
              </td>
              <!--        <td class="td_class">-->
              <%#= select_tag("bagTypeId_7", options_for_select(BagType.where("amc_id=?", current_user.amc_id).collect {|u| [u.description, u.id]}, ''), :class => 'form-control livesearch', :prompt => ' Bag Type', :id => 'bagTypeId_7') %>
              <!--        </td>-->
              <td class="td_class">
                <%= text_field_tag "noOfBags_7", '', :placeholder => 'No Bags', :class => 'form-control', :id => "noOfBags_7", :onkeypress => "return isNumberKey(event)" %>
              </td>
              <td class="td_class">
                <%# text_field_tag "caName_7", '', :placeholder => 'CA Name', :class => 'form-control caName_ ui-autocomplete-input', :id => "caName_7"%>
                <%= select_tag("caName_7", options_for_select(User.where("amc_id=? and is_admin=? and is_employee =? and user_role=? and is_active =?", current_user.amc_id, false, false, 'CommissionAgent',true).collect {|u| [u.company_name, u.id]}.sort, ''), :class => 'form-control custom-select', :prompt => 'Select CA',  :id => 'caName_7') %>
              </td>
            </tr>
          </table>
        </td>



      </tr>
      <tr style="text-align: center;padding: 10px;display: none;background-color: lightgrey !important;" id="tr_8">
        <td>
          <table style="border: none;width: 100%" , id="POITableFamily123">
            <tr>
              <td class="td_class1">
                <%= text_field_tag "sellerId_8", '', :placeholder => 'Name', :class => 'form-control sellerId_ ui-autocomplete-input', :id => "sellerId_8" ,:onblur=>"checkFarmers(this.value,this.id)" %>
              </td>
              <td class="td_class1">
                <%= text_field_tag "mobileNo_8",  '', :placeholder => 'Mobile No', :class => 'form-control', :id => "mobileNo_8",:pattern => "[0-9].{0}|.{10}", :title => 'Mobile number should be 10 digits', :onkeypress => "return isNumberKey(event)" %>
              </td>
              <td class="td_class1">
                <%= text_field_tag "district_8", '', :placeholder => 'District', :class => 'form-control district_ ui-autocomplete-input', :id => "district_8"  %>
              </td>
              <td class="td_class1">
                <%= text_field_tag "mandal_8", '', :placeholder => 'Mandal', :class => 'form-control mandal_ ui-autocomplete-input', :id => "mandal_8"%>
              </td>
            </tr>
            <tr>
              <td class="td_class1">
                <%= text_field_tag "village_8", '', :placeholder => 'Village', :class => 'form-control village_ ui-autocomplete-input', :id => "village_8"%>
              </td>
              <td class="td_class1">
                <%= select_tag("commodityId_8", options_for_select(Commodity.where("amc_id=? and is_active=?", current_user.amc_id,true).collect {|u| [u.name, u.id]}.sort, ''), :class => 'form-control livesearch', :prompt => 'Commodity', :id => 'commodityId_8') %>
              </td>
              <!--        <td class="td_class">-->
              <%#= select_tag("bagTypeId_8", options_for_select(BagType.where("amc_id=?", current_user.amc_id).collect {|u| [u.description, u.id]}, ''), :class => 'form-control livesearch', :prompt => 'Bag Type', :id => 'bagTypeId_8') %>
              <!--        </td>-->
              <td class="td_class1">
                <%= text_field_tag "noOfBags_8", '', :placeholder => 'No Bags', :class => 'form-control', :id => "noOfBags_8", :onkeypress => "return isNumberKey(event)" %>
              </td>
              <td class="td_class1">
                <%#= text_field_tag "caName_8", '', :placeholder => 'CA Name', :class => 'form-control caName_ ui-autocomplete-input', :id => "caName_8"%>
                <%= select_tag("caName_8", options_for_select(User.where("amc_id=? and is_admin=? and is_employee =? and user_role=? and is_active =?", current_user.amc_id, false, false, 'CommissionAgent',true).collect {|u| [u.company_name, u.id]}.sort, ''), :class => 'form-control custom-select', :prompt => 'Select CA',  :id => 'caName_8') %>
              </td>
            </tr>
          </table>
        </td>



      </tr>


      <tr style="text-align: center;padding: 10px;display: none;" id="tr_9">
        <td>
          <table style="border: none;width: 100%" , id="POITableFamily123">
            <tr>
              <td class="td_class1">
                <%= text_field_tag "sellerId_9", '', :placeholder => 'Name', :class => 'form-control sellerId_ ui-autocomplete-input', :id => "sellerId_9" ,:onblur=>"checkFarmers(this.value,this.id)" %>
              </td>
              <td class="td_class1">
                <%= text_field_tag "mobileNo_9",  '', :placeholder => 'Mobile No', :class => 'form-control',:pattern => "[0-9].{0}|.{10}", :title => 'Mobile number should be 10 digits', :id => "mobileNo_9", :onkeypress => "return isNumberKey(event)" %>
              </td>
              <td class="td_class1">
                <%= text_field_tag "district_9", '', :placeholder => 'District', :class => 'form-control district_ ui-autocomplete-input', :id => "district_9"  %>
              </td>
              <td class="td_class1">
                <%= text_field_tag "mandal_9", '', :placeholder => 'Mandal', :class => 'form-control mandal_ ui-autocomplete-input', :id => "mandal_9"%>
              </td>
            </tr>
            <tr>
              <td class="td_class1">
                <%= text_field_tag "village_9", '', :placeholder => 'Village', :class => 'form-control village_ ui-autocomplete-input', :id => "village_9"%>
              </td>
              <td class="td_class1">
                <%= select_tag("commodityId_9", options_for_select(Commodity.where("amc_id=? and is_active=?", current_user.amc_id,true).collect {|u| [u.name, u.id]}.sort, ''), :class => 'form-control livesearch', :prompt => 'Commodity', :id => 'commodityId_9') %>
              </td>
              <!--        <td class="td_class">-->
              <%#= select_tag("bagTypeId_9", options_for_select(BagType.where("amc_id=?", current_user.amc_id).collect {|u| [u.description, u.id]}, ''), :class => 'form-control livesearch', :prompt => 'Bag Type', :id => 'bagTypeId_9') %>
              <!--        </td>-->
              <td class="td_class1">
                <%= text_field_tag "noOfBags_9", '', :placeholder => 'No Bags', :class => 'form-control', :id => "noOfBags_9", :onkeypress => "return isNumberKey(event)" %>
              </td>
              <td class="td_class1">
                <%#= text_field_tag "caName_9", '', :placeholder => 'CA Name', :class => 'form-control caName_ ui-autocomplete-input', :id => "caName_9"%>
                <%= select_tag("caName_9", options_for_select(User.where("amc_id=? and is_admin=? and is_employee =? and user_role=? and is_active =?", current_user.amc_id, false, false, 'CommissionAgent',true).collect {|u| [u.company_name, u.id]}.sort, ''), :class => 'form-control custom-select', :prompt => 'Select CA',  :id => 'caName_9') %>
              </td>
            </tr>
          </table>
        </td>



      </tr>



      <tr style="text-align: center;padding: 10px;display: none;background-color: lightgrey !important;" id="tr_10">

        <td>
          <table style="border: none;width: 100%" , id="POITableFamily123">
            <tr>
              <td class="td_class1">
                <%= text_field_tag "sellerId_10", '', :placeholder => 'Name', :class => 'form-control sellerId_ ui-autocomplete-input', :id => "sellerId_10" ,:onblur=>"checkFarmers(this.value,this.id)" %>
              </td>
              <td class="td_class1">
                <%= text_field_tag "mobileNo_10", '', :placeholder => 'Mobile No', :class => 'form-control',:pattern => "[0-9].{0}|.{10}", :title => 'Mobile number should be 10 digits', :id => "mobileNo_10", :onkeypress => "return isNumberKey(event)" %>
              </td>
              <td class="td_class">
                <%= text_field_tag "district_10", '', :placeholder => 'District', :class => 'form-control district_ ui-autocomplete-input', :id => "district_10"  %>
              </td>
              <td class="td_class">
                <%= text_field_tag "mandal_10", '', :placeholder => 'Mandal', :class => 'form-control mandal_ ui-autocomplete-input', :id => "mandal_10"%>
              </td>
            </tr>
            <tr>

              <td class="td_class">
                <%= text_field_tag "village_10", '', :placeholder => 'Village', :class => 'form-control village_ ui-autocomplete-input', :id => "village_10"%>
              </td>
              <td class="td_class">
                <%= select_tag("commodityId_10", options_for_select(Commodity.where("amc_id=? and is_active=?", current_user.amc_id,true).collect {|u| [u.name, u.id]}.sort, ''), :class => 'form-control livesearch', :prompt => 'Commodity', :id => 'commodityId_10') %>
              </td>
              <!--        <td class="td_class">-->
              <%#= select_tag("bagTypeId_10", options_for_select(BagType.where("amc_id=?", current_user.amc_id).collect {|u| [u.description, u.id]}, ''), :class => 'form-control livesearch', :prompt => 'Bag Type', :id => 'bagTypeId_10') %>
              <!--        </td>-->
              <td class="td_class">
                <%= text_field_tag "noOfBags_10", '', :placeholder => 'No Bags', :class => 'form-control', :id => "noOfBags_10", :onkeypress => "return isNumberKey(event)" %>
              </td>
              <td class="td_class">
                <%#= text_field_tag "caName_10", '', :placeholder => 'CA Name', :class => 'form-control caName_ ui-autocomplete-input', :id => "caName_10"%>
                <%= select_tag("caName_10", options_for_select(User.where("amc_id=? and is_admin=? and is_employee =? and user_role=? and is_active =?", current_user.amc_id, false, false, 'CommissionAgent',true).collect {|u| [u.company_name, u.id]}.sort, ''), :class => 'form-control custom-select', :prompt => 'Select CA',  :id => 'caName_10') %>
              </td>
            </tr>
          </table>
        </td>
      </tr>



      <tr style="text-align: center;padding: 10px;display: none;" id="tr_11">

        <td>
          <table style="border: none;width: 100%" , id="POITableFamily123">
            <tr>
              <td class="td_class1">
                <%= text_field_tag "sellerId_11", '', :placeholder => 'Name', :class => 'form-control sellerId_ ui-autocomplete-input', :id => "sellerId_10" ,:onblur=>"checkFarmers(this.value,this.id)" %>
              </td>
              <td class="td_class1">
                <%= text_field_tag "mobileNo_11", '', :placeholder => 'Mobile No', :class => 'form-control',:pattern => "[0-9].{0}|.{10}", :title => 'Mobile number should be 10 digits', :id => "mobileNo_10", :onkeypress => "return isNumberKey(event)" %>
              </td>
              <td class="td_class">
                <%= text_field_tag "district_11", '', :placeholder => 'District', :class => 'form-control district_ ui-autocomplete-input', :id => "district_10"  %>
              </td>
              <td class="td_class">
                <%= text_field_tag "mandal_11", '', :placeholder => 'Mandal', :class => 'form-control mandal_ ui-autocomplete-input', :id => "mandal_10"%>
              </td>
            </tr>
            <tr>

              <td class="td_class">
                <%= text_field_tag "village_11", '', :placeholder => 'Village', :class => 'form-control village_ ui-autocomplete-input', :id => "village_10"%>
              </td>
              <td class="td_class">
                <%= select_tag("commodityId_11", options_for_select(Commodity.where("amc_id=? and is_active=?", current_user.amc_id,true).collect {|u| [u.name, u.id]}.sort, ''), :class => 'form-control livesearch', :prompt => 'Commodity', :id => 'commodityId_10') %>
              </td>
              <!--        <td class="td_class">-->
              <%#= select_tag("bagTypeId_10", options_for_select(BagType.where("amc_id=?", current_user.amc_id).collect {|u| [u.description, u.id]}, ''), :class => 'form-control livesearch', :prompt => 'Bag Type', :id => 'bagTypeId_10') %>
              <!--        </td>-->
              <td class="td_class">
                <%= text_field_tag "noOfBags_11", '', :placeholder => 'No Bags', :class => 'form-control', :id => "noOfBags_10", :onkeypress => "return isNumberKey(event)" %>
              </td>
              <td class="td_class">
                <%#= text_field_tag "caName_11", '', :placeholder => 'CA Name', :class => 'form-control caName_ ui-autocomplete-input', :id => "caName_11"%>
                <%= select_tag("caName_11", options_for_select(User.where("amc_id=? and is_admin=? and is_employee =? and user_role=? and is_active =?", current_user.amc_id, false, false, 'CommissionAgent',true).collect {|u| [u.company_name, u.id]}.sort, ''), :class => 'form-control custom-select', :prompt => 'Select CA',  :id => 'caName_10') %>
              </td>
            </tr>
          </table>
        </td>
      </tr>




      <tr style="text-align: center;padding: 10px;display: none;background-color: lightgrey !important;" id="tr_12">
        <td>
          <table style="border: none;width: 100%" , id="POITableFamily123">
            <tr>
              <td class="td_class1">
                <%= text_field_tag "sellerId_12", '', :placeholder => 'Name', :class => 'form-control sellerId_ ui-autocomplete-input', :id => "sellerId_10" ,:onblur=>"checkFarmers(this.value,this.id)" %>
              </td>
              <td class="td_class1">
                <%= text_field_tag "mobileNo_12", '', :placeholder => 'Mobile No', :class => 'form-control',:pattern => "[0-9].{0}|.{10}", :title => 'Mobile number should be 10 digits', :id => "mobileNo_10", :onkeypress => "return isNumberKey(event)" %>
              </td>
              <td class="td_class">
                <%= text_field_tag "district_12", '', :placeholder => 'District', :class => 'form-control district_ ui-autocomplete-input', :id => "district_10"  %>
              </td>
              <td class="td_class">
                <%= text_field_tag "mandal_12", '', :placeholder => 'Mandal', :class => 'form-control mandal_ ui-autocomplete-input', :id => "mandal_10"%>
              </td>
            </tr>
            <tr>

              <td class="td_class">
                <%= text_field_tag "village_12", '', :placeholder => 'Village', :class => 'form-control village_ ui-autocomplete-input', :id => "village_10"%>
              </td>
              <td class="td_class">
                <%= select_tag("commodityId_12", options_for_select(Commodity.where("amc_id=? and is_active=?", current_user.amc_id,true).collect {|u| [u.name, u.id]}.sort, ''), :class => 'form-control livesearch', :prompt => 'Commodity', :id => 'commodityId_10') %>
              </td>
              <!--        <td class="td_class">-->
              <%#= select_tag("bagTypeId_10", options_for_select(BagType.where("amc_id=?", current_user.amc_id).collect {|u| [u.description, u.id]}, ''), :class => 'form-control livesearch', :prompt => 'Bag Type', :id => 'bagTypeId_10') %>
              <!--        </td>-->
              <td class="td_class">
                <%= text_field_tag "noOfBags_12", '', :placeholder => 'No Bags', :class => 'form-control', :id => "noOfBags_10", :onkeypress => "return isNumberKey(event)" %>
              </td>
              <td class="td_class">
                <%#= text_field_tag "caName_12", '', :placeholder => 'CA Name', :class => 'form-control caName_ ui-autocomplete-input', :id => "caName_12"%>
                <%= select_tag("caName_12", options_for_select(User.where("amc_id=? and is_admin=? and is_employee =? and user_role=? and is_active =?", current_user.amc_id, false, false, 'CommissionAgent',true).collect {|u| [u.company_name, u.id]}.sort, ''), :class => 'form-control custom-select', :prompt => 'Select CA',  :id => 'caName_10') %>
              </td>
            </tr>
          </table>
        </td>
      </tr>



      <tr style="text-align: center;padding: 10px;display: none;" id="tr_13">
        <td>
          <table style="border: none;width: 100%" , id="POITableFamily123">
            <tr>
              <td class="td_class1">
                <%= text_field_tag "sellerId_13", '', :placeholder => 'Name', :class => 'form-control sellerId_ ui-autocomplete-input', :id => "sellerId_10" ,:onblur=>"checkFarmers(this.value,this.id)" %>
              </td>
              <td class="td_class1">
                <%= text_field_tag "mobileNo_13", '', :placeholder => 'Mobile No', :class => 'form-control',:pattern => "[0-9].{0}|.{10}", :title => 'Mobile number should be 10 digits', :id => "mobileNo_10", :onkeypress => "return isNumberKey(event)" %>
              </td>
              <td class="td_class">
                <%= text_field_tag "district_13", '', :placeholder => 'District', :class => 'form-control district_ ui-autocomplete-input', :id => "district_10"  %>
              </td>
              <td class="td_class">
                <%= text_field_tag "mandal_13", '', :placeholder => 'Mandal', :class => 'form-control mandal_ ui-autocomplete-input', :id => "mandal_10"%>
              </td>
            </tr>
            <tr>

              <td class="td_class">
                <%= text_field_tag "village_13", '', :placeholder => 'Village', :class => 'form-control village_ ui-autocomplete-input', :id => "village_10"%>
              </td>
              <td class="td_class">
                <%= select_tag("commodityId_13", options_for_select(Commodity.where("amc_id=? and is_active=?", current_user.amc_id,true).collect {|u| [u.name, u.id]}.sort, ''), :class => 'form-control livesearch', :prompt => 'Commodity', :id => 'commodityId_10') %>
              </td>
              <!--        <td class="td_class">-->
              <%#= select_tag("bagTypeId_10", options_for_select(BagType.where("amc_id=?", current_user.amc_id).collect {|u| [u.description, u.id]}, ''), :class => 'form-control livesearch', :prompt => 'Bag Type', :id => 'bagTypeId_10') %>
              <!--        </td>-->
              <td class="td_class">
                <%= text_field_tag "noOfBags_13", '', :placeholder => 'No Bags', :class => 'form-control', :id => "noOfBags_10", :onkeypress => "return isNumberKey(event)" %>
              </td>
              <td class="td_class">
                <%#= text_field_tag "caName_13", '', :placeholder => 'CA Name', :class => 'form-control caName_ ui-autocomplete-input', :id => "caName_13"%>
                <%= select_tag("caName_13", options_for_select(User.where("amc_id=? and is_admin=? and is_employee =? and user_role=? and is_active =?", current_user.amc_id, false, false, 'CommissionAgent',true ).collect {|u| [u.company_name, u.id]}.sort, ''), :class => 'form-control custom-select', :prompt => 'Select CA',  :id => 'caName_10') %>
              </td>
            </tr>
          </table>
        </td>
      </tr>



      <tr style="text-align: center;padding: 10px;display: none;;background-color: lightgrey !important" id="tr_14">
        <td>
          <table style="border: none;width: 100%;" , id="POITableFamily123">
            <tr>
              <td class="td_class1">
                <%= text_field_tag "sellerId_14", '', :placeholder => 'Name', :class => 'form-control sellerId_ ui-autocomplete-input', :id => "sellerId_10" ,:onblur=>"checkFarmers(this.value,this.id)" %>
              </td>
              <td class="td_class1">
                <%= text_field_tag "mobileNo_14", '', :placeholder => 'Mobile No', :class => 'form-control',:pattern => "[0-9].{0}|.{10}", :title => 'Mobile number should be 10 digits', :id => "mobileNo_10", :onkeypress => "return isNumberKey(event)" %>
              </td>
              <td class="td_class">
                <%= text_field_tag "district_14", '', :placeholder => 'District', :class => 'form-control district_ ui-autocomplete-input', :id => "district_10"  %>
              </td>
              <td class="td_class">
                <%= text_field_tag "mandal_14", '', :placeholder => 'Mandal', :class => 'form-control mandal_ ui-autocomplete-input', :id => "mandal_10"%>

              </td>
            </tr>
            <tr>

              <td class="td_class">
                <%= text_field_tag "village_14", '', :placeholder => 'Village', :class => 'form-control village_ ui-autocomplete-input', :id => "village_10"%>
              </td>
              <td class="td_class">
                <%= select_tag("commodityId_14", options_for_select(Commodity.where("amc_id=? and is_active=?", current_user.amc_id,true).collect {|u| [u.name, u.id]}.sort, ''), :class => 'form-control livesearch', :prompt => 'Commodity', :id => 'commodityId_10') %>
              </td>
              <!--        <td class="td_class">-->
              <%#= select_tag("bagTypeId_10", options_for_select(BagType.where("amc_id=?", current_user.amc_id).collect {|u| [u.description, u.id]}, ''), :class => 'form-control livesearch', :prompt => 'Bag Type', :id => 'bagTypeId_10') %>
              <!--        </td>-->
              <td class="td_class">
                <%= text_field_tag "noOfBags_14", '', :placeholder => 'No Bags', :class => 'form-control', :id => "noOfBags_10", :onkeypress => "return isNumberKey(event)" %>
              </td>
              <td class="td_class">
                <%#= text_field_tag "caName_14", '', :placeholder => 'CA Name', :class => 'form-control caName_ ui-autocomplete-input', :id => "caName_14"%>
                <%= select_tag("caName_14", options_for_select(User.where("amc_id=? and is_admin=? and is_employee =? and user_role=? and is_active =?", current_user.amc_id, false, false, 'CommissionAgent',true).collect {|u| [u.company_name, u.id]}.sort, ''), :class => 'form-control custom-select', :prompt => 'Select CA',  :id => 'caName_10') %>
              </td>
            </tr>
          </table>
        </td>
      </tr>

      <tr style="text-align: center;padding: 10px;display: none;" id="tr_15">
        <td>
          <table style="border: none;width: 100%" , id="POITableFamily123">
            <tr>
              <td class="td_class1">
                <%= text_field_tag "sellerId_15", '', :placeholder => 'Name', :class => 'form-control sellerId_ ui-autocomplete-input', :id => "sellerId_10" ,:onblur=>"checkFarmers(this.value,this.id)" %>
              </td>
              <td class="td_class1">
                <%= text_field_tag "mobileNo_15", '', :placeholder => 'Mobile No', :class => 'form-control',:pattern => "[0-9].{0}|.{10}", :title => 'Mobile number should be 10 digits', :id => "mobileNo_10", :onkeypress => "return isNumberKey(event)" %>
              </td>
              <td class="td_class">
                <%= text_field_tag "district_15", '', :placeholder => 'District', :class => 'form-control district_ ui-autocomplete-input', :id => "district_10"  %>
              </td>
              <td class="td_class">
                <%= text_field_tag "mandal_15", '', :placeholder => 'Mandal', :class => 'form-control mandal_ ui-autocomplete-input', :id => "mandal_10"%>

              </td>
            </tr>
            <tr>

              <td class="td_class">
                <%= text_field_tag "village_15", '', :placeholder => 'Village', :class => 'form-control village_ ui-autocomplete-input', :id => "village_10"%>
              </td>
              <td class="td_class">
                <%= select_tag("commodityId_15", options_for_select(Commodity.where("amc_id=? and is_active=?", current_user.amc_id,true).collect {|u| [u.name, u.id]}.sort, ''), :class => 'form-control livesearch', :prompt => 'Commodity', :id => 'commodityId_10') %>
              </td>
              <!--        <td class="td_class">-->
              <%#= select_tag("bagTypeId_10", options_for_select(BagType.where("amc_id=?", current_user.amc_id).collect {|u| [u.description, u.id]}, ''), :class => 'form-control livesearch', :prompt => 'Bag Type', :id => 'bagTypeId_10') %>
              <!--        </td>-->
              <td class="td_class">
                <%= text_field_tag "noOfBags_15", '', :placeholder => 'No Bags', :class => 'form-control', :id => "noOfBags_10", :onkeypress => "return isNumberKey(event)" %>
              </td>
              <td class="td_class">
                <%#= text_field_tag "caName_15", '', :placeholder => 'CA Name', :class => 'form-control caName_ ui-autocomplete-input', :id => "caName_15"%>
                <%= select_tag("caName_15", options_for_select(User.where("amc_id=? and is_admin=? and is_employee =? and user_role=? and is_active =?", current_user.amc_id, false, false, 'CommissionAgent',true).collect {|u| [u.company_name, u.id]}.sort, ''), :class => 'form-control custom-select', :prompt => 'Select CA',  :id => 'caName_10') %>
              </td>
            </tr>
          </table>
        </td>
      </tr>

    </table>
    <br/>
  </div>

  <div class="actions col-sm-12">
    <div class="col-sm-6"><a href="#" class="btn  btn-success" onclick="insRow()"> Add Lot</a> &nbsp;</div>
    <div class="col-sm-6 text-right"><%= f.submit('Save & Print ', :class => 'btn btn-success btn-md', :style => "width:200px") %></div>
  </div>

<% end %>


<script>


    // function validateForm() {
    //
    //     var vechileNO = document.getElementById('VECHICLENO').value;
    //     var vechiletype = document.getElementById('VECHICLETYPE').value;
    //     var coldStorage = document.getElementById('COLDSTORAGE').value;
    //
    //     if (vechile_type.length == 0 && vechiletype.length == 0 && coldStorage.length == 0) {
    //         return false;
    //     } else if (vechile_type.length == 0 && vechiletype.length == 0 && coldStorage.length != 0) {
    //         return true;
    //     } else if (vechile_type.length != 0 && vechiletype.length != 0 && coldStorage.length == 0) {
    //         return true;
    //     } else {
    //         return false;
    //     }
    // }
    farmers = $('#sellerId_');

    function addAutoCompleteTag(id) {
        $("#tr_" + id).show();
        if (id == 2){
            var id1 = '';
        }else{
            var id1 = id -1;
        }




        $("#sellerId_"+ id).val($("#sellerId_"+ id1).val());
        $("#mobileNo_"+ id).val($("#mobileNo_"+ id1).val());
        $("#district_"+ id).val($("#district_"+ id1).val());
        $("#mandal_"+ id).val($("#mandal_"+ id1).val());
        $("#village_"+ id).val($("#village_"+ id1).val());


        $("#caName_"+ id).val($("#caName_"+ id1).val());
        $('#caName_'+id).chosen();
        $('#caName_'+id).trigger("chosen:updated");
        $("#caName_").chosen();
        $('#caName_').trigger("chosen:updated");


        $("#sellerId_"+ id).prop('required',true);
        $("#commodityId_"+ id).prop('required',true);
        $("#bagTypeId_"+ id).prop('required',true);
        $("#noOfBags_"+ id).prop('required',true);
        $("#caName_"+ id).prop('required',true);
    }

    if (farmers.length > 0) {
        $("#sellerId_").autocomplete({
            source: "/farmers/amcwise_farmer_list"
        });
        $("#sellerId_1").autocomplete({
            source: "/farmers/amcwise_farmer_list"
        });
        $("#sellerId_2").autocomplete({
            source: "/farmers/amcwise_farmer_list"
        });
        $("#sellerId_3").autocomplete({
            source: "/farmers/amcwise_farmer_list"
        });
        $("#sellerId_4").autocomplete({
            source: "/farmers/amcwise_farmer_list"
        });
        $("#sellerId_5").autocomplete({
            source: "/farmers/amcwise_farmer_list"
        });

        $("#sellerId_6").autocomplete({
            source: "/farmers/amcwise_farmer_list"
        });

        $("#sellerId_7").autocomplete({
            source: "/farmers/amcwise_farmer_list"
        });

        $("#sellerId_8").autocomplete({
            source: "/farmers/amcwise_farmer_list"
        });

        $("#sellerId_9").autocomplete({
            source: "/farmers/amcwise_farmer_list"
        });

        $("#sellerId_10").autocomplete({
            source: "/farmers/amcwise_farmer_list"
        });
        $("#sellerId_11").autocomplete({
            source: "/farmers/amcwise_farmer_list"
        });
        $("#sellerId_12").autocomplete({
            source: "/farmers/amcwise_farmer_list"
        });
        $("#sellerId_13").autocomplete({
            source: "/farmers/amcwise_farmer_list"
        });
        $("#sellerId_14").autocomplete({
            source: "/farmers/amcwise_farmer_list"
        });

        $("#sellerId_15").autocomplete({
            source: "/farmers/amcwise_farmer_list"
        });

    }

    districts = $('#district_');
    if (districts.length > 0) {


        $("#district_").autocomplete({
            source: "/districts/statewise_district_list"
        });
        $("#district_1").autocomplete({
            source: "/districts/statewise_district_list"
        });
        $("#district_2").autocomplete({
            source: "/districts/statewise_district_list"
        });
        $("#district_3").autocomplete({
            source: "/districts/statewise_district_list"
        });
        $("#district_4").autocomplete({
            source: "/districts/statewise_district_list"
        });
        $("#district_5").autocomplete({
            source: "/districts/statewise_district_list"
        });

        $("#district_6").autocomplete({
            source: "/districts/statewise_district_list"
        });

        $("#district_7").autocomplete({
            source: "/districts/statewise_district_list"
        });

        $("#district_8").autocomplete({
            source: "/districts/statewise_district_list"
        });
        $("#district_9").autocomplete({
            source: "/districts/statewise_district_list"
        });

        $("#district_10").autocomplete({
            source: "/districts/statewise_district_list"
        });
        $("#district_11").autocomplete({
            source: "/districts/statewise_district_list"
        });

        $("#district_12").autocomplete({
            source: "/districts/statewise_district_list"
        });

        $("#district_13").autocomplete({
            source: "/districts/statewise_district_list"
        });

        $("#district_14").autocomplete({
            source: "/districts/statewise_district_list"
        });

        $("#district_15").autocomplete({
            source: "/districts/statewise_district_list"
        });

    }

    mandals = $('#mandal_');
    if (mandals.length > 0) {
        $("#mandal_").autocomplete({
            source: "/mandals/districtwise_mandals_list"
        });
        $("#mandal_1").autocomplete({
            source: "/mandals/districtwise_mandals_list"
        });
        $("#mandal_2").autocomplete({
            source: "/mandals/districtwise_mandals_list"
        });
        $("#mandal_3").autocomplete({
            source: "/mandals/districtwise_mandals_list"
        });
        $("#mandal_4").autocomplete({
            source: "/mandals/districtwise_mandals_list"
        });
        $("#mandal_5").autocomplete({
            source: "/mandals/districtwise_mandals_list"
        });
        $("#mandal_6").autocomplete({
            source: "/mandals/districtwise_mandals_list"
        });
        $("#mandal_7").autocomplete({
            source: "/mandals/districtwise_mandals_list"
        });
        $("#mandal_8").autocomplete({
            source: "/mandals/districtwise_mandals_list"
        });
        $("#mandal_9").autocomplete({
            source: "/mandals/districtwise_mandals_list"
        });
        $("#mandal_10").autocomplete({
            source: "/mandals/districtwise_mandals_list"
        });

        $("#mandal_11").autocomplete({
            source: "/mandals/districtwise_mandals_list"
        });

        $("#mandal_12").autocomplete({
            source: "/mandals/districtwise_mandals_list"
        });
        $("#mandal_13").autocomplete({
            source: "/mandals/districtwise_mandals_list"
        });
        $("#mandal_14").autocomplete({
            source: "/mandals/districtwise_mandals_list"
        });
        $("#mandal_15").autocomplete({
            source: "/mandals/districtwise_mandals_list"
        });
    }


    villages = $('#village_');
    if (villages.length > 0) {
        $("#village_").autocomplete({
            source: "/villages/mandal_wise_villages"
        });
        $("#village_1").autocomplete({
            source: "/villages/mandal_wise_villages"
        });
        $("#village_2").autocomplete({
            source: "/villages/mandal_wise_villages"
        });
        $("#village_3").autocomplete({
            source: "/villages/mandal_wise_villages"
        });
        $("#village_4").autocomplete({
            source: "/villages/mandal_wise_villages"
        });
        $("#village_5").autocomplete({
            source: "/villages/mandal_wise_villages"
        });

        $("#village_6").autocomplete({
            source: "/villages/mandal_wise_villages"
        });

        $("#village_7").autocomplete({
            source: "/villages/mandal_wise_villages"
        });

        $("#village_8").autocomplete({
            source: "/villages/mandal_wise_villages"
        });

        $("#village_9").autocomplete({
            source: "/villages/mandal_wise_villages"
        });

        $("#village_10").autocomplete({
            source: "/villages/mandal_wise_villages"
        });
        $("#village_11").autocomplete({
            source: "/villages/mandal_wise_villages"
        });

        $("#village_12").autocomplete({
            source: "/villages/mandal_wise_villages"
        });
        $("#village_13").autocomplete({
            source: "/villages/mandal_wise_villages"
        });
        $("#village_14").autocomplete({
            source: "/villages/mandal_wise_villages"
        });
        $("#village_15").autocomplete({
            source: "/villages/mandal_wise_villages"
        });
    }




    caNames = $('#caName_');
    if (caNames.length > 0) {
        $("#caName_").autocomplete({
            source: "/users/getCaNames"
        });
        $("#caName_1").autocomplete({
            source: "/users/getCaNames"
        });
        $("#caName_2").autocomplete({
            source: "/users/getCaNames"
        });
        $("#caName_3").autocomplete({
            source: "/users/getCaNames"
        });
        $("#caName_4").autocomplete({
            source: "/users/getCaNames"
        });
        $("#caName_5").autocomplete({
            source: "/users/getCaNames"
        });

        $("#caName_6").autocomplete({
            source: "/users/getCaNames"
        });

        $("#caName_7").autocomplete({
            source: "/users/getCaNames"
        });

        $("#caName_8").autocomplete({
            source: "/users/getCaNames"
        });

        $("#caName_9").autocomplete({
            source: "/users/getCaNames"
        });

        $("#caName_10").autocomplete({
            source: "/users/getCaNames"
        });
        $("#caName_11").autocomplete({
            source: "/users/getCaNames"
        });

        $("#caName_12").autocomplete({
            source: "/users/getCaNames"
        });
        $("#caName_13").autocomplete({
            source: "/users/getCaNames"
        });
        $("#caName_14").autocomplete({
            source: "/users/getCaNames"
        });
        $("#caName_15").autocomplete({
            source: "/users/getCaNames"
        });
    }

     $(".livesearch").chosen();
     $('.livesearch').trigger("chosen:updated");
    $("#caName_").chosen();
    $('#caName_').trigger("chosen:updated");

    function checkFarmers(value,id) {
     var name = value;
     var id = id;
     if(name != null && id != null){
         $.ajax('/gate_entries/set_farmer_details?name='+name+'&&id='+id)
     }

    }

</script>