<style>
  .tr_class {
    background-color: white;
    cursor: pointer;
  }

  .tr_class:hover {
    background-color: grey;
  }
</style>

<% if @farmers.present? %>
  <br/>
  <table class="table table-bordered">
    <tr class="tr_style">
      <th>Name</th>
      <th>Contact no</th>
      <th>Village</th>
      <th>Mandal</th>
      <th>District</th>
    </tr>
    <% @farmers.each do |farmer| %>
      <tr onclick="selected_farmer(<%= farmer.id %>)" class="tr_class">
        <td><%= farmer.name %></td>
        <td><%= farmer.contact_no %></td>
        <td><%= farmer.village %></td>
        <td><%= farmer.mandal %></td>
        <td><%= farmer.district %></td>
      </tr>
    <% end %>
  </table>
<% end %>