<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


<div style="padding: 5px">
  <div class="row"><%= get_index_text('New Gate Entry') %></div>

  <%= form_tag("/gate_entries/createNewGateentry", :method => 'get', :remote => true) do %>
    <%= hidden_field_tag :amc_id, current_user.amc_id %>
    <div class="row">
      <div class="col-sm-2">
        <div class="form-group">
          <%= label_tag('', 'Vechile No *', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
          <br/>
          <%= text_field_tag "vechile_no", '', :placeholder => 'Vechile No', :required => true, :class => 'form-control' %>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
          <%= label_tag('', 'vehicle Type*', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
          <br/>
          <%= select_tag("vehicle_type_id", options_for_select(VehicleType.where("amc_id=?", current_user.amc_id).collect {|u| [u.name, u.id]}, ''), :class => 'form-control', :prompt => 'Vechicle Type', :required => true) %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="form-group">
          <%= label_tag('', 'Name*', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
          <br/>
          <%= text_field_tag "name", '', :placeholder => 'Seller Name', :required => true, :class => 'form-control', :id => 'name_tags' %>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group">
          <%= label_tag('', 'Mobile No*', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
          <br/>
          <%= text_field_tag "mobile_no", '', :placeholder => 'Mobile No', :required => true, :class => 'form-control' %>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group">
          <%= label_tag('', 'Mobile No*', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
          <br/>
          <%= text_field_tag "mobile_no", '', :placeholder => 'Mobile No', :required => true, :class => 'form-control' %>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group">
          <%= label_tag('', 'Mobile No*', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
          <br/>
          <%= text_field_tag "mobile_no", '', :placeholder => 'Mobile No', :required => true, :class => 'form-control' %>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="form-group">
          <%= label_tag('', 'Mobile No*', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
          <br/>
          <%= text_field_tag "mobile_no", '', :placeholder => 'Mobile No', :required => true, :class => 'form-control' %>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="form-group">
          <%= label_tag('', 'Mobile No*', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
          <br/>
          <%= text_field_tag "mobile_no", '', :placeholder => 'Mobile No', :required => true, :class => 'form-control' %>
        </div>
      </div>


    </div>


  <% end %>
</div>


<script>
    farmers = $('#name_tags');
    if (farmers.length > 0) {
        $("#name_tags").autocomplete({
            source: "/farmers/amcwise_farmer_list"
        });
    }
</script>