<div style="padding: 5px">
  <div class="row">
    <div class="col-sm-6"><%= get_index_text('Gate Entries') %></div>
    <div class="col-sm-6 text-right"><%= link_to 'New Gate entry', new_gate_entry_path, :class => 'btn btn-success', :style => 'color:white;background-color:#99cc00 !important' %></div>
  </div>

  <%= form_tag("/gate_entries", :method => 'get', :remote => true) do %>
    <div class="row">
      <div class="col-sm-2"><%= text_field_tag 'posted_on', Date.today, :placeholder => 'Date', :class => 'form-control datepicker' %></div>
      <div class="col-sm-2"><%= text_field_tag 'gate_pass', @search, :placeholder => 'gate_pass', :class => 'form-control' %></div>
      <div class="col-sm-2"><%= text_field_tag 'vechile_no', @search, :placeholder => 'Vechile No', :class => 'form-control' %></div>
      <div class="col-sm-2"><%= submit_tag('       Search     ', :class => 'form-control zl_round_button3', :style => 'background-color: #154662;color:#ffffff') %></div>
    </div>
  <% end %>
  <br/>
  <div id="gate_content"><%= render :partial => 'all_gate_entries' %></div>
  <br/>
</div>



<script>

    $('.datepicker').datepicker({
        dateFormat: 'yy-mm-dd ',
        autoclose: true
    });

</script>