
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<style>

  .modal-box {
    display: none;
    position: absolute;
    z-index: 1000;
    width: 98%;
    background: white;
    border-bottom: 1px solid #aaa;
    border-radius: 4px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-clip: padding-box;
  }

  @media (min-width: 32em) {
    .modal-box {
      width: 70%;
    }
  }

  .modal-box header,
  .modal-box .modal-header {
    padding: 1.25em 1.5em;
    border-bottom: 1px solid #ddd;
  }

  .modal-box .modal-body {
    padding: 2em 1.5em;
  }

  .modal-box footer,
  .modal-box .modal-footer {
    padding: 1em;
    border-top: 1px solid #ddd;
    background: rgba(0, 0, 0, 0.02);
    text-align: right;
  }

  .modal-overlay {
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 900;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3) !important;
  }

</style>





<div style="padding: 5px">
  <div class="row">
    <div class="col-sm-6"><%= get_index_text('Gate Entry New') %></div>
  </div>

  <%= render 'form' %>

  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">New Farmer</h4>
        </div>
        <div class="modal-body">
          <%= form_tag("/farmers/create_new_farmer", :method => 'POST', :multipart => true) do %>
            <div class="row">

              <div class="col-sm-6">
                <div class="form-group">
                  <%= label_tag('', 'Name *', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
                  <br/>
                  <%= text_field_tag "name", '', :placeholder => 'Name', :required => true, :class => 'form-control' %>
                </div>

                <div class="form-group">
                  <%= label_tag('', 'District *', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
                  <%= text_field_tag "district", '', :placeholder => 'District', :required => true, :class => 'form-control' %>
                  <%#= select_tag("district", options_for_select(District.all.collect {|u| [u.name, u.name]}, ''), :class => 'form-control', :prompt => 'Select District', :required => true) %>
                </div>
                <div class="form-group">
                  <%= label_tag('', 'Mandal *', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
                  <%= text_field_tag "mandal", '', :placeholder => 'Mandal', :required => true, :class => 'form-control' %>
                  <%#= select_tag("mandal", options_for_select(Mandal.all.collect {|u| [u.name, u.name]}, ''), :class => 'form-control', :prompt => 'Select Mandal', :required => true) %>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <%= label_tag('', 'Mobile Number *', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
                  <br/>
                  <%= text_field_tag "contact_no", '', :placeholder => 'Mobile Number', :required => true, :class => 'form-control', :onkeypress => "return isNumberKey(event)" %>
                </div>
                <div class="form-group">
                  <%= label_tag('', 'Village *', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
                  <%= text_field_tag "village", '', :placeholder => 'village', :required => true, :class => 'form-control' %>
                </div>
                <%= hidden_field_tag :state, "TELANGANA" %>
              </div>
            </div>
            <div class="col-sm-12" style="padding: 10px">
              <%= submit_tag "save", :class => 'btn btn-success', :style => 'width:100px;font-size:16px' %>
            </div>
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>

      </div>

    </div>
  </div>

</div>


<script>
    function insRow() {
        var x = document.getElementById('POITableFamily');
        var len = x.rows.length;
        var totalRows=15;
        for (i = 0; i < len; i++) {
            if(typeof x.rows[i].style.display !=='undefined' && x.rows[i].style.display=='none'){
                totalRows=totalRows-1;
            }
        }
        addAutoCompleteTag(totalRows+1);
    }
    function deleteRow() {
        var x = document.getElementById('POITableFamily');
        var len = $('tr:visible').length;
        var len1 = ((len -1) /3);
        if (len1 != 1) {
            document.getElementById('POITableFamily').deleteRow(len1);
        }
    }

</script>

<script>
    farmers = $('#name_tags');
    if (farmers.length > 0) {
        $("#name_tags").autocomplete({
            source: "/farmers/amcwise_farmer_list"
        });
    }
</script>