<%if @farmer.present? %>
<%@values = session[ApplicationHelper::SessionConstants::SELECTED_ID].split("_") %>
$('#mobileNo_' +'<%= @values[1] %>').val('<%= @farmer.contact_no %>');
$('#district_' +'<%= @values[1] %>').val('<%= @farmer.district %>');
$('#mandal_' + '<%= @values[1] %>').val('<%= @farmer.mandal %>');
$('#village_' + '<%= @values[1] %>').val('<%= @farmer.village %>');
<%end %>