<style>
  .page-break {
    display: block;
    clear: both;
    page-break-after: always;
  }

  .headers {
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    padding: 1px;
    text-transform: uppercase;
  }

  .headers1 {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 3px;
  }


  .headers12 {
    text-align: center;
    font-weight: bold;
    font-size: 26px;
    padding: 3px;
  }
  .lot_headers {
    font-weight: bold;
    font-size: 22px;
    padding: 5px;
  }

  .lot_details {
    color: black;
    font-size: 14px;
    padding: 2px;
  }

</style>


<% @lots.each do |lot| %>
  <div class="page-break"></div>
  <div class="headers"> AMC</div>
  <div class="headers"> <%= Amc.find_by_id(lot.amc_id).try(:name) %></div>
  <div class="headers1">INGATE RECEIPT</div>
  <br/>
  <div style="border-bottom: 1px dashed black;padding-top: 3px"></div>
  <div class="lot_details"> Gate Entry Pass No  : <%= lot.gate_entry_pass_no %> </div>
  <div class="lot_headers"> LOT : <%= lot.lot_code %> </div>
  <div class="lot_details"> Date : <%= lot.posted_on %> </div>

  <% if @gate_entry.cold_storage_id.present? %>
    <div class="lot_details"> Cold Name: <%= ColdStorage.find_by_id(@gate_entry.cold_storage_id).try(:name)%> </div>
  <% else %>
    <div class="lot_details"> Vehicle No : <%= lot.vechile_no %> </div>
  <% end %>

  <% farmer = Farmer.find_by_id(lot.seller_id) %>
  <div class="lot_details"> Farmer: <%= farmer.name %> </div>
  <div class="lot_details"> Mobile No: <%= lot.mobile_no %> </div>
  <div class="lot_details"> Village: <%= farmer.village %> </div>
  <div class="lot_details"> Commission Agent : <%= User.find_by_id(lot.ca_name).try(:name) %> </div>
  <div class="lot_details"> Company: <%= User.find_by_id(lot.ca_name).try(:company_name) %> </div>
  <div class="lot_details"> Commodity : <%= Commodity.find_by_id(lot.commodity_id).try(:name) %>   </div>
  <div class="lot_details"> Bags : <%= lot.no_of_bags %> </div>
  <div class="lot_details"> Bag Type : <%= BagType.find_by_id(lot.bag_type_id).try(:description) %> </div>
  <div class="lot_details"> Approx Qty: <%= lot.no_of_bags  * BagType.find_by_id(lot.bag_type_id).try(:quandity).to_f%> </div>
  <div style="border-bottom: 1px dashed black;padding-top: 5px"></div>
  <div class="lot_details"> Operator Id : <%= User.find_by_id(@gate_entry.created_by).try(:name) %> </div>
  <br/>
<!--  <div style="border-bottom: 1px dashed black;padding-top: 5px"></div>-->
<!--  <div class="lot_details"> Date : <%#= lot.posted_on %> </div>-->
<!--  <div class="headers1">  <%#= lot.lot_code %> </div>-->

<% end %>