<div style="padding: 5px">
  <div class="row">
    <div class="col-sm-6"><%= get_index_text("Lot details with gate pass #{@gate_entry.gatepass_no}") %></div>
    <div class="col-sm-6 text-right"> <a href="/gate_entries/new" class="btn btn-success"> New Gate entry</a> &nbsp; &nbsp; <a href="/gate_entries/show_lots.pdf?gate_entry_id=<%= @gate_entry.id %>" target="_blank" class="btn btn-success"> <i class="fa fa-print" aria-hidden="true"></i> </a></div>
  </div>

  <% if @lots.present? %>
    <% @lots.each do |lot| %>
      <h4><b>lot :- &nbsp;&nbsp; <%= lot.lot_code %></b></h4>
      <table class="table table-bordered">
        <tr>
          <th style="width: 20%">Seller type</th>
          <th style="width: 20%">Seller</th>
          <th style="width: 20%">Mobile no</th>
          <th style="width: 20%">Gate pass no</th>
          <th style="width: 20%">Lot code</th>
        </tr>
        <tr>

          <td style="width: 20%"><%= lot.seller_type %></td>
          <td style="width: 20%"> <%= Farmer.find_by_id(lot.seller_id).try(:name) %></td>
          <td style="width: 20%"><%= lot.mobile_no %></td>
          <td style="width: 20%"> <%= lot.gate_entry_pass_no %></td>
          <td style="width: 20%"> <%= lot.lot_code %></td>
        </tr>
        <tr>
          <th style="width: 20%">Commodity</th>
          <th style="width: 20%">Bag type</th>
          <th style="width: 20%">No of Bags</th>
          <th style="width: 20%">Aprox Quantity</th>
          <th style="width: 20%">Ca name/company</th>
        </tr>
        <tr>

          <td style="width: 20%"><%= Commodity.find_by_id(lot.commodity_id).try(:name) %></td>
          <td style="width: 20%"> <%= BagType.find_by_id(lot.bag_type_id).try(:description) %></td>
          <td style="width: 20%"><%= lot.no_of_bags %></td>
          <td style="width: 20%"> <%= lot.aprox_quantity %></td>
          <td style="width: 20%">  <%= User.find_by_id(lot.ca_name).try(:company_name) %></td>
        </tr>
        <tr>
          <th style="width: 20%">Vehicle type</th>
          <th style="width: 20%">Vechile no</th>
          <th style="width: 20%">village</th>
          <th style="width: 20%">Mandal</th>
          <th style="width: 20%">District / State</th>
        </tr>
        <tr>

          <td style="width: 20%"><%= VehicleType.find_by_id(lot.vehicle_type_id).try(:name) %></td>
          <td style="width: 20%">
            <% if @gate_entry.cold_storage_id.present? %>
              <%= ColdStorage.find_by_id(@gate_entry.cold_storage_id).try(:name)%>
            <% else %>
              <%= lot.vechile_no %>
            <% end %>
            </td>
          <td style="width: 20%"><%= lot.village %></td>
          <td style="width: 20%"> <%= lot.mandal %></td>
          <td style="width: 20%"> <%= lot.district %> <%= lot.state %></td>
        </tr>
        <tr>
          <th>Bid Raised by</th>
          <th>Bid amount</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <td><%= User.find_by_id(lot.bid_raise_by).try(:name) %></td>
          <td> Rs <%= lot.bid_amount %></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

      </table>
      <br/>
    <% end %>
  <% end %>
  <br/>
</div>






<script>
    window.onload = function() {

        window.open("http://52.21.211.111/gate_entries/show_lots.pdf?gate_entry_id=<%= @gate_entry.id %>" )

    };
</script>