<%= form_for(@bag_name) do |f| %>
  <% if @bag_name.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bag_name.errors.count, "error") %> prohibited this bag_name from being saved:</h2>

      <ul>
        <% @bag_name.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :name , :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %><br/>
        <%= f.text_field :name , :class => 'form-control', :placeholder => ' Name ', :required => true %>
      </div>
      <div class="field">
        <%= f.label :is_active , :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %><br/>
        <%= f.check_box :is_active %>
      </div>
      <%= f.hidden_field :amc_id, :value => current_user.amc_id %>
      <div class="actions">
        <%= f.submit(:class => 'btn btn-success btn-md') %>
      </div>
    </div>
  </div>
<% end %>
