<div style="padding: 5px">
  <div class="row">
    <div class="col-sm-6"><%= get_index_text('Bag Names') %></div>
    <div class="col-sm-6 text-right"><%= link_to 'New Bag name', new_bag_name_path, :class => 'btn btn-success', :style => 'color:white;background-color:#99cc00 !important' %></div>
  </div>
  <table class="table table-bordered">
    <tr class="tr_style">
      <th>Name</th>
      <% if current_user.present? && current_user.is_admin %>
        <th></th>
        <th></th>
      <% end %>
    </tr>

    <% @bag_names.each do |bag_name| %>
      <tr>
        <td><%= bag_name.name %></td>
        <% if current_user.present? && current_user.is_admin %>
          <td><%= link_to 'Edit', edit_bag_name_path(bag_name) %></td>
          <td><%= link_to 'Destroy', bag_name, method: :delete, data: {confirm: 'Are you sure?'} %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
  <br/>
</div>
