<table class="table table-bordered">
  <tr class="tr_style">
    <th>Name</th>
    <th>Mobile no</th>
    <th>Email</th>
    <th>Agent Type</th>
    <th>Trade Limit</th>
    <th>Licence No</th>
    <th>Company Name</th>
    <th>Company Reg No</th>
    <th></th>

  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.mobile_no %></td>
      <td><%= user.email %></td>
      <td><%= user.agent_type %></td>
      <td><%= user.trade_limit %></td>
      <td><%= user.apmc_licence_no %></td>
      <td><%= user.company_name %></td>
      <td><%= user.company_reg_no %></td>
      <td><%= link_to 'Edit', "/users/create_agent?agent_id=#{user.id}"  ,:class=>"btn btn-link"%>
        <%if user.is_active %>
        <a href="/users/inactive_user?user_id=<%= user.id %>" class="btn btn-link">Inactive</a>
          <%else %>
        <a href="/users/active_user?user_id=<%= user.id %>" class="btn btn-link">Active</a>
          <%end %>
      </td>

    </tr>
  <% end %>
</table>