<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :mobile_no %><br />
    <%= f.text_field :mobile_no %>
  </div>
  <div class="field">
    <%= f.label :aadhar_no %><br />
    <%= f.text_field :aadhar_no %>
  </div>
  <div class="field">
    <%= f.label :door_no %><br />
    <%= f.text_field :door_no %>
  </div>
  <div class="field">
    <%= f.label :village %><br />
    <%= f.text_field :village %>
  </div>
  <div class="field">
    <%= f.label :mandal %><br />
    <%= f.text_field :mandal %>
  </div>
  <div class="field">
    <%= f.label :district %><br />
    <%= f.text_field :district %>
  </div>
  <div class="field">
    <%= f.label :pincode %><br />
    <%= f.text_field :pincode %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :crypted_password %><br />
    <%= f.text_field :crypted_password %>
  </div>
  <div class="field">
    <%= f.label :password_salt %><br />
    <%= f.text_field :password_salt %>
  </div>
  <div class="field">
    <%= f.label :persistence_token %><br />
    <%= f.text_field :persistence_token %>
  </div>
  <div class="field">
    <%= f.label :perishable_token %><br />
    <%= f.text_field :perishable_token %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.text_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :is_admin %><br />
    <%= f.text_field :is_admin %>
  </div>
  <div class="field">
    <%= f.label :is_super_admin %><br />
    <%= f.text_field :is_super_admin %>
  </div>
  <div class="field">
    <%= f.label :user_role %><br />
    <%= f.text_field :user_role %>
  </div>
  <div class="field">
    <%= f.label :amc_id %><br />
    <%= f.number_field :amc_id %>
  </div>
  <div class="field">
    <%= f.label :password1 %><br />
    <%= f.text_field :password1 %>
  </div>
  <div class="field">
    <%= f.label :is_active %><br />
    <%= f.check_box :is_active %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
