<div style="padding: 5px">
  <div class="row">
    <div class="col-sm-6"><%= get_index_text('Agents') %></div>
    <div class="col-sm-6 text-right"><%= link_to 'New Agent', "/users/create_agent", :class => 'btn btn-success', :style => 'color:white;background-color:#99cc00 !important' %></div>
  </div>


  <%= form_tag("/users/agents_list", :method => 'get', :remote => true) do %>
    <div class="row">
      <div class="col-sm-2"><%= text_field_tag 'name','', :placeholder => 'Agent Name ', :class => 'form-control datepicker' %></div>
      <div class="col-sm-2"><%= text_field_tag 'mobile_number', @search, :placeholder => 'Mobile Number', :class => 'form-control' %></div>
      <div class="col-sm-2"><%= text_field_tag 'company_name', @search, :placeholder => 'Comapany Name', :class => 'form-control' %></div>
      <div class="col-sm-2"><%= submit_tag('       Search     ', :class => 'form-control zl_round_button3', :style => 'background-color: #154662;color:#ffffff') %></div>
    </div>
  <% end %>

  <br/>
  <div id="agent_content"><%= render :partial => 'all_agent_list' %></div>
  <br/>
  <% pages = @userscount / 30 %>
  <% if pages > 0 %>
    <ul class="pages">
      <% page_number = (@offset.to_i/30)+1 %>
      <% for index in 0..pages %>
        <li>
          <a href="/users/agents_list?limit=30&offset=<%= 30*index %>"><%= page_number == index+1 ? "<span style='color:green;'>#{index+1}</span>".html_safe : index+1 %></a>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
