<div style="padding: 5px">
  <div class="row">
    <div class="col-sm-6"><%= get_index_text('New User') %></div>
  </div>
  <br/>
  <%= form_tag("/users/update_user", :method => 'POST', :multipart => true) do %>
    <div class="row" style="margin: 0px">
      <div class="col-sm-4">
        <% if @user.present? %>
          <%= hidden_field_tag :user_id, @user.id %>
        <% end %>

        <div class="form-group">
          <%= label_tag('', 'Name', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
          <br/>
          <%= text_field_tag "name", @user.present? && @user.name.present? ? @user.name : '', :placeholder => 'Name', :required => true, :class => 'form-control' %>
        </div>
        <div class="form-group">
          <%= label_tag('', 'Email', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
          <br/>
          <%= text_field_tag "email", @user.present? && @user.email.present? ? @user.email : '', :placeholder => 'Email', :required => true, :class => 'form-control' %>
        </div>
        <div class="form-group">
          <%= label_tag('', 'Mobile Number', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
          <br/>
          <%= text_field_tag "mobile_no", @user.present? && @user.mobile_no.present? ? @user.mobile_no : '', :placeholder => 'Mobile Number', :required => true, :class => 'form-control' %>
        </div>
        <div class="form-group">
          <%= label_tag('', 'Amc', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
          <br/>
          <%= select_tag("amc_id", options_for_select(Amc.all.collect {|u| [u.name, u.id]}, @user.present? && @user.amc_id.present? ? @user.amc_id : ''), :class => 'form-control', :prompt => 'Select AMC', :required => true) %>
        </div>
      </div>
    </div>
    <div class="col-sm-12" style="padding: 10px">
      <span><%= submit_tag "save", :class => 'btn btn-success', :style => 'width:100px;font-size:16px' %></span>
    </div>
  <% end %>
  <br/>
</div>
