<div style="padding: 5px">
  <div class="row">
    <div class="col-sm-6"><%= get_index_text('New Employee') %></div>
  </div>
  <br/>
  <%= form_tag("/users/update_employee", :method => 'POST', :multipart => true) do %>
    <div class="row" style="margin: 0px">
      <div class="col-sm-4">
        <% if @user.present? %>
          <%= hidden_field_tag :user_id, @user.id %>
        <% end %>

        <div class="form-group">
          <%= label_tag('', 'Name *', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
          <br/>
          <%= text_field_tag "name", @user.present? && @user.name.present? ? @user.name : '', :placeholder => 'Name', :required => true, :class => 'form-control' %>
        </div>
        <div class="form-group">
          <%= label_tag('', 'Email *', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
          <br/>
          <%= text_field_tag "email", @user.present? && @user.email.present? ? @user.email : '', :placeholder => 'Email', :required => true, :class => 'form-control' %>
        </div>
        <div class="form-group">
          <%= label_tag('', 'Mobile Number *', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
          <br/>
          <%= text_field_tag "mobile_no", @user.present? && @user.mobile_no.present? ? @user.mobile_no : '', :placeholder => 'Mobile Number', :required => true, :class => 'form-control', :onkeypress => "return isNumberKey(event)" %>
        </div>
        <div class="form-group">
          <%= label_tag('', 'User Code *', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
          <br/>
          <%= text_field_tag "user_code", @user.present? && @user.user_code.present? ? @user.user_code : '', :placeholder => 'User Code', :required => true, :class => 'form-control' %>
        </div>
        <div class="form-group">
          <%= label_tag('', 'User Role *', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
          <br/>
          <%= select_tag("user_role", options_for_select(UserRole.all.collect {|u| [u.role_name, u.role_name]}, @user.present? && @user.user_role.present? ? @user.user_role : ''), :class => 'form-control', :prompt => 'Select User Role', :required => true) %>
        </div>

        <div class="form-group">
          <%= label_tag('', 'Segment', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
          <br/>
          <%= select_tag("segment_id", options_for_select(Segment.where("amc_id=?", current_user.amc_id).collect {|u| [u.segment_name, u.id]}, @user.present? && @user.segment_id.present? ? @user.segment_id : ''), :class => 'form-control', :prompt => 'Select segment') %>
        </div>
        <div class="form-group">
          <%= label_tag('', 'Password (minimum 8 characters) *', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
          <br/>
          <%= text_field_tag "password1", @user.present? && @user.password1.present? ? @user.password1 : '', :placeholder => 'password ' , :pattern=>".{8,}" ,:title=>" please enter Eight or more characters",  :required => true, :class => 'form-control'%>
        </div>
      </div>
    </div>
    <div class="col-sm-12" style="padding: 10px">
      <span><%= submit_tag "save", :class => 'btn btn-success', :style => 'width:100px;font-size:16px' %></span>
    </div>
  <% end %>
  <br/>
</div>
