<div style="padding: 5px">
  <div class="row">
    <div class="col-sm-6"><%= get_index_text('New Agent') %></div>
  </div>
  <br/>
  <%= form_tag("/users/update_agent", :method => 'POST', :multipart => true) do %>
    <div class="row" style="margin: 0px">
      <% if @user.present? %>
        <%= hidden_field_tag :user_id, @user.id %>
      <% end %>
      <div class="col-sm-3">
        <div class="form-group">
          <%= label_tag('', 'Registration Level *', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
          <br/>
          <%= text_field_tag "registred_level", @user.present? && @user.registred_level.present? ? @user.registred_level : '', :placeholder => 'Registration Level', :required => true, :class => 'form-control' %>
        </div>

        <div class="form-group">
          <%= label_tag('', 'Name *', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
          <br/>
          <%= text_field_tag "name", @user.present? && @user.name.present? ? @user.name : '', :placeholder => 'Name', :required => true, :class => 'form-control' %>
        </div>
        <div class="form-group">
          <%= label_tag('', 'Company Reg No', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
          <br/>
          <%= text_field_tag "company_reg_no", @user.present? && @user.company_reg_no.present? ? @user.company_reg_no : '', :placeholder => 'Company Reg No', :required => true, :class => 'form-control' %>
        </div>

        <div class="form-group">
          <%= label_tag('', 'District', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
          <br/>
          <%= select_tag("district", options_for_select(District.all.collect {|u| [u.name, u.name]}, @user.present? && @user.district.present? ? @user.district : ''), :class => 'form-control', :prompt => 'Select District', :required => true) %>
        </div>


        <div class="form-group">
          <%= label_tag('', 'Bank Name', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
          <br/>
          <%= text_field_tag "bank_name", @user.present? && @user.bank_name.present? ? @user.bank_name : '', :placeholder => 'Bank Name', :class => 'form-control' %>
        </div>

      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <%= label_tag('', 'Agent Type', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
          <br/>
          <%= select_tag("agent_type", options_for_select(UserRole.all.collect {|u| [u.role_name, u.role_name]}, @user.present? && @user.agent_type.present? ? @user.agent_type : ''), :class => 'form-control', :prompt => 'Select Agent Type', :required => true) %>
        </div>


        <div class="form-group">
          <%= label_tag('', 'Mobile No', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
          <br/>
          <%= text_field_tag "mobile_no", @user.present? && @user.mobile_no.present? ? @user.mobile_no : '', :placeholder => 'Mobile No', :required => true, :class => 'form-control', :onkeypress => "return isNumberKey(event)" %>
        </div>
        <div class="form-group">
          <%= label_tag('', 'Pan Card No', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
          <br/>
          <%= text_field_tag "pan_card_no", @user.present? && @user.pan_card_no.present? ? @user.pan_card_no : '', :placeholder => 'Pan Card No', :class => 'form-control' %>
        </div>

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <%= label_tag('', 'Mandal', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
              <br/>
              <%= select_tag("mandal", options_for_select(Mandal.all.collect {|u| [u.name, u.name]}, @user.present? && @user.mandal.present? ? @user.mandal : ''), :class => 'form-control', :prompt => 'Select Mandal', :required => true) %>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <%= label_tag('', 'Village', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
              <br/>
              <%= select_tag("village", options_for_select(Village.all.collect {|u| [u.name, u.name]}, @user.present? && @user.village.present? ? @user.village : ''), :class => 'form-control', :prompt => 'Select Village', :required => true) %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <%= label_tag('', 'Account Number', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
          <br/>
          <%= text_field_tag "account_number", @user.present? && @user.account_number.present? ? @user.account_number : '', :placeholder => 'Account Number', :class => 'form-control' %>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <%= label_tag('', 'Segment', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
          <br/>
          <%= select_tag("segment_id", options_for_select(Segment.where("amc_id=?", current_user.amc_id).collect {|u| [u.segment_name, u.id]}, @user.present? && @user.segment_id.present? ? @user.segment_id : ''), :class => 'form-control', :prompt => 'Select segment') %>
        </div>
        <div class="form-group">
          <%= label_tag('', 'Company Name', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
          <br/>
          <%= text_field_tag "company_name", @user.present? && @user.company_name.present? ? @user.company_name : '', :placeholder => 'Company Name', :required => true, :class => 'form-control' %>
        </div>
        <div class="form-group">
          <%= label_tag('', 'Aadhar No', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
          <br/>
          <%= text_field_tag "aadhar_no", @user.present? && @user.aadhar_no.present? ? @user.aadhar_no : '', :placeholder => 'Aadhar No', :class => 'form-control' , :onkeypress => "return isNumberKey(event)"%>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <%= label_tag('', 'Apmc Licence No', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
              <br/>
              <%= text_field_tag "apmc_licence_no", @user.present? && @user.apmc_licence_no.present? ? @user.apmc_licence_no : '', :placeholder => 'Apmc Licence No', :required => true, :class => 'form-control' %>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <%= label_tag('', 'Trade Limit', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
              <br/>
              <%= text_field_tag "trade_limit", @user.present? && @user.trade_limit.present? ? @user.trade_limit : '', :placeholder => 'Trade Limit', :class => 'form-control' %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <%= label_tag('', 'Ifsc Code', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
          <br/>
          <%= text_field_tag "ifsc_code", @user.present? && @user.ifsc_code.present? ? @user.ifsc_code : '', :placeholder => 'Ifsc Code', :class => 'form-control' %>
        </div>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="form-group">
        <%= label_tag('', 'Remarks', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
        <br/>
        <%= text_field_tag "remarks", @user.present? && @user.remarks.present? ? @user.remarks : '', :placeholder => 'Remarks', :class => 'form-control' %>
      </div>
    </div>
    <div class="col-sm-12" style="padding: 10px">
      <span><%= submit_tag "save", :class => 'btn btn-success', :style => 'width:100px;font-size:16px' %></span>
    </div>
  <% end %>
  <br/>
</div>
