<div style="padding: 5px">
  <div class="row">
    <div class="col-sm-6"><%= get_index_text('Employee') %></div>
    <div class="col-sm-6 text-right"><%= link_to 'New Employee', "/users/create_employee", :class => 'btn btn-success', :style => 'color:white;background-color:#99cc00 !important' %></div>
  </div>
  <table class="table table-bordered">
    <tr class="tr_style">
      <th>Name</th>
      <th>Mobile no</th>
      <th>Email</th>
      <th>User Role</th>
      <th>Segment</th>
      <th></th>
    </tr>

    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.mobile_no %></td>
        <td><%= user.email %></td>
        <td><%= user.user_role %></td>
        <td><%= Segment.find_by_id(user.segment_id).try(:segment_name) %></td>
        <td><%= link_to 'Edit', "/users/create_employee?user_id=#{user.id}" %></td>
      </tr>
    <% end %>
  </table>

  <br/>
</div>
