<div style="padding: 5px">
  <div class="row">
    <div class="col-sm-6"><%= get_index_text('Users') %></div>
    <div class="col-sm-6 text-right"><%= link_to 'New User', "/users/create_user", :class => 'btn btn-success', :style => 'color:white;background-color:#99cc00 !important' %></div>
  </div>
  <table class="table table-bordered">
    <tr class="tr_style">
      <th>Name</th>
      <th>Mobile no</th>
      <th>Email</th>
      <th>Amc</th>
      <th></th>
    </tr>

    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.mobile_no %></td>
        <td><%= user.email %></td>
        <td><%= Amc.find_by_id(user.amc_id).try(:name) %></td>
        <td><%= link_to 'Edit', "users/create_user?user_id=#{user.id}"%></td>
        <!--        <td><%#= link_to 'Destroy', user, method: :delete, data: {confirm: 'Are you sure?'} %></td>-->
      </tr>
    <% end %>
  </table>

  <br/>
</div>
