<%= form_for(@fee_category) do |f| %>
  <% if @fee_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fee_category.errors.count, "error") %> prohibited this fee_category from being saved:</h2>

      <ul>
        <% @fee_category.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :category_name, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %>
        <br/>
        <%= f.text_field :category_name, :class => 'form-control', :placeholder => 'Category Name ', :required => true %>
      </div>
      <div class="form-group">
        <%= f.label :commodity_id, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %><br/>
        <%= f.select(:commodity_id, options_for_select(Commodity.where("amc_id=?",current_user.amc_id).collect {|u| [u.name, u.id]}, @fee_category.commodity_id), {:prompt => 'Select Commodity'}, :required => "required", :class => 'form-control') %>
      </div>
      <div class="form-group">
        <!--        <%#= f.label :amc_id  , :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %><br/>-->
        <%= f.hidden_field :amc_id, :value => current_user.amc_id %>
      </div>
      <div class="form-group">
        <%= f.label :is_active, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %><br/>
        <%= f.check_box :is_active %>
      </div>
      <div class="actions">
        <%= f.submit(:class => 'btn btn-success btn-md') %>
      </div>
    </div>
  </div>
<% end %>
