<div style="padding: 5px">
  <div class="row">
    <div class="col-sm-6"><%= get_index_text('Market Charges') %></div>
    <div class="col-sm-6 text-right"><%= link_to 'New Market Charge', new_fee_category_path, :class => 'btn btn-success', :style => 'color:white;background-color:#99cc00 !important' %></div>
  </div>
  <table class="table table-bordered">
    <tr class="tr_style">
      <th>Category name</th>
      <th>Commodity</th>
      <th>Is active</th>
      <th></th>
      <th></th>
    </tr>

    <% @fee_categories.each do |fee_category| %>
      <tr>
        <td><%= fee_category.category_name %></td>
        <td><%= Commodity.find_by_id(fee_category.commodity_id).try(:name) %></td>
        <td><%= fee_category.is_active %></td>
        <td><%= link_to 'Edit', edit_fee_category_path(fee_category) %></td>
        <td><%= link_to 'Destroy', fee_category, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
  </table>

  <br/>
</div>
