
<div style="padding: 5px">
  <div class="row">
    <div class="col-sm-6"><%= get_index_text('States') %></div>
    <div class="col-sm-6 text-right"><%= link_to 'New State', new_state_path, :class => 'btn btn-success', :style => 'color:white;background-color:#99cc00 !important' %></div>
  </div>
  <table class="table table-bordered">
    <tr class="tr_style">
      <th>Name</th>
      <th>Is active</th>
      <th></th>
      <th></th>
    </tr>

    <% @states.each do |state| %>
      <tr>
        <td><%= state.name %></td>
        <td><%= state.is_active %></td>
        <td><%= link_to 'Edit', edit_state_path(state) %></td>
        <td><%= link_to 'Destroy', state, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
  </table>

  <br/>

</div>

