<%= form_for(@user_role) do |f| %>
  <% if @user_role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_role.errors.count, "error") %> prohibited this user_role from being saved:</h2>

      <ul>
        <% @user_role.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
      <%= f.label :role_name, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %><br/>
      <%= f.text_field :role_name, :class => 'form-control', :placeholder => ' Role Name ', :required => true %>
    </div>
      <div class="form-group">
        <%= f.label :user_type, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %><br/>
        <%= f.text_field :user_type, :class => 'form-control', :placeholder => ' user Type', :required => true %>
      </div>
      <div class="form-group">
        <%= f.label :user_code, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %><br/>
        <%= f.text_field :user_code, :class => 'form-control', :placeholder => 'User Code', :required => true %>
      </div>
      <div class="form-group">
        <%= f.label :is_active, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %><br/>
        <%= f.check_box :is_active %>
      </div>
      <div class="actions">
        <%= f.submit(:class => 'btn btn-success btn-md') %>
      </div>
    </div>
  </div>
<% end %>
