<div style="padding: 5px">
  <div class="row">
    <div class="col-sm-6"><%= get_index_text('User Roles') %></div>
    <div class="col-sm-6 text-right"><%= link_to 'New User role', new_user_role_path, :class => 'btn btn-success', :style => 'color:white;background-color:#99cc00 !important' %></div>
  </div>
  <table class="table table-bordered">
    <tr class="tr_style">
      <th>Role name</th>
      <th>Is active</th>
      <th></th>
      <th></th>
    </tr>

    <% @user_roles.each do |user_role| %>
      <tr>
        <td><%= user_role.role_name %></td>
        <td><%= user_role.is_active %></td>
        <td><%= link_to 'Edit', edit_user_role_path(user_role) %></td>
        <td><%= link_to 'Destroy', user_role, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
  </table>

  <br/></div>
