<%= form_for(@segment) do |f| %>
  <% if @segment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@segment.errors.count, "error") %> prohibited this segment from being saved:</h2>

      <ul>
        <% @segment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-6">
      <%= f.hidden_field :amc_id, :value => current_user.amc_id %>
      <div class="form-group">
        <%= f.label :segment_name, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %>
        <%= f.text_field :segment_name, :class => 'form-control', :placeholder => ' Segment Name ', :required => true %>
      </div>
      <div class="form-group">
        <%= f.label :is_active %><br/>
        <%= f.check_box :is_active %>
      </div>
      <div class="actions">
        <%= f.submit(:class => 'btn btn-success btn-md') %>
      </div>
    </div>
  </div>
<% end %>
