<div style="padding: 5px">
  <div class="row">
    <div class="col-sm-6"><%= get_index_text('Segments') %></div>
    <div class="col-sm-6 text-right"><%= link_to 'New Segment', new_segment_path, :class => 'btn btn-success', :style => 'color:white;background-color:#99cc00 !important' %></div>
  </div>
  <table class="table table-bordered">
    <tr class="tr_style">
      <th>Segment name</th>
      <th>Is active</th>
      <th></th>
      <th></th>
    </tr>

    <% @segments.each do |segment| %>
      <tr>
        <td><%= segment.segment_name %></td>
        <td><%= segment.is_active %></td>
        <td><%= link_to 'Edit', edit_segment_path(segment) %></td>
        <td><%= link_to 'Destroy', segment, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
  </table>

  <br/>
</div>

