<%= form_for(@bag_weight) do |f| %>
  <% if @bag_weight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bag_weight.errors.count, "error") %> prohibited this bag_weight from being saved:</h2>

      <ul>
      <% @bag_weight.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :lot_id %><br />
    <%= f.number_field :lot_id %>
  </div>
  <div class="field">
    <%= f.label :weighment_id %><br />
    <%= f.number_field :weighment_id %>
  </div>
  <div class="field">
    <%= f.label :bagTypeId %><br />
    <%= f.number_field :bagTypeId %>
  </div>
  <div class="field">
    <%= f.label :sequence %><br />
    <%= f.number_field :sequence %>
  </div>
  <div class="field">
    <%= f.label :netWeight %><br />
    <%= f.text_field :netWeight %>
  </div>
  <div class="field">
    <%= f.label :grossWeight %><br />
    <%= f.text_field :grossWeight %>
  </div>
  <div class="field">
    <%= f.label :tareWeight %><br />
    <%= f.text_field :tareWeight %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :grade %><br />
    <%= f.text_field :grade %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
