<h1>Listing bag_weights</h1>

<table>
  <tr>
    <th>Lot</th>
    <th>Weighment</th>
    <th>Bagtypeid</th>
    <th>Sequence</th>
    <th>Netweight</th>
    <th>Grossweight</th>
    <th>Tareweight</th>
    <th>Price</th>
    <th>Grade</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bag_weights.each do |bag_weight| %>
  <tr>
    <td><%= bag_weight.lot_id %></td>
    <td><%= bag_weight.weighment_id %></td>
    <td><%= bag_weight.bagTypeId %></td>
    <td><%= bag_weight.sequence %></td>
    <td><%= bag_weight.netWeight %></td>
    <td><%= bag_weight.grossWeight %></td>
    <td><%= bag_weight.tareWeight %></td>
    <td><%= bag_weight.price %></td>
    <td><%= bag_weight.grade %></td>
    <td><%= link_to 'Show', bag_weight %></td>
    <td><%= link_to 'Edit', edit_bag_weight_path(bag_weight) %></td>
    <td><%= link_to 'Destroy', bag_weight, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bag weight', new_bag_weight_path %>
