<%= form_for(@village) do |f| %>
  <% if @village.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@village.errors.count, "error") %> prohibited this village from being saved:</h2>

      <ul>
        <% @village.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :name, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %><br/>
        <%= f.text_field :name, :class => 'form-control', :placeholder => ' Name ', :required => true %>
      </div>
      <div class="form-group">
        <%= f.label :state_id, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %>
        <%= f.select(:state_id, options_for_select(State.all.collect {|u| [u.name, u.id]}, @village.state_id), {:prompt => 'Select State'}, :required => "required", :class => 'form-control') %>
      </div>
      <div class="form-group">
        <%= f.label :district_id, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %>
        <br/>
        <%= f.select(:district_id, options_for_select(District.all.collect {|u| [u.name, u.id]}, @village.district_id), {:prompt => 'Select District'}, :required => "required", :class => 'form-control') %>
      </div>
      <div class="form-group">
        <%= f.label :mandal_id, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %><br/>
        <%= f.select(:mandal_id, options_for_select(Mandal.all.collect {|u| [u.name, u.id]}, @village.mandal_id), {:prompt => 'Select Mandal'}, :required => "required", :class => 'form-control') %>
      </div>
      <div class="field">
        <%= f.label :is_active, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %><br/>
        <%= f.check_box :is_active %>
      </div>
      <div class="actions">
        <%= f.submit(:class => 'btn btn-success btn-md') %>
      </div>
    </div>
  </div>
<% end %>
