<div style="padding: 5px">
  <div class="row">
    <div class="col-sm-6"><%= get_index_text('Villages') %></div>
    <div class="col-sm-6 text-right"><%= link_to 'New Village', new_village_path, :class => 'btn btn-success', :style => 'color:white;background-color:#99cc00 !important' %></div>
  </div>
  <table class="table table-bordered">
    <tr class="tr_style">
      <th>Name</th>
      <th>State</th>
      <th>District</th>
      <th>Mandal</th>
      <th>Is active</th>
      <th></th>

      <th></th>
    </tr>

    <% @villages.each do |village| %>
      <tr>
        <td><%= village.name %></td>
        <td><%= State.find_by_id(village.state_id).try(:name) %></td>
        <td><%= District.find_by_id(village.district_id).try(:name) %></td>
        <td><%= Mandal.find_by_id(village.mandal_id).try(:name) %></td>
        <td><%= village.is_active %></td>
        <td><%= link_to 'Edit', edit_village_path(village) %></td>
        <td><%= link_to 'Destroy', village, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
  </table>

  <br/>

</div>
