<div class="row" style="padding: 7px 5px">
  <div class="col-sm-8">
    <h4 style="color: black;font-weight: bolder;margin: 0px;padding-top: 5px"> Lot Information
      on <%= @selected_day %></h4>
  </div>
  <div class="col-sm-4">

  </div>
</div>
<div class="row">
  <div class="col-sm-3">
    <div class="dispaly_count_heads" style="background-color: #2255a4!important">
      <div class="lot_heads"> Arrived</div>
      <div class="lot_counts"> <%= @today_arrivals %></div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="dispaly_count_heads" style="background-color: #ffb848!important">
      <div class="lot_heads"> Inprocess</div>
      <div class="lot_counts"> <%= @today_InProcess %></div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="dispaly_count_heads" style="background-color: #28b779!important">
      <div class="lot_heads">Completed</div>
      <div class="lot_counts"> <%= @today_completed %></div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="dispaly_count_heads" style="background-color: #da542e!important">
      <div class="lot_heads"> Returned</div>
      <div class="lot_counts"> <%= @today_Returned %></div>
    </div>
  </div>
</div>

<div class="row" style="margin: 0px">
  <div class="col-sm-9">
    <div>
      <div style="font-size: 20px;font-weight: bolder;padding: 15px 10px"> Commodity Arrival Summary
        on <%= @selected_day %></div>
      <table class="table  table-striped table-bordered">
        <tr>
          <th>Commodity</th>
          <th>No Of Lots</th>
          <th> No Of Bags (Gate Entry)</th>
          <th> No Of Bags (weighment)</th>
          <th>Max Price</th>
          <th>Min Price</th>
        </tr>
        <% total_lots = 0 %>
        <% total_bags = 0 %>
        <% total_bags1 = 0 %>
        <% @commodity_data.each_with_index do |data, index| %>
          <% total_lots = total_lots + data[2].to_i %>
          <% total_bags = total_bags + data[3].to_i %>
          <% total_bags1 = total_bags1 + data[4].to_i %>
          <tr>
            <td><%= data[1] %></td>
            <td><%= data[2] %></td>
            <td><%= data[3] %></td>
            <td><%= data[4] %></td>
            <td>Rs. <%= data[5] %></td>
            <td> Rs. <%= data[6] %></td>
          </tr>
        <% end %>
        <tr>
          <td></td>
          <td><%= total_lots %></td>
          <td><%= total_bags %></td>
          <td><%= total_bags1 %></td>
          <td></td>
          <td></td>
        </tr>

      </table>
    </div>
  </div>
</div>



<script type="text/javascript">

    $('.datepicker').datepicker({
        dateFormat: 'yy-mm-dd ',
        autoclose: true
    });
</script>