<div class="row" style="padding: 7px 5px">
  <div class="col-sm-8">
    <h4 style="color: black;font-weight: bolder;margin: 0px;padding-top: 5px"> Lot Information on <%= @selected_day %></h4>
  </div>
  <div class="col-sm-4">

  </div>
</div>
<div class="row">
  <div class="col-sm-3">
    <div class="dispaly_count_heads" style="background-color: #2255a4!important">
      <div class="lot_heads"> Arrived</div>
      <div class="lot_counts"> <%= @today_arrivals %></div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="dispaly_count_heads" style="background-color: #ffb848!important">
      <div class="lot_heads"> Inprocess</div>
      <div class="lot_counts"> <%= @today_InProcess %></div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="dispaly_count_heads" style="background-color: #28b779!important">
      <div class="lot_heads">Completed</div>
      <div class="lot_counts"> <%= @today_completed %></div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="dispaly_count_heads" style="background-color: #da542e!important">
      <div class="lot_heads"> Returned</div>
      <div class="lot_counts"> <%= @today_Returned %></div>
    </div>
  </div>
</div>
<div class="row" style="margin: 0px">
  <div class="col-sm-9">
    <div>
      <div style="font-size: 20px;font-weight: bolder;padding: 15px 10px"> Commodity Arrival Summary
        on <%= @selected_day %></div>
      <table class="table  table-striped table-bordered">
        <tr>
          <th>Commodity</th>
          <th>No Of Lots</th>
          <th> No Of Bags</th>
          <th>Max Price</th>
          <th>Min Price</th>
        </tr>

        <%total_lost = 0 %>
        <%total_bags = 0 %>
        <% @commodities.each_with_index do |com, index| %>

          <tr>
            <td> <%= com.name %></td>
            <% total_lost = total_lost +Lot.where('commodity_id =? and posted_on =? and amc_id=? ', com.id, @selected_day, current_user.amc_id).size  %>
            <td><%= Lot.where('commodity_id =? and posted_on =? and amc_id=? ', com.id, @selected_day, current_user.amc_id).size %></td>


            <% wayment_done_bags = 0 %>

            <% lots = Lot.where('commodity_id =? and posted_on =? and amc_id=? and is_takpatti=?', com.id, @selected_day, current_user.amc_id, true) %>

            <% sublotmax = 0.0 %>
            <% sublotmin = 0.0 %>

            <% lots.each do |lot| %>
              <% lotmin1 = SubLot.where('lot_id=?', lot.id).order('bid_amount ASC').first %>
              <% lotmax1 = SubLot.where('lot_id=?', lot.id).order('bid_amount ASC').last %>
              <% wayment_done_bags = wayment_done_bags + BagWeight.where("lot_id=?", lot.id).size %>

              <% if lotmax1.present? %>
                <% sublotmax = lotmax1.bid_amount < sublotmax ? sublotmax : lotmax1.bid_amount %>
              <% end %>
              <% if lotmin1.present? && sublotmin != 0.0 %>
                <% sublotmin = lotmin1.bid_amount.to_f > sublotmin ? sublotmin : lotmin1.bid_amount %>
              <% end %>
              <% if lotmin1.present? && sublotmin == 0.0 %>
                <% sublotmin = lotmin1.bid_amount.to_f %>
              <% end %>
            <% end %>

            <%total_bags = total_bags+ Lot.sum(:no_of_bags, :conditions => {:commodity_id => com.id, :posted_on => @selected_day, :amc_id => current_user.amc_id, :is_takpatti => false}) + wayment_done_bags %>
            <td> <%= Lot.sum(:no_of_bags, :conditions => {:commodity_id => com.id, :posted_on => @selected_day, :amc_id => current_user.amc_id, :is_takpatti => false}) + wayment_done_bags %></td>


            <td>
              <% lotmax = Lot.where('commodity_id =? and posted_on =? and amc_id=? and is_takpatti=?', com.id, @selected_day, current_user.amc_id, true).order('bid_amount ASC').last %>
              <%= lotmax.present? ? lotmax.bid_amount > sublotmax ? lotmax.bid_amount : sublotmax : sublotmax %>
            </td>
            <td>
              <% lotmin = Lot.where('commodity_id =? and posted_on =? and amc_id=? and is_takpatti=?', com.id, @selected_day, current_user.amc_id, true).order('bid_amount ASC').first %>

              <% if lotmin.present? && sublotmin == 0.0 %>
                <%= lotmin.bid_amount %>
              <% elsif lotmin.present? && sublotmin != 0.0 %>
                <%= lotmin.bid_amount < sublotmin ? lotmin.bid_amount : sublotmin %>
              <% else %>
                <%= sublotmin %>
              <% end %>
            </td>
          </tr>
        <% end %>
        <tr>
          <th></th>
          <th><%= total_lost %></th>
          <th><%= total_bags %></th>
          <th></th>
          <th></th>
        </tr>
      </table>
    </div>

  </div>
  <div class="col-sm-3">

  </div>
</div>


<script type="text/javascript">

    $('.datepicker').datepicker({
        dateFormat: 'yy-mm-dd ',
        autoclose: true
    });
</script>