<%= form_for(@farmer) do |f| %>
  <% if @farmer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@farmer.errors.count, "error") %> prohibited this farmer from being saved:</h2>

      <ul>
        <% @farmer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <%= f.label "Name *", :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %><br/>
        <%= f.text_field :name, :class => 'form-control', :placeholder => 'Farmer Full Name ', :required => true %>
      </div>
      <div class="form-group">
        <%= f.label "State *", :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %><br/>
        <%= f.select(:state, options_for_select(State.all.collect {|u| [u.name, u.name]}, @farmer.state), {:prompt => 'Select State'}, :required => "required", :class => 'form-control') %>
      </div>
      <div class="form-group">
        <%= f.label "District *", :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %>
        <br/>
        <%= f.select(:district, options_for_select(District.all.collect {|u| [u.name, u.name]}, @farmer.district), {:prompt => 'Select District'}, :required => "required", :class => 'form-control') %>
      </div>

      <div class="form-group">
        <%= f.label :registration_date, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %>
        <br/>
        <%= f.text_field :registration_date, :class => 'form-control datepicker', :placeholder => 'Registration Date'%>
      </div>

      <div class="form-group">
        <%= f.label :registration_level, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %>
        <br/>
        <%= f.text_field :registration_level, :class => 'form-control', :placeholder => 'Registration Level' %>
      </div>


      <div class="form-group">
        <%= f.label :id_Proff_type, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %>
        <br/>
        <%= f.text_field :id_Proff_type, :class => 'form-control', :placeholder => 'Id Proff Type' %>
      </div>

      <div class="form-group">
        <%= f.label :bank_name, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %><br/>
        <%= f.text_field :bank_name, :class => 'form-control', :placeholder => 'Bank Name' %>
      </div>

    </div>
    <div class="col-sm-4">

      <div class="form-group">
        <%= f.label "Contact No*", :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %>
        <br/>
        <%= f.text_field :contact_no, :class => 'form-control', :placeholder => 'Contact No', :required => true %>
      </div>
      <div class="form-group">
        <%= f.label "Mandal *", :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %><br/>
        <%= f.select(:mandal, options_for_select(Mandal.all.collect {|u| [u.name, u.name]}, @farmer.mandal), {:prompt => 'Select Mandal'}, :required => "required", :class => 'form-control') %>
      </div>

      <div class="form-group">
        <%= f.label "Village *", :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %><br/>
        <%= f.select(:village, options_for_select(Village.all.collect {|u| [u.name, u.name]}, @farmer.village), {:prompt => 'Select Village'}, :required => "required", :class => 'form-control') %>
      </div>

      <div class="form-group">
        <%= f.label :gender, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %><br/>
        <%= f.select(:gender, options_for_select(['MALE', 'FEMALE', 'OTHER'], @farmer.gender), {:prompt => 'Select '}, :required => "required", :class => 'form-control') %>
      </div>
      <div class="form-group">
        <%= f.label :email, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %><br/>
        <%= f.text_field :email, :class => 'form-control', :placeholder => 'Email' %>
      </div>


      <div class="form-group">
        <%= f.label :proof_id, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %><br/>
        <%= f.text_field :proof_id, :class => 'form-control', :placeholder => 'Proof Id' %>
      </div>


      <div class="form-group">
        <%= f.label :account_number, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %>
        <br/>
        <%= f.text_field :account_number, :class => 'form-control', :placeholder => 'Account Number' %>
      </div>

    </div>
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-7">
          <div class="form-group">
            <%= f.label "Relative Name *", :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %>
            <%= f.text_field :relative_name, :class => 'form-control', :placeholder => 'Relative Name', :required => true %>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="form-group">
            <%= f.label "Relation *", :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %>
            <%= f.text_field :relation, :class => 'form-control', :placeholder => 'Relation', :required => true %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :locality, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %>
        <%= f.text_field :locality, :class => 'form-control', :placeholder => 'Locality' %>
      </div>
      <div class="form-group">
        <%= f.label :pin_code, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %>
        <%= f.text_field :pin_code, :class => 'form-control', :placeholder => 'Pincode' %>
      </div>
      <div class="form-group">
        <%= f.label :service_provider, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %>
        <br/>
        <%= f.text_field :service_provider, :class => 'form-control', :placeholder => 'Service Provider' %>
      </div>
      <div class="form-group">
        <%= f.label :date_of_birth, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %>
        <br/>
        <%= f.text_field :date_of_birth, :class => 'form-control datepicker', :placeholder => 'Date Of Birth' %>
      </div>

      <div class="form-group">
        <%= f.label :category, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %><br/>
        <%= f.text_field :category, :class => 'form-control', :placeholder => 'category' %>
      </div>


      <div class="form-group">
        <%= f.label :ifsc_code, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %>
        <%= f.text_field :ifsc_code, :class => 'form-control', :placeholder => 'Ifsc Code' %>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="form-group">
        <%= f.label :remarks, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %>
        <%= f.text_field :remarks, :class => 'form-control', :placeholder => 'Remarks' %>
      </div>
      <%= f.hidden_field :amc_id, :value => current_user.amc_id %>
      <div class="actions">
        <%= f.submit(:class => 'btn btn-success btn-md') %>
      </div>
    </div>
  </div>
<% end %>

<script>
    $('.datepicker').datepicker({
        dateFormat: 'yy-mm-dd ',
        autoclose: true
    });
</script>