<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<style>
  .dispaly_count_heads {
    padding: 5px;
    border-radius: 5px;
  }

  .lot_heads {
    font-weight: bolder;
    font-size: 15px;
    padding: 5px;
    text-align: center;
    color: white;
  }

  .lot_counts {
    font-weight: bolder;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    color: white;
  }

</style>

<div class="row">
  <div class="col-sm-3">
    <div class="dispaly_count_heads" style="padding: 10px;background-color: #2255a4!important">
      <div class="lot_heads"> Arrived</div>
      <div class="lot_counts"> <%= @arrived_lots %></div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="dispaly_count_heads" style="padding: 10px;background-color: #ffb848!important">
      <div class="lot_heads"> InProcess</div>
      <div class="lot_counts"> <%= @InProcess %></div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="dispaly_count_heads" style="padding: 10px;background-color: #28b779!important">
      <div class="lot_heads"> Completed</div>
      <div class="lot_counts"> <%= @completed %></div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="dispaly_count_heads" style="padding: 10px;background-color: #da542e!important">
      <div class="lot_heads"> Returned</div>
      <div class="lot_counts"> <%= @Returned %></div>
    </div>
  </div>
</div>
<br/>
<div class="row" style="padding-top: 4px">
  <%= form_tag("/farmers/dashboard", :method => 'get', :remote => true) do %>
    <div class="col-sm-9"></div>
    <div class="col-sm-2 text-right">
      <%= text_field_tag 'posted_on', @selected_day, :placeholder => 'Date', :class => 'form-control datepicker', :onblur => "myFunction()" %>
    </div>
    <div class="col-sm-1 text-right"><%= submit_tag('Search', :class => 'form-control', :style => 'background-color: #154662;color:#ffffff') %></div>
  <% end %>
</div>

<div id="dash_board_details_content"><%= render :partial => 'dash_board_details' %></div>

<br/>
<!--<div class="row">
  <div class="col-sm-9">
    <div>
      <%# current_date = Date.today %>

      <%#if current_user.is_super_admin && current_user.amc_id.blank?%>

        <%# arrived_size = series_prefix('Arrived') %>
        <%# current_date.downto(current_date - 31.days).each_with_index do |date, index| %>
          <%# count = Lot.where('DATE(created_at) =?', date).size %>
          <%# arrived_size << "[#{get_plot_time_format(date - 31.days)},#{count}]" + ApplicationHelper::CAMMA if date.present? %>
        <%# end %>

        <%# inprocess_size = series_prefix('Inprocess') %>
        <%# current_date.downto(current_date - 31.days).each_with_index do |date, index| %>
          <%# count = Lot.where('DATE(created_at) =? and is_takpatti=? and is_gate_entry=? and is_active=? ', date, false, true, true).size %>
          <%# inprocess_size << "[#{get_plot_time_format(date - 31.days)},#{count}]" + ApplicationHelper::CAMMA if date.present? %>
        <%# end %>

        <%# completed_size = series_prefix('Completed') %>
        <%# current_date.downto(current_date - 31.days).each_with_index do |date, index| %>
          <%# count = Lot.where('DATE(created_at) =? and is_takpatti=? and is_active=? ', date, true, true).size %>
          <%# completed_size << "[#{get_plot_time_format(date - 31.days)},#{count}]" + ApplicationHelper::CAMMA if date.present? %>
        <%# end %>

        <%# returnted_size = series_prefix('Returned') %>
        <%# current_date.downto(current_date - 31.days).each_with_index do |date, index| %>
          <%# count = Lot.where('DATE(created_at) =? and is_gate_entry=? and is_active=? ', date, true, false).size %>
          <%# returnted_size << "[#{get_plot_time_format(date - 31.days)},#{count}]" + ApplicationHelper::CAMMA if date.present? %>
        <%# end %>

      <%#else %>

        <%# arrived_size = series_prefix('Arrived') %>
        <%# current_date.downto(current_date - 31.days).each_with_index do |date, index| %>
          <%# count = Lot.where('DATE(created_at) =? and amc_id=?', date,current_user.amc_id).size %>
          <%# arrived_size << "[#{get_plot_time_format(date - 31.days)},#{count}]" + ApplicationHelper::CAMMA if date.present? %>
        <%# end %>

        <%# inprocess_size = series_prefix('Inprocess') %>
        <%# current_date.downto(current_date - 31.days).each_with_index do |date, index| %>
          <%# count = Lot.where('DATE(created_at) =? and is_takpatti=? and is_gate_entry=? and is_active=? and amc_id=? ', date, false, true, true,current_user.amc_id).size %>
          <%# inprocess_size << "[#{get_plot_time_format(date - 31.days)},#{count}]" + ApplicationHelper::CAMMA if date.present? %>
        <%# end %>

        <%# completed_size = series_prefix('Completed') %>
        <%# current_date.downto(current_date - 31.days).each_with_index do |date, index| %>
          <%# count = Lot.where('DATE(created_at) =? and is_takpatti=? and is_active=? and amc_id=?', date, true, true,current_user.amc_id).size %>
          <%# completed_size << "[#{get_plot_time_format(date - 31.days)},#{count}]" + ApplicationHelper::CAMMA if date.present? %>
        <%# end %>

        <%# returnted_size = series_prefix('Returned') %>
        <%# current_date.downto(current_date - 31.days).each_with_index do |date, index| %>
          <%# count = Lot.where('DATE(created_at) =? and is_gate_entry=? and is_active=? and amc_id=? ', date, true, false,current_user.amc_id).size %>
          <%# returnted_size << "[#{get_plot_time_format(date - 31.days)},#{count}]" + ApplicationHelper::CAMMA if date.present? %>
        <%# end %>


    <%#end %>



      <#% series = "[" + get_formatted_plot_data(arrived_size) + get_formatted_plot_data(inprocess_size) + get_formatted_plot_data(completed_size) + get_formatted_plot_data(returnted_size)
         series = series[0, series.length - 1] + "]" %>


      <%# title = "'Lot Details'" %>
      <div id="LotPlot" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>
  </div>
</div>-->



<script type="text/javascript">



    $('.datepicker').datepicker({
        dateFormat: 'yy-mm-dd ',
        autoclose: true
    });
</script>


<!--<script>
    $('#LotPlot').highcharts({
        title: {
            text: <%#= title.html_safe %>,
            x: -20 //center
        },
        xAxis: {
            type: 'datetime',
            dateTimeLabelFormats: { // don't display the dummy year
                month: '%e. %b',
                year: '%b'
            },
            title: {
                text: ''
            }
        },
        yAxis: {
            plotLines: [
                {
                    value: 0,
                    width: 2,
                    color: '#808080'
                }
            ]
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: <%#= series.html_safe if series.present? %>
    });
</script>-->

