<div style="padding: 5px">
  <div class="row">
    <div class="col-sm-6"><%= get_index_text('Farmers') %></div>
    <div class="col-sm-6 text-right"><%= link_to 'New Farmer', new_farmer_path, :class => 'btn btn-success', :style => 'color:white;background-color:#99cc00 !important' %></div>
  </div>
  <table class="table table-bordered">
    <tr class="tr_style">
      <th>Name</th>
      <th>Contact no</th>
<!--      <th>Relative name</th>-->
      <th>Village</th>
      <th>Mandal</th>
      <th>District</th>
<!--      <th>Email</th>-->
<!--      <th>Registration date</th>-->
<!--      <th>Id proff type</th>-->
<!--      <th>Proof</th>-->
      <th></th>
      <th></th>
    </tr>

    <% @farmers.each do |farmer| %>
      <tr>
        <td><%= farmer.name %></td>
        <td><%= farmer.contact_no %></td>
        <td><%= farmer.village %></td>
        <td><%= farmer.mandal %></td>
        <td><%= farmer.district %></td>
<!--        <td><%#= farmer.relative_name %> - <%#= farmer.relation %></td>-->
<!--        <td><%#= farmer.registration_date %></td>-->
<!--        <td><%#= farmer.email %></td>-->
<!--        <td><%#= farmer.id_Proff_type %></td>-->
<!--        <td><%#= farmer.proof_id %></td>-->
        <td><%= link_to 'Edit', edit_farmer_path(farmer) %></td>
        <td><%= link_to 'Destroy', farmer, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
  </table>

  <br/>

</div>
