<div style="padding: 5px">
  <div class="row">
    <div class="col-sm-6"><%= get_index_text('Districts') %></div>
    <div class="col-sm-6 text-right"><%= link_to 'New District', new_district_path, :class => 'btn btn-success', :style => 'color:white;background-color:#99cc00 !important' %></div>
  </div>
  <table class="table table-bordered">
    <tr class="tr_style">
      <th>Name</th>
      <th>Code</th>
      <th>State</th>
      <th>Is active</th>
      <th></th>
<!--      <th></th>-->
    </tr>

    <% @districts.each do |district| %>
      <tr>
        <td><%= district.name %></td>
        <td><%= district.code %></td>
        <td><%= State.find_by_id(district.state_id).try(:name) %></td>
        <td><%= district.is_active %></td>
        <td><%= link_to 'Edit', edit_district_path(district) %></td>
<!--        <td><%#= link_to 'Destroy', district, method: :delete, data: {confirm: 'Are you sure?'} %></td>-->
      </tr>
    <% end %>
  </table>

  <br/>

</div>
