<table class="table table-bordered">
  <tr class="tr_style">
    <th>Seller</th>
    <th>Mobile no</th>
    <th>Commodity</th>
    <th>Bag type</th>
    <th>No of bags</th>
    <th>Aprox quantity</th>
    <th>Vehicle type</th>
    <th>Vechile no</th>
    <th>Ca firm</th>
    <th>Ca name</th>
    <th>Lot code</th>
    <th></th>
    <th></th>
    <th></th>
    <% if current_user.present? && current_user.user_role.eql?("secretary") %>
      <th></th>
    <% end %>
  </tr>

  <% @lots.each do |lot| %>
    <tr>
      <td><%= Farmer.find_by_id(lot.seller_id).try(:name) %></td>
      <td><%= lot.mobile_no %></td>
      <td><%= Commodity.find_by_id(lot.commodity_id).try(:name) %></td>
      <td><%= BagType.find_by_id(lot.bag_type_id).try(:description) %></td>
      <td><%= lot.no_of_bags %></td>
      <td><%= BagType.find_by_id(lot.bag_type_id).try(:quandity).to_f * lot.no_of_bags.to_i %> <%= UnitOfMeasurement.find_by_id(BagType.find_by_id(lot.bag_type_id).try(:uom_id)).try(:unit_name) %></td>
      <td><%= VehicleType.find_by_id(lot.vehicle_type_id).try(:name) %></td>
      <td><%= lot.vechile_no %></td>
      <td><%= User.find_by_id(lot.ca_name.to_i).try(:company_name) %></td>
      <td><%= User.find_by_id(lot.ca_name.to_i).try(:name) %></td>
      <td><%= lot.lot_code %></td>
      <td>
        <a href="/lots/<%= lot.id %>" class=" btn btn-xs btn-link"> View </a>
        <a href="/lots/<%= lot.id %>/edit" class=" btn btn-xs btn-link"> Edit</a>
        <% if current_user.present? && current_user.amc_id.equal?(7) %>
          <a href="/lots/nrlotBidding?id=<%= lot.id %>" class=" btn btn-xs btn-link" target="_blank">Add Weighment </a>
          <a href="/lots/nrlotBidding1?id=<%= lot.id %>" class=" btn btn-xs btn-link" target="_blank">Add Split
            Weighment </a>
        <% end %>
      </td>
      <td><a href="/lots/make_inactive?lot_id=<%= lot.id %>" class=" btn btn-xs btn-link"> Goods Retun </a>
        <a href="/lots/add_remarks?id=<%= lot.id %>" class=" btn btn-xs btn-link" target="_blank">Add Remarks </a>
      </td>
      <td><a href="/lots/show_entry_ticket.pdf?lot_id=<%= lot.id %>" target="_blank" class="btn btn-success">
        <i class="fa fa-print" aria-hidden="true"></i> </a></td>
      <% if current_user.present? && current_user.user_role.eql?("secretary") %>
        <td>
          <a href="/lots/makeDelete?lot_id=<%= lot.id %>" class="btn btn-success">Delete</a>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>


<br/>
<% pages = @lotCount / 15 %>
<% if pages > 0 %>
  <ul class="pages">
    <% page_number = (@offset.to_i / 15) + 1 %>
    <% for index in 0..pages %>
      <li>
        <a href="/lots?limit=15&offset=<%= 15 * index %>"><%= page_number == index + 1 ? "<span style='color:green;'>#{index + 1}</span>".html_safe : index + 1 %></a>
      </li>
    <% end %>
  </ul>
<% end %>

