<table class="table table-bordered table-responsive">
  <tr>
    <th colspan="10" style="font-size: 18px;padding: 10px"> Cold Storage Summary</th>
  </tr>
  <tr class="tr_style" style="text-align: center">
    <th rowspan="2"> S No</th>
    <th rowspan="2">Cold Storage</th>
    <th colspan="2">Arrived</th>
    <th colspan="2">weighment Done</th>
    <th colspan="2">Pending</th>
    <th colspan="2">Goods Return</th>
  </tr>
  <tr class="tr_style" style="text-align: center">
    <th>lots</th>
    <th>Bags</th>
    <th>lots</th>
    <th>Entry Bags</th>
    <th>lots</th>
    <th>Bags</th>
    <th>lots</th>
    <th>Bags</th>
  </tr>
  <% ariivedlots = 0 %>
  <% ariivedbags = 0 %>
  <% weighmentlots = 0 %>
  <% weighmentbags = 0 %>
  <% pendinglots = 0 %>
  <% pendingbags = 0 %>
  <% returnedlots = 0 %>
  <% returnedbags = 0 %>

  <% @summary_data.each do |key, value| %>

    <% ariivedlots = ariivedlots.to_i + @summary_data[key]["arrivedLots"].to_i  if @summary_data[key]["arrivedLots"].present? %>
    <% ariivedbags = ariivedbags.to_i +  @summary_data[key]["arrivedBags"].to_i if @summary_data[key]["arrivedBags"].present? %>
    <% weighmentlots = weighmentlots.to_i + @summary_data[key]["weighmentLots"].to_i if @summary_data[key]["weighmentLots"].present?%>
    <% weighmentbags = weighmentbags.to_i + @summary_data[key]["weighmentBags"].to_i if @summary_data[key]["weighmentBags"].present? %>
    <% pendinglots = pendinglots.to_i + @summary_data[key]["pendingLots"].to_i if @summary_data[key]["pendingLots"].present?%>
    <% pendingbags = pendingbags.to_i + @summary_data[key]["pendingBags"].to_i if @summary_data[key]["pendingBags"].present?%>
    <% returnedlots = returnedlots.to_i + @summary_data[key]["returnedLots"].to_i if @summary_data[key]["returnedLots"].present?  %>
    <% returnedbags = returnedbags.to_i + @summary_data[key]["returnedBags"].to_i if @summary_data[key]["returnedBags"].present? %>

    <tr>
      <td><%= @summary_data[key]['sNo'] %></td>
      <td><%= @summary_data[key]['NAME'] %></td>
      <td><%= @summary_data[key]["arrivedLots"]%></td>
      <td><%= @summary_data[key]['arrivedBags'] %></td>
      <td><%= @summary_data[key]['weighmentLots'] %></td>
      <td><%= @summary_data[key]['weighmentBags'] %></td>
      <td><%= @summary_data[key]['pendingLots'] %></td>
      <td><%= @summary_data[key]['pendingBags'] %></td>
      <td><%= @summary_data[key]['returnedLots'] %></td>
      <td><%= @summary_data[key]['returnedBags'] %></td>
    </tr>
  <% end %>
</table>
<br/>

<br/>
<table class="table table-bordered table-responsive">
  <tr class="tr_style">
    <th colspan="2" style="text-align: center">Summary</th>
  </tr>
  <tr>
    <th> Ariived Lots</th>
    <th><%= ariivedlots %></th>
  </tr>
  <tr>
    <th> Ariived Bags</th>
    <th><%= ariivedbags %></th>
  </tr>
  <tr>
    <th> Weighment Lots</th>
    <th><%= weighmentlots %></th>
  </tr>
  <tr>
    <th> Weighment  Bags</th>
    <th><%= weighmentbags %></th>
  </tr>
  <tr>
    <th> Pending  Lots</th>
    <th><%= pendinglots %></th>
  </tr>
  <tr>
    <th> Pending  Bags</th>
    <th><%= pendingbags %></th>
  </tr>
  <tr>
    <th> Returned  Lots</th>
    <th><%= returnedlots %></th>
  </tr>
  <tr>
    <th> Returned  Bags</th>
    <th><%= returnedbags %></th>
  </tr>

</table>
<br/>
