<table class="table table-bordered table-responsive">
  <tr>
    <th colspan="10" style="font-size: 18px;padding: 10px"> Day wise Summary</th>
  </tr>
  <tr class="tr_style" style="text-align: center">
    <th rowspan="2"> S No</th>
    <th rowspan="2">Date</th>
    <th colspan="2">Arrived</th>
    <th colspan="2">weighment Done</th>
    <th colspan="2">Pending</th>
    <th colspan="2">Goods Return</th>
  </tr>
  <tr class="tr_style" style="text-align: center">
    <th>lots</th>
    <th>Bags</th>
    <th>lots</th>
    <th>Entry Bags</th>
    <th>weighment Bags</th>
    <th>Diff Bags</th>
    <th>lots</th>
    <th>Bags</th>
    <th>lots</th>
    <th>Bags</th>
  </tr>
  <% @summary_data.each do |key, value| %>
    <tr>
      <td><%= @summary_data[key]['sNo'] %></td>
      <td><%= @summary_data[key]['date'] %></td>
      <td><%= @summary_data[key]["arrivedLots"]%></td>
      <td><%= @summary_data[key]['arrivedBags'] %></td>
      <td><%= @summary_data[key]['weighmentLots'] %></td>
      <td><%= @summary_data[key]['weighmentBags'] %></td>
      <td><%= @summary_data[key]['weighmentedBags'] %></td>
      <td><%= @summary_data[key]['weighmentedpendingBags'] %></td>
      <td><%= @summary_data[key]['pendingLots'] %></td>
      <td><%= @summary_data[key]['pendingBags'] %></td>
      <td><%= @summary_data[key]['returnedLots'] %></td>
      <td><%= @summary_data[key]['returnedBags'] %></td>
    </tr>
  <% end %>
</table>
<br/>
<br/>
