
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.jquery.min.js"></script>


<%= form_for(@lot) do |f| %>
  <% if @lot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lot.errors.count, "error") %> prohibited this lot from being saved:</h2>

      <ul>
        <% @lot.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :amc_id, :value => current_user.amc_id %>
  <% if @gate_entry.present? %>
    <%= f.hidden_field :vehicle_type_id, :value => @gate_entry.vehicle_type_id %>
    <%= f.hidden_field :seller_type, :value => 'FARMER'%>
    <%= f.hidden_field :vechile_no, :value => @gate_entry.vechile_no %>
    <%= f.hidden_field :gate_entry_pass_no, :value => @gate_entry.gatepass_no %>
    <%= hidden_field_tag 'gate_entry_id', @gate_entry.id %>
  <% end %>


  <div class="row">
    <div class="col-sm-3">
      <div class="form-group">
        <%= f.label :seller_id, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %><br/>
        <%= text_field_tag "farmerName", Farmer.find_by_id(@lot.seller_id).try(:name), :placeholder => ' Farmer Name', :required => true, :class => 'form-control' %>
        <%#= f.select(:seller_id, options_for_select(Farmer.where("amc_id=?", current_user.amc_id).collect {|u| [u.name, u.id]}, @lot.seller_id), {:prompt => 'Select Seller '}, :required => "required", :class => 'form-control livesearch') %>
      </div>
      <div class="form-group">
        <%= f.label :aprox_quantity, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %>
        <br/>
        <%= f.text_field :aprox_quantity, :class => 'form-control', :placeholder => 'Aprox Quantity', :required => true %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <%= f.label :mobile_no, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %><br/>
        <%= f.text_field :mobile_no, :class => 'form-control', :placeholder => 'Mobile No' %>
      </div>
      <div class="form-group">
        <%= f.label :commodity_id, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %>
        <br/>
        <%= f.select(:commodity_id, options_for_select(Commodity.where("amc_id=?", current_user.amc_id).collect {|u| [u.name, u.id]}, @lot.commodity_id), {:prompt => 'Select Commodity '}, :required => "required", :class => 'form-control livesearch') %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <%= f.label :bag_type_id, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %>
        <br/>
        <%= f.select(:bag_type_id, options_for_select(BagType.where("amc_id=?", current_user.amc_id).collect {|u| [u.description, u.id]}, @lot.bag_type_id), {:prompt => 'Select Bag Type '}, :required => "required", :class => 'form-control') %>
      </div>
      <div class="form-group">
        <%= f.label :no_of_bags, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %><br/>
        <%= f.number_field :no_of_bags, :class => 'form-control', :placeholder => 'No Of Bags', :required => true %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <%= f.label :ca_name, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %><br/>
        <%= f.select(:ca_name, options_for_select(User.where("amc_id=?", current_user.amc_id).collect {|u| [u.company_name, u.id]}, @lot.ca_name), {:prompt => 'Select ca Name'}, :required => "required", :class => 'form-control livesearch') %>
      </div>
    </div>
  </div>




  <div class="actions">
    <%= f.submit(:class => 'btn btn-success btn-md') %>
  </div>

<% end %>

<script>
    $(".livesearch").chosen();
    $('.livesearch').trigger("chosen:updated");
</script>



