<table class="table table-bordered table-responsive">
  <tr>
    <th colspan="14" style="font-size: 18px;padding: 10px"> <%= Amc.find_by_id(current_user.amc_id).try(:name) %>  Waymentdone Lots Information From <%= @from_date %> To <%= @to_date %></th>
  </tr>
  <tr class="tr_style">
    <th>Lot Code</th>
    <th>Commodity</th>
    <th>Farmer</th>
    <th>Village</th>
    <th>Trader</th>
    <th>Bid Amount</th>
    <th>Entry Bags</th>
    <th>weighment Bags</th>
    <th>Diff Bags</th>
    <th>Gross Weight</th>
    <th>Net Weight</th>
    <th>Gross Amount</th>
    <th>Farmer Amount</th>
    <th>Ca firm</th>
    <th>Ca Charges</th>
    <th>Market Fee</th>
    <th>Arrival At</th>
    <th>Cold Storage</th>
  </tr>

  <% noOfBags = 0 %>
  <% ca_charges = 0.0 %>
  <% m_charge = 0.0 %>
  <% gross_amount = 0.0 %>

  <% @lots.each do |lot| %>

    <% noOfBags += lot.no_of_bags.present? ? lot.no_of_bags.to_i : 0 %>
    <% ca_charges += lot.ca_charges.present? ? lot.ca_charges.to_d : 0 %>
    <% m_charge += lot.market_charges.present? ? lot.market_charges.to_d : 0 %>
    <% gross_amount += lot.gross_amount.present? ? lot.gross_amount.to_d : 0 %>

    <tr>
      <td><%= lot.lot_code %></td>
      <td><%= Commodity.find_by_id(lot.commodity_id).try(:name) %></td>
      <td><%= Farmer.find_by_id(lot.seller_id).try(:name) %></td>
      <td><%= lot.village %></td>
      <td><%= User.find_by_id(lot.bid_raise_by.to_i).try(:company_name) %></td>
      <td><%= lot.bid_amount %></td>
      <td><%= lot.no_of_bags %></td>
      <td><%= lot.finalised_bag_count %></td>
      <td><%= lot.no_of_bags.to_i - lot.finalised_bag_count.to_i %></td>
      <td><%= lot.grossWeight %></td>
      <td><%= lot.netWeight %></td>
      <td><%= lot.gross_amount %></td>
      <td><%= lot.farmer_amount %></td>
      <td><%= User.find_by_id(lot.ca_name.to_i).try(:company_name) %></td>
      <td><%= lot.ca_charges %></td>
      <td><%= lot.market_charges %></td>
      <td><%= lot.posted_on %></td>
      <td><%= ColdStorage.find_by_id(lot.coldstore_id).try(:name) %></td>
    </tr>
  <% end %>

</table>
<br/>
<table class="table table-bordered table-responsive">
  <tr class="tr_style">
    <th colspan="2" style="text-align: center">Summary</th>
  </tr>
  <tr>
    <th> Number of lots</th>
    <th><%= @lots.size() %></th>
  </tr>
  <tr>
    <th> Number Of Bags</th>
    <th><%= noOfBags %></th>
  </tr>
  <tr>
    <th> Gross Amount</th>
    <th><%= gross_amount %></th>
  </tr>
  <tr>
    <th> CA Charges</th>
    <th><%= ca_charges %></th>
  </tr>
  <tr>
    <th> Market Fee</th>
    <th><%= m_charge %></th>
  </tr>
</table>