<table class="table table-bordered table-responsive">
  <tr>
    <th colspan="10" style="font-size: 18px;padding: 10px">   <%= Amc.find_by_id(current_user.amc_id).try(:name) %>
      Trader Wise Market Fee Details from <%= @from_date %>
      To <%= @to_date %>
    </th>
  </tr>
  <tr class="tr_style" style="text-align: center">
    <th>Trader Name</th>
    <th> Gross Amount</th>
    <th>Market Charges</th>
    <th>No Of Lots</th>
    <th>No Of bags</th>
    <th>Net Weight</th>
  </tr>

  <% if @summary_data.present? %>
    <% @summary_data.each do |data| %>
      <tr>
        <td><%= data[7] %> (<%= data[1] %>)</td>
        <td><%= data[2].present? ? data[2].round(2) : 0.0 %></td>
        <td><%= data[3].present? ? data[3].round(2) : 0.0 %></td>
        <td><%= data[4].present? ? data[4].round(2) : 0.0 %></td>
        <td><%= data[5].present? ? data[5].round(2) : 0.0 %></td>
        <td><%= data[6].present? ? data[6].round(2) : 0.0 %></td>
      </tr>
    <% end %>
  <% end %>
</table>
<br/>
<br/>
