<table class="table table-bordered table-responsive">
  <tr>
    <th colspan="14" style="font-size: 18px;padding: 10px"> ><%= Amc.find_by_id(current_user.amc_id).try(:name) %> Pending Lots Information  <%= @from_date %> To <%= @to_date %></th>
  </tr>
  <tr class="tr_style">
    <th>Lot Code</th>
    <th>Commodity</th>
    <th>Farmer</th>
    <th>Village</th>
    <th>No Of Bags</th>
    <th>Quantity</th>
    <th>Ca Firm</th>
    <th>Arrival At</th>
    <th>Cold Storage</th>
    <th>Remarks</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% noOfBags = 0 %>
  <% @lots.each do |lot| %>
    <% noOfBags += lot.no_of_bags.present? ? lot.no_of_bags.to_i : 0 %>
    <tr>
      <td><%= lot.lot_code %></td>
      <td><%= Commodity.find_by_id(lot.commodity_id).try(:name) %></td>
      <td><%= Farmer.find_by_id(lot.seller_id).try(:name) %> </td>
      <td><%= lot.village %></td>
      <td><%= lot.no_of_bags %></td>
      <td><%= lot.aprox_quantity %></td>
      <td><%= User.find_by_id(lot.ca_name.to_i).try(:company_name) %></td>
      <td><%= lot.posted_on %></td>
      <td><%= ColdStorage.find_by_id(lot.coldstore_id).try(:name) %></td>
      <td><%= lot.remarks..split(',')[0] %></td>
      <td><%= lot.remarks..split(',')[1] %></td>
      <td><%= lot.remarks..split(',')[2] %></td>
      <td><%= lot.remarks..split(',')[3] %></td>
    </tr>
  <% end %>
</table>

<br/>
<table class="table table-bordered table-responsive">
  <tr class="tr_style">
    <th colspan="2" style="text-align: center">Summary</th>
  </tr>
  <tr>
    <th> Number of lots</th>
    <th><%= @lots.size() %></th>
  </tr>
  <tr>
    <th> Number Of Bags</th>
    <th><%= noOfBags %></th>
  </tr>

</table>