<table class="table table-bordered">
  <tr class="tr_style">
    <th>Seller</th>
    <th>Mobile no</th>
    <th>Commodity</th>
    <th>Bag type</th>
    <th>Entry Bags</th>
    <th>weighment Bags</th>
    <th>Diff Bags</th>
    <th>Gross Weight</th>
    <th>Aprox quantity</th>
    <th>Vechile no</th>
    <th> CA</th>
    <th>Lot code</th>
    <th> Trader / Other </th>
    <th>Bid Rate</th>
    <th></th>
  </tr>

  <% @lots.each do |lot| %>
    <tr>
      <td><%= Farmer.find_by_id(lot.seller_id).try(:name) %></td>
      <td><%= lot.mobile_no %></td>
      <td><%= Commodity.find_by_id(lot.commodity_id).try(:name) %></td>
      <td><%= BagType.find_by_id(lot.bag_type_id).try(:description) %></td>
      <td><%= lot.no_of_bags %></td>
      <td><%= lot.finalised_bag_count %></td>
      <td><%= lot.no_of_bags.to_i - lot.finalised_bag_count.to_i %></td>
      <td><%= lot.grossWeight %></td>
      <td><%= BagType.find_by_id(lot.bag_type_id).try(:quandity).to_f * lot.no_of_bags.to_i %> <%= UnitOfMeasurement.find_by_id(BagType.find_by_id(lot.bag_type_id).try(:uom_id)).try(:unit_name) %></td>
      <td><%= lot.vechile_no %></td>
      <td><%= User.find_by_id(lot.ca_name.to_i).try(:company_name) %></td>
      <td><%= lot.lot_code %></td>
      <td>
        <% if lot.buyer_name.present? %>
          <%= lot.buyer_name %>
        <% else %>
          <%= User.find_by_id(lot.bid_raise_by).try(:company_name) %>
        <% end %>
      </td>

      <% @sublots = SubLot.find_all_by_lot_id(lot.id) %>
      <% if @sublots.present? %>
        <td><%= @sublots[0].bid_amount %> </td>
      <% else %>
        <td> <%= lot.bid_amount %> </td>
      <% end %>
      <td>
        <a href="/lots/<%= lot.id %>" class=" btn btn-xs btn-link"> View </a>
        <a href="/lots/takparty_receipt.pdf?lot_id=<%= lot.id %>" target="_blank" class="btn btn-success">
          <i class="fa fa-print" aria-hidden="true"></i> </a>
      </td>
    </tr>
  <% end %>
</table>