<div style="padding: 5px">
  <div class="row">
    <div class="col-sm-6"><%= get_index_text('Add Lot Remarks') %></div>
    <div class="col-sm-6 text-right"></div>
  </div>


  <%= form_tag("/lots/save_remarks", :method => 'POST', :multipart => true) do %>
    <%= hidden_field_tag 'lot_id', @lot.id %>
    <div class="row">
      <div class="col-sm-6">
        <h4><%= @lot.lot_code %></h4>
        <br/>
        <div class="form-group">
          <%= label_tag('', 'Remarks', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
          <br/>
          <%= text_area_tag "remarks", @lot.remarks, :placeholder => 'Remarks', :class => 'form-control', :required => true %>
        </div>
      </div>


    </div>


    <div class="actions col-sm-12">
      <div class="col-sm-6">
        <%= submit_tag "save", :class => 'btn btn-success', :style => 'width:100px;font-size:16px' %>
      </div>
      <div class="col-sm-6"> &nbsp;</div>
    </div>
  <% end %>
  <br/>
</div>





