<div style="padding: 5px">
  <div class="row">
    <div class="col-sm-6"><%= get_index_text(' Add Bid') %></div>
    <div class="col-sm-6 text-right"></div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <%= form_tag("/lots/update_bid", :method => 'POST', :multipart => true) do %>

        <%= hidden_field_tag 'lot_id', @lot.id %>
        <div class="form-group">
          <%= label_tag('', ' Bid raised By', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
          <br/>
          <%= select_tag("bid_raise_by", options_for_select(User.where("amc_id=? and is_employee=? and is_admin=?", current_user.amc_id, false, false).collect {|u| [u.name, u.id]}, ''), :class => 'form-control', :prompt => 'Select Agent', :required => true) %>
        </div>

        <div class="form-group">
          <%= label_tag('', 'Bid Amount', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
          <br/>
          <%= text_field_tag "bid_amount", '', :placeholder => 'Bid Amount', :required => true, :class => 'form-control' %>
        </div>

        <div class="col-sm-12" style="padding: 10px">
          <span><%= submit_tag "save", :class => 'btn btn-success', :style => 'width:100px;font-size:16px' %></span>
        </div>
        </div>
        </div>
      <% end %>
      <br/>
      </div>


