<div style="padding: 5px">
  <div class="row">
    <div class="col-sm-6"><%= get_index_text('Avilable Lots for Bidding') %></div>
    <div class="col-sm-6 text-right"></div>
  </div>
  <table class="table table-bordered">
    <tr class="tr_style">
      <th>Seller type</th>
      <th>Seller</th>
      <th>Mobile no</th>
      <th>Commodity</th>
      <th>Bag type</th>
      <th>No of bags</th>
      <th>Aprox quantity</th>
      <th>Vehicle type</th>
      <th>Vechile no</th>
      <th>Ca firm</th>
      <th>Ca name</th>
      <th>Amc</th>
      <th>Gate entry pass no</th>
      <th>Lot code</th>
      <th></th>
    </tr>

    <% @lots.each do |lot| %>
      <tr>
        <td><%= lot.seller_type %></td>
        <td><%= lot.seller_id %></td>
        <td><%= lot.mobile_no %></td>
        <td><%= lot.commodity_id %></td>
        <td><%= lot.bag_type_id %></td>
        <td><%= lot.no_of_bags %></td>
        <td><%= lot.aprox_quantity %></td>
        <td><%= lot.vehicle_type_id %></td>
        <td><%= lot.vechile_no %></td>
        <td><%= lot.ca_firm %></td>
        <td><%= lot.ca_name %></td>
        <td><%= lot.amc_id %></td>
        <td><%= lot.gate_entry_pass_no %></td>
        <td><%= lot.lot_code %></td>
        <td>
          <%= link_to 'Show', lot %> <br/>
          <% if !lot.is_bid_rigistred %>
            <a href="/lots/add_bid?lot_id=<%= lot.id %>" class=" btn btn-xs btn-link"> Add Bidding</a>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>

  <br/>
</div>

<%#= link_to 'New Lot', new_lot_path %>
