<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.jquery.min.js"></script>

<div style="padding: 5px">
  <div class="row">
    <div class="col-sm-6"><%= get_index_text('Cold Storage Summary') %></div>
    <div class="col-sm-6 text-right"></div>
  </div>


  <%= form_tag("/lots/day_wise_summary1", :method => 'get', :remote => true) do %>
    <div class="row">

      <div class="col-sm-2">
        <label class='label-tag-style' , :style="text-transform: capitalize;color:black">From Date</label>
        <%= text_field_tag 'from_date', params[:from_date].present? ? params[:from_date] : Date.today, :placeholder => 'Date', :class => 'form-control datepicker' %>
      </div>

      <div class="col-sm-2">
        <label class='label-tag-style' , :style="text-transform: capitalize;color:black">To Date</label>
        <%= text_field_tag 'to_date', params[:to_date].present? ? params[:to_date] : Date.today, :placeholder => 'Date', :class => 'form-control datepicker' %>
      </div>
      <div class="col-sm-2">
        <label class='label-tag-style' , :style="text-transform: capitalize;color:black">Cold storage</label>
        <%= select_tag("cold_storage", options_for_select(ColdStorage.where("amc_id=?", current_user.amc_id).collect {|u| [u.name, u.id]}, params[:cold_storage].present? ? params[:cold_storage] : '' ), :class => 'form-control livesearch', :prompt => 'Select Cold Storage') %>
      </div>
      <div class="col-sm-1">
        <label class='label-tag-style' , :style="text-transform: capitalize;color:black;padding-bottom: 50px !important;">
          <br/></label>
        <button class="form-control zl_round_button3 btn btn-success" onclick="form.submit()" style="width: 100%">Search</button>
      </div>
      <div class="col-sm-1">
        <label class='label-tag-style' , :style="text-transform: capitalize;color:black;padding-bottom: 50px !important;">
          <br/></label>
        <a href="/lots/day_wise_summary1.xls?from_date=<%= params[:from_date].present? ? params[:from_date] : Date.today %>" class="btn btn-primary">
          <i class="fa fa-file-excel-o" aria-hidden="true"></i></a>
      </div>
    </div>
  <% end %>


  <br/>

  <div id="dayReports_content1"><%= render :partial => 'daySummary1' %></div>

  <br/>
</div>


<script>

    $('.datepicker').datepicker({
        dateFormat: 'yy-mm-dd ',
        autoclose: true
    });




</script>
