


  <table class="table table-bordered table-responsive">
    <tr>
      <th colspan="7" style="font-size: 18px;padding: 10px"> Market Fee Summary </th>
    </tr>
    <tr class="tr_style" style="text-align: center">
      <th>Name</th>
      <th>Comapany Name</th>
      <th> Gross Amount</th>
      <th>Market Charges</th>
      <th>No Of Lots</th>
      <th>No Of bags</th>
      <th>Net Weight</th>
    </tr>

    <% gamount = 0 %>
    <% mcharge = 0.0 %>
    <% lotcount = 0 %>
    <% bagcount = 0 %>
    <% netWeight = 0 %>

    <% @summary_data.each do |key, value| %>

      <% if @summary_data[key]['LOTCOUNT'] > 0.0 %>

        <% gamount = gamount.to_i + @summary_data[key]["GAMOUNT"].to_i if @summary_data[key]["GAMOUNT"].present? %>
        <% mcharge = mcharge.to_f + @summary_data[key]["MCHARGE"].to_f if @summary_data[key]["MCHARGE"].present? %>
        <% lotcount = lotcount.to_i + @summary_data[key]["LOTCOUNT"].to_i if @summary_data[key]["LOTCOUNT"].present? %>
        <% bagcount = bagcount.to_i + @summary_data[key]["BAGCOUNT"].to_i if @summary_data[key]["BAGCOUNT"].present? %>
        <% netWeight = netWeight.to_i + @summary_data[key]["NETWEIGHT"].to_i if @summary_data[key]["NETWEIGHT"].present? %>

        <tr>
          <td><%= @summary_data[key]['NAME'] %></td>
          <td><%= @summary_data[key]['CNAME'] %></td>
          <td><%= @summary_data[key]['GAMOUNT'] %></td>
          <td><%= @summary_data[key]['MCHARGE'] %></td>
          <td><%= @summary_data[key]['LOTCOUNT'] %></td>
          <td><%= @summary_data[key]['BAGCOUNT'] %></td>
          <td><%= @summary_data[key]['NETWEIGHT'] %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
  <br/>

  <table class="table table-bordered table-responsive">
    <tr class="tr_style">
      <th colspan="5" style="text-align: center">Summary</th>
    </tr>
    <tr class="tr_style" style="text-align: center">
      <th> Gross Amount</th>
      <th>Market Charges</th>
      <th>No Of Lots</th>
      <th>No Of bags</th>
      <th>Net Weight</th>
    </tr>
    <tr>
      <td><%= gamount %>  </td>
      <td><%= mcharge %>  </td>
      <td><%= lotcount %>  </td>
      <td><%= bagcount %>  </td>
      <td><%= netWeight %>  </td>
    </tr>
  </table>


