
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.jquery.min.js"></script>

<div style="padding: 5px">
  <div class="row">
    <div class="col-sm-6"><%= get_index_text('Lots') %></div>
    <div class="col-sm-6 text-right"></div>
  </div>

  <%= form_tag("/lots", :method => 'get', :remote => true) do %>
    <div class="row">
      <div class="col-sm-2"> <%= select_tag("seller_id", options_for_select(Farmer.where('amc_id=?', current_user.amc_id).collect {|u| [u.name, u.id]}, @search), :class => 'form-control livesearch', :prompt => 'Select seller') %></div>
      <div class="col-sm-2"><%= text_field_tag 'posted_on', Date.today, :placeholder => 'Date', :class => 'form-control datepicker' %></div>
      <div class="col-sm-2"><%= text_field_tag 'lot_code', @search, :placeholder => 'lot Code', :class => 'form-control' %></div>
      <div class="col-sm-2"> <%= select_tag("ca_id", options_for_select(User.where("amc_id=? and is_admin=? and is_employee =? and user_role=?", current_user.amc_id, false, false,'CommissionAgent').collect {|u| [u.company_name, u.id]}, @search), :class => 'form-control livesearch', :prompt => 'Select CA Firm') %></div>
      <div class="col-sm-2"> <%= select_tag("commodity_id", options_for_select(Commodity.where("amc_id=?", current_user.amc_id).collect {|u| [u.name, u.id]}, @search), :class => 'form-control livesearch', :prompt => 'Select Commodity') %></div>
      <div class="col-sm-2"><%= submit_tag('       Search     ', :class => 'form-control zl_round_button3', :style => 'background-color: #154662;color:#ffffff') %></div>
    </div>
  <% end %>


  <br/>
  <div id="lot_content"><%= render :partial => 'all_lots' %></div>

</div>

<script>

    $('.datepicker').datepicker({
        dateFormat: 'yy-mm-dd ',
        autoclose: true
    });


    $(".livesearch").chosen();
    $('.livesearch').trigger("chosen:updated");


</script>

<%#= link_to 'New Lot', new_lot_path %>
