<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.jquery.min.js"></script>

<div style="padding: 5px">
  <div class="row">
    <div class="col-sm-6"><%= get_index_text('Market Fee Summary') %></div>
    <div class="col-sm-6 text-right"></div>
  </div>


  <%= form_tag("/lots/market_fee_details", :method => 'get', :remote => true) do %>
    <div class="row">

      <div class="col-sm-2">
        <label class='label-tag-style' , :style="text-transform: capitalize;color:black">From Date</label>
        <%= text_field_tag 'from_date', params[:from_date].present? ? params[:from_date] : Date.today, :placeholder => 'Date', :class => 'form-control datepicker' %>
      </div>
      <div class="col-sm-2">
        <label class='label-tag-style' , :style="text-transform: capitalize;color:black">To Date</label>
        <%= text_field_tag 'to_date', params[:to_date].present? ? params[:to_date] : Date.today, :placeholder => 'Date', :class => 'form-control datepicker' %>
      </div>
      <div class="col-sm-2">
        <label class='label-tag-style' , :style="text-transform: capitalize;color:black">Trader</label>
        <%= select_tag("bid_raise_by", options_for_select(User.where("amc_id=? and is_admin=? and is_employee =? and user_role=?", current_user.amc_id, false, false, 'Trader').collect {|u| [u.company_name, u.id]}, params[:ca_id].present? ? params[:ca_id] : ''), :class => 'form-control livesearch', :prompt => 'Select Trader') %>
      </div>
      <div class="col-sm-1">
        <label class='label-tag-style' , :style="text-transform: capitalize;color:black;padding-bottom: 50px !important;">
          <br/></label>
        <button class="form-control zl_round_button3 btn btn-success" onclick="form.submit()" style="width: 100%">Search</button>
      </div>
      <div class="col-sm-1">
        <label class='label-tag-style' , :style="text-transform: capitalize;color:black;padding-bottom: 50px !important;">
          <br/></label>
        <a href="/lots/market_fee_details.xls?from_date=<%= params[:from_date].present? ? params[:from_date] : Date.today %>&to_date=<%= params[:to_date].present? ? params[:to_date] : Date.today %>&bid_raise_by=<%= params[:bid_raise_by].present? ? params[:bid_raise_by] : '' %>" class="btn btn-primary">
          <i class="fa fa-file-excel-o" aria-hidden="true"></i></a>
      </div>
    </div>
  <% end %>


  <br/>

  <div id="marketfeeReports_content"><%= render :partial => 'marketFeeSummary' %></div>

  <br/>
</div>


<script>

    $('.datepicker').datepicker({
        dateFormat: 'yy-mm-dd ',
        autoclose: true
    });

    $(".livesearch").chosen();
    $('.livesearch').trigger("chosen:updated");


</script>
