<div style="padding: 5px">
  <div class="row">
    <div class="col-sm-6"><%= get_index_text('Modify Lot') %></div>
    <div class="col-sm-6 text-right"></div>
  </div>

  <%= form_tag("/lots/lot_updated", :method => 'POST', :multipart => true) do %>

    <%= hidden_field_tag 'lot_id', @lot.id %>
    <div class="col-sm-4">
      <div class="form-group">
        <%= label_tag('', 'Ca Name', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
        <br/>
        <%= select_tag("ca_name", options_for_select(User.where("amc_id=? and is_admin=? and is_employee =? and user_role=?", current_user.amc_id, false, false, 'CommissionAgent').collect {|u| [u.company_name, u.id]}.sort, @lot.ca_name), :class => 'form-control', :prompt => 'Select CA', :required => true,:readOnly=>true) %>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="form-group">
        <%= label_tag('', 'Bid Raise By', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
        <br/>
        <%= select_tag("bid_raise_by", options_for_select(User.where("amc_id=? and is_admin=? and is_employee =? and user_role=?", current_user.amc_id, false, false, 'Trader').collect {|u| [u.company_name, u.id]}.sort,  @lot.bid_raise_by), :class => 'form-control', :prompt => 'Select Trader', :required => true,:readOnly=>true) %>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="form-group">
        <%= label_tag('', 'Bid Amount', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
        <br/>
        <%= text_field_tag "bid_amount", @lot.bid_amount, :placeholder => 'Amount', :class => 'form-control', :required => true%>
      </div>
    </div>

  <% end %>
</div>