<div style="padding: 5px">

  <% if @lots.present? %>
    <div class="row">
      <div class="col-sm-6"><h4>List Of Lots for Gate Pass No - <b> <%= @gate_entry.gatepass_no %></b></h4></div>
    </div>
    <table class="table table-bordered">
      <tr class="tr_style">

        <th>Seller</th>
        <th>Mobile no</th>
        <th>Commodity</th>
        <th>Bag type</th>
        <th>No of bags</th>
        <th>Aprox quantity</th>
        <th>Vehicle type</th>
        <th>Vechile no</th>
        <th>Ca firm</th>
        <th>Ca name</th>
        <th>Lot code</th>
      </tr>

      <% @lots.each do |lot| %>
        <tr>
          <td><%= Farmer.find_by_id(lot.seller_id).try(:name) %></td>
          <td><%= lot.mobile_no %></td>
          <td><%= Commodity.find_by_id(lot.commodity_id).try(:name) %></td>
          <td><%= BagType.find_by_id(lot.bag_type_id).try(:description) %></td>
          <td><%= lot.no_of_bags %></td>
          <td><%= lot.aprox_quantity %></td>
          <td><%= VehicleType.find_by_id(lot.vehicle_type_id).try(:name) %></td>
          <td><%= lot.vechile_no %></td>
          <td><%= lot.ca_firm %></td>
          <td><%= User.find_by_id(lot.ca_name).try(:name) %></td>
          <td><%= lot.lot_code %></td>
        </tr>
      <% end %>
    </table>
    <br/>
  <% end %>

  <div class="row">
    <div class="col-sm-6"><%= get_index_text('New lot') %></div>

    <div class="col-sm-6 text-right">
      <%= link_to 'Back To Gate Entry ', gate_entries_path, :class => 'btn btn-primary', :style => 'color:white;background-color:#99cc00 !important' %>
      <%= link_to 'Back To Lots ', lots_path, :class => 'btn btn-primary', :style => 'color:white;background-color:#99cc00 !important' %>
    </div>
  </div>
  <%= render 'form' %>
</div>