<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.jquery.min.js"></script>

<div style="padding: 5px">
  <div class="row">
    <div class="col-sm-6"><%= get_index_text('Lot Weightment') %></div>
    <div class="col-sm-6 text-right"></div>
  </div>


  <%= form_tag("/lots/nrBidUpdate", :method => 'POST', :multipart => true) do %>
    <%= hidden_field_tag 'lot_id', @lot.id %>
    <div class="row">
      <div class="col-sm-4">

        <div class="form-group">
          <%= label_tag('', 'commodity', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
          <br/>
          <%= select_tag("commodity_id", options_for_select(Commodity.where("amc_id=? and is_active=?", current_user.amc_id, true).collect {|u| [u.name, u.id]}.sort, @lot.commodity_id), :class => 'form-control livesearch', :prompt => 'Commodity', :required => true) %>
        </div>

        <div class="form-group">
          <%= label_tag('', 'Bag Type', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
          <br/>
          <%= select_tag("bag_type_id", options_for_select(BagType.where("amc_id=?", current_user.amc_id).collect {|u| [u.description, u.id]}, @lot.bag_type_id), :class => 'form-control livesearch', :prompt => 'Bag Type', :required => true) %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <%= label_tag('', 'Ca Name', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
          <br/>
          <%= select_tag("ca_name", options_for_select(User.where("amc_id=? and is_admin=? and is_employee =? and user_role=?", current_user.amc_id, false, false, 'CommissionAgent').collect {|u| [u.company_name, u.id]}.sort, @lot.ca_name), :class => 'form-control livesearch', :prompt => 'Ca Name', :required => true) %>
        </div>
        <div class="form-group">
          <%= label_tag('', 'No Of Bags', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
          <br/>
          <%= number_field_tag "no_of_bags", @lot.no_of_bags, :placeholder => 'No Bags', :class => 'form-control' %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <%= label_tag('', 'Trader Name', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
          <br/>
          <%= select_tag("bid_raise_by", options_for_select(User.where("amc_id=? and is_admin=? and is_employee =? and user_role=?", current_user.amc_id, false, false, 'Trader').collect {|u| [u.company_name, u.id]}.sort, @lot.bid_raise_by), :class => 'form-control livesearch', :prompt => 'Ca Name', :required => true) %>
        </div>
        <div class="form-group">
          <%= label_tag('', 'Bid Amount', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
          <br/>
          <%= number_field_tag "bid_amount", @lot.bid_amount, :placeholder => 'Bid Amount', :class => 'form-control', :required => true %>
        </div>
      </div>
    </div>

    <div class="actions col-sm-12">
      <div class="col-sm-6">
        <%= submit_tag "save", :class => 'btn btn-success', :style => 'width:100px;font-size:16px' %>
      </div>
      <div class="col-sm-6"> &nbsp;</div>
    </div>
  <% end %>
  <br/>
</div>

<script>
    $(".livesearch").chosen();
    $('.livesearch').trigger("chosen:updated");
</script>
