<div style="padding: 5px">
  <div class="row">
    <div class="col-sm-6"><%= get_index_text('Lot Details') %></div>
    <div class="col-sm-6 text-right">

      <% if current_user.user_role.eql?('Trader') || current_user.user_role.eql?('CommissionAgent') %>
        <%= link_to 'Back', "/lots/bidding_lots_list", :class => 'btn btn-success', :style => 'color:white;background-color:#99cc00 !important' %>
      <% else %>
<!--        <a href="/lots/modify_lot?lot_id=<%#= @lot.id %>" class="btn btn-success", :style ='color:white;background-color:#99cc00 !important' > Modify Bid Amount</a> &nbsp-->
        <%= link_to 'Back', "/lots", :class => 'btn btn-success', :style => 'color:white;background-color:#99cc00 !important' %>
      <% end %>
    </div>
  </div>

  <table class="table table-bordered">
    <tr>
      <th style="width: 20%">Seller</th>
      <th style="width: 20%">Mobile no</th>
      <th style="width: 20%">Gate pass no</th>
      <th style="width: 20%">Lot code</th>
      <th style="width: 20%">Ca name</th>
    </tr>
    <tr>

      <td style="width: 20%"> <%= Farmer.find_by_id(@lot.seller_id).try(:name) %></td>
      <td style="width: 20%"><%= @lot.mobile_no %></td>
      <td style="width: 20%"> <%= @lot.gate_entry_pass_no %></td>
      <td style="width: 20%"> <%= @lot.lot_code %></td>
      <td style="width: 20%"> <%= User.find_by_id(@lot.ca_name).try(:name) %></td>
    </tr>
    <tr>
      <th style="width: 20%">Commodity</th>
      <th style="width: 20%">Bag type</th>
      <th style="width: 20%">No of Bags</th>
      <th style="width: 20%">Aprox Quantity</th>
      <th style="width: 20%">Ca Firm</th>
    </tr>
    <tr>

      <td style="width: 20%"><%= Commodity.find_by_id(@lot.commodity_id).try(:name) %></td>
      <td style="width: 20%"> <%= BagType.find_by_id(@lot.bag_type_id).try(:description) %></td>
      <td style="width: 20%"><%= @bag_weights.present? ? @bag_weights.size : @lot.no_of_bags %></td>
      <td style="width: 20%"> <%= BagType.find_by_id(@lot.bag_type_id).try(:quandity).to_f * @lot.no_of_bags.to_i %>  <%= UnitOfMeasurement.find_by_id(BagType.find_by_id(@lot.bag_type_id).try(:uom_id)).try(:unit_name) %></td>
      <td style="width: 20%"> <%= User.find_by_id(@lot.ca_name).try(:company_name) %></td>
    </tr>
    <tr>
      <th style="width: 20%">Vehicle type</th>
      <th style="width: 20%">Vechile no</th>
      <th style="width: 20%">village</th>
      <th style="width: 20%">Mandal</th>
      <th style="width: 20%">District / State</th>
    </tr>
    <tr>

      <td style="width: 20%"><%= VehicleType.find_by_id(@lot.vehicle_type_id).try(:name) %></td>
      <td style="width: 20%"> <%= @lot.vechile_no %></td>
      <td style="width: 20%">  <%= Farmer.find_by_id(@lot.seller_id).try(:village) %></td>
      <td style="width: 20%"> <%= Farmer.find_by_id(@lot.seller_id).try(:mandal) %></td>
      <td style="width: 20%"> <%= Farmer.find_by_id(@lot.seller_id).try(:district) %>  <%= Farmer.find_by_id(@lot.seller_id).try(:state) %></td>
    </tr>
  </table>
<br/>
  <table class="table table-bordered">
    <tr>
      <th>Remarks</th>
    </tr>
    <tr>
      <td><%= @lot.remarks %></td>
    </tr>
  </table>
  <br/>

  <% if @sublots.present? %>


    <br/>
    <%= get_index_text('Bid Details') %>
    <table class="table-bordered table">
      <tr class="tr_style">
        <th>Sublot Id</th>
        <th>Trader</th>
        <th>No Of Bags</th>
        <th>Gross Weight</th>
        <th>Tare Weight</th>
        <th>Net Weight</th>
        <th>Bid amount</th>
        <th>Gross Amount</th>
      </tr>
      <% @sublots.each do |sub_lot| %>

        <tr>
          <td><%= sub_lot.sub_lot_id %></td>
          <td><%= User.find_by_id(@lot.bid_raise_by).try(:company_name) %></td>
          <td><%= sub_lot.no_of_bags %></td>
          <td><%= sub_lot.grossWeight %></td>
          <td><%= sub_lot.tareWeight %></td>
          <td><%= sub_lot.netWeight %></td>
          <td> Rs <%= sub_lot.bid_amount %></td>
          <td><%= sub_lot.net_amount %></td>

        </tr>
      <% end %>

    </table>


  <% else %>

    <% if @lot.present? && @lot.bid_amount.present? && @lot.bid_raise_by %>
      <br/>
      <%= get_index_text('Bid Details') %>
      <table class="table-bordered table">
        <tr class="tr_style">
          <th><%= @lot.buyer_name.present? ? "OTHER" : "TRADER" %> </th>
          <th>No Of Bags</th>
          <th>Gross Weight</th>
          <th>Tare Weight</th>
          <th>Net Weight</th>
          <th>Bid amount</th>
          <th>Gross amount</th>
        </tr>
        <tr>
          <% if @lot.buyer_name.present?%>
            <td> <%= @lot.buyer_name %> </td>
          <% else %>
            <td><%= User.find_by_id(@lot.bid_raise_by).try(:company_name) %></td>
          <% end %>

          <td><%= @bag_weights.present? ? @bag_weights.size : @lot.no_of_bags %></td>
          <td><%= @lot.grossWeight %></td>
          <td><%= @lot.tareWeight %></td>
          <td><%= @lot.netWeight %></td>
          <td> Rs <%= @lot.bid_amount %></td>
          <td><%= @lot.net_amount %></td>
        </tr>
      </table>
    <% end %>

  <% end %>





  <% if @bag_weights.present? %>
      <br/>
      <table class="table-bordered table">
        <tr class="tr_style">
          <th>Sequence</th>
          <th>Bag type</th>
          <th>Gross Weight</th>
          <th>Tare Weight</th>
          <th>Net Weight</th>
        </tr>
  <% @bag_weights.each do |bag_weight| %>
          <tr>
            <td><%= bag_weight.sequence %></td>
            <td><%= BagType.find_by_id(bag_weight.bagTypeId).try(:description) %></td>
            <td><%= bag_weight.grossWeight %></td>
            <td><%= bag_weight.tareWeight %></td>
            <td><%= bag_weight.netWeight %></td>
          </tr>
  <% end %>
      </table>
  <% end %>





<% if @lot.is_takpatti %>
  <% @farmer_deduction_type = [] %>
  <%# @trader_payables_types = [] %>
  <% @farmer_deductions.each do |deduction| %>
    <% if !@farmer_deduction_type.include?(deduction.party_type) %>
      <% @farmer_deduction_type << deduction.party_type %>
    <% end %>
  <% end %>
  <%# @trader_payables.each do |deduction| %>
    <%# if !@trader_payables_types.include?(deduction.party_type) %>
      <%# @trader_payables_types << deduction.party_type %>
    <%# end %>
  <%# end %>






  <div class="row">
    <br/>
    <div class="col-sm-6">
      <% if @farmer_deductions.present? %>
        <table class="table table-bordered">
          <tr class="tr_style">
            <th colspan="2" class="text-center"> Deductions From Farmer</th>
          </tr>
          <tr>
            <th>Component Name</th>
            <th> Amount</th>
          </tr>
          <% @total_farmer_dedution = 0 %>
          <% @farmer_deduction_type.each do |deduction| %>
            <tr>
              <td><%= deduction %>
                (Rs. <%= LotDeductions.find_all_by_lot_id_and_party_type_and_deduction_type(@lot.id, deduction, "INCLUSIVE").first.try(:charge_value) %>
                / Bag)
              </td>
              <td><%= LotDeductions.sum(:deduction_amount, :conditions => ["lot_id =? and party_type =? and deduction_type =?", @lot.id, deduction, "INCLUSIVE"]).round(2) %></td>
              <% @total_farmer_dedution += LotDeductions.sum(:deduction_amount, :conditions => ["lot_id =? and party_type =? and deduction_type =?", @lot.id, deduction, "INCLUSIVE"]) %>
            </tr>
          <% end %>


          <tr>
            <td> CA AMT <%= Amc.find_by_id(current_user.amc_id).try(:commission_agent_fee) %>%</td>
            <td> <%= @lot.ca_charges %> </td>
          </tr>



          <tr>
            <th>Total Deductions</th>
            <th>Rs. <%= (@total_farmer_dedution + @lot.ca_charges).round(2) %></th>
          </tr>
        </table>
        <br/>
        <table class="table table-bordered">
          <tr class="tr_style">
            <th colspan="2" class="text-center">Additions To Farmer</th>
          </tr>
          <tr>
            <th>Component Name</th>
            <th> Amount</th>
          </tr>
          <tr>
            <td>Gunny Amount (Rs. <%= Commodity.find_by_id(@lot.commodity_id).try(:bag_cost) %> /Bag )</td>
            <td>Rs. <%= @lot.gunny_amount %></td>
          </tr>
        </table>
      <% end %>
    </div>
    <div class="col-sm-6">

<!--        <table class="table table-bordered">-->
<!--          <tr class="tr_style">-->
<!--            <th colspan="2" class="text-center"> Amount Payable By Trader</th>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <th>Component Name</th>-->
<!--            <th> Amount</th>-->
<!--          </tr>-->
          <%# @total_trader_Payable = 0 %>
          <%# @trader_payables_types.each do |deduction| %>
<!--            <tr>-->
<!--              <td><%#= deduction %>-->
<!--                (Rs. <%#= LotDeductions.find_all_by_lot_id_and_party_type_and_deduction_type(@lot.id, deduction, "EXCLUSIVE").first.try(:charge_value) %>-->
<!--                / Bag)-->
<!--              </td>-->
<!--              <td><%#= LotDeductions.sum(:deduction_amount, :conditions => ["lot_id =? and party_type =? and deduction_type =?", @lot.id, deduction, "EXCLUSIVE"]) %></td>-->
              <%# @total_trader_Payable += LotDeductions.sum(:deduction_amount, :conditions => ["lot_id =? and party_type =? and deduction_type =?", @lot.id, deduction, "EXCLUSIVE"]) %>
<!--            </tr>-->
<!--            <tr>-->
<!--              <td>Market Fee(<%#= Amc.find_by_id(current_user.amc_id).try(:market_fee) %> %)</td>-->
<!--              <td>Rs. <%#= @lot.market_charges%></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td>Total Amount</td>-->
<!--              <td> Rs. <%#= @total_trader_Payable.to_f + @lot.market_charges %></td>-->
<!--            </tr>-->
          <%# end %>
<!--        </table>-->

    </div>

    <hr style="border-bottom: 1px dotted black;margin: 0px">
    <div class="col-sm-12" style="font-size: 18px">
      <br/> <br/>
      <div class="col-sm-6 text-center">Net Amount payable To Farmer : <b>Rs. <%= @lot.farmer_amount %> </b></div>
<!--      <div class="col-sm-6 text-center">Net Amount payable By Trader : <b>Rs.  <%#= @lot.trader_payable_amount %></b>-->
      </div>
    </div>
  </div>

    <%end %>
  <br/> <br/> <br/> <br/>
</div>
















