<style>
  .dash_border {
    border-bottom: 1px dashed darkgrey;
    padding: 2px
  }
</style>

<div align="right"> <%= @lot.updated_at.strftime("%m/%d/%Y - %I:%M%p") %></div>
<div style="padding: 10px;" class="wrapper">
  <h3 style="font-weight: bold;text-align: center;">AMC  <%= Amc.find_by_id(@lot.amc_id).try(:name).upcase %></h3>
  <table style="width: 100%">
    <tr>
      <td width="50%" align="left"><%#= GateEntry.find_by_gatepass_no(@lot.gate_entry_pass_no).try(:device_id) %></td>
      <td width="50%" align="right"><b style="font-size: 26px;font-weight: bold"> &nbsp;<%= @lot.lot_code %></b></td>
    </tr>
  </table>

  <table align="center" cellpadding="0" cellspacing="0" width="100%" style="border:1px solid #ccc;">
    <tr style="background:#0f91ca;height:30px;">
      <th colspan="6" style="border-right:1px solid #9c9c9c;color:fff;">Lot Information</th>
    </tr>
    <tr style="height:25px;">
      <th style="background:#f7f7f7;border-right:1px solid #9c9c9c;text-align:left;padding-right:5px;padding-left:8px;">Farmer</th>
      <th style="border-right:1px solid #9c9c9c;font-weight:normal;text-align:left;padding-left:8px;"> <%= Farmer.find_by_id(@lot.seller_id).try(:name) %> </th>
      <th style="background:#f7f7f7;border-right:1px solid #9c9c9c; text-align:left;padding-right:5px;padding-left:8px;">
        Commodity
      </th>
      <th style="border-right:1px solid #9c9c9c;font-weight:normal;text-align:left;padding-left:8px"> <%= Commodity.find_by_id(@lot.commodity_id).try(:name) %></th>
    </tr>

    <tr style="height:25px;">
      <th style="background:#f7f7f7;border-right:1px solid #9c9c9c;border-top:1px solid #9c9c9c; text-align:left;padding-right:5px;padding-left:8px;">
        CA
      </th>
      <th style="border-top:1px solid #9c9c9c;border-right:1px solid #9c9c9c;font-weight:normal;text-align:left;padding-left:8px"> <%= User.find_by_id(@lot.ca_name).try(:company_name) %></th>
      <th style="border-top:1px solid #9c9c9c;background:#f7f7f7;border-right:1px solid #9c9c9c;text-align:left;padding-right:5px;padding-left:8px;">
        Invoice Number
      </th>
      <th style="border-top:1px solid #9c9c9c;border-right:1px solid #9c9c9c;font-weight:normal;text-align:left;padding-left:8px;">  <%= @lot.transaction_no %></th>
    </tr>

    <tr style="height:25px;">
      <th style="background:#f7f7f7;border-right:1px solid #ccc;border-bottom:1px solid #ccc;border-top:1px solid #ccc;padding-left:8px;text-align:left;padding-right:5px;">Mobile
        no
      </th>
      <th style="text-align:left;border-right:1px solid #ccc;border-bottom:1px solid #ccc;border-top:1px solid #ccc;padding-left:8px;"> <%= @lot.mobile_no %> </th>
      <th style="background:#f7f7f7;border-right:1px solid #ccc;border-bottom:1px solid #ccc;padding-left:8px; text-align:left;padding-right:5px;border-top:1px solid #ccc">Bag
        type
      </th>
      <th style="text-align:left;border-right:1px solid #ccc;border-bottom:1px solid #ccc;padding-left:8px;border-top:1px solid #ccc"><%= BagType.find_by_id(@lot.bag_type_id).try(:description) %></th>
    </tr>

    <tr style="height:25px;">
      <!--      <th style="background:#f7f7f7;border-right:1px solid #9c9c9c; text-align:left;padding-right:5px;padding-left:8px;">-->
      <!--        No Of Bags-->
      <!--      </th>-->
      <!--      <th style="border-right:1px solid #9c9c9c;font-weight:normal;text-align:left;padding-left:8px"> <%#= @lot.no_of_bags %></th>-->
      <th style="background:#f7f7f7;border-right:1px solid #9c9c9c;text-align:left;padding-right:5px;padding-left:8px;">Total
        No Of Bags
      </th>
      <th style="border-right:1px solid #9c9c9c;font-weight:normal;text-align:left;padding-left:8px;"> <%= @bag_weights.present? ? @bag_weights.size : @lot.no_of_bags %> </th>
    </tr>

  </table>




  <% if @sublots.present? %>
    <br/>
    <table align="center" cellpadding="0" cellspacing="0" width="100%" style="border:1px solid #ccc;">
      <tr style="background:#0f91ca;height:30px;">
        <th colspan="8" style="border-right:1px solid #9c9c9c;color:fff;">Bid Information1</th>
      </tr>
      <th style="background:#f7f7f7;border-right:1px solid #9c9c9c;text-align:left;padding-right:5px;padding-left:8px;">Sublot
        Id
      </th>
      <th style="background:#f7f7f7;border-right:1px solid #9c9c9c;text-align:left;padding-right:5px;padding-left:8px;">Trader</th>
      <th style="background:#f7f7f7;border-right:1px solid #9c9c9c;text-align:left;padding-right:5px;padding-left:8px;">No
        Of Bags
      </th>
      <th style="background:#f7f7f7;border-right:1px solid #9c9c9c;text-align:left;padding-right:5px;padding-left:8px;">Gross
        Weight
      </th>
      <th style="background:#f7f7f7;border-right:1px solid #9c9c9c;text-align:left;padding-right:5px;padding-left:8px;">Tare
        Weight
      </th>
      <th style="background:#f7f7f7;border-right:1px solid #9c9c9c;text-align:left;padding-right:5px;padding-left:8px;">Net
        Weight
      </th>
      <th style="background:#f7f7f7;border-right:1px solid #9c9c9c;text-align:left;padding-right:5px;padding-left:8px;">Bid
        amount
      </th>
      <th style="background:#f7f7f7;border-right:1px solid #9c9c9c;text-align:left;padding-right:5px;padding-left:8px;">Gross
        Amount
      </th>
      </tr>
      <% @sublots.each do |sub_lot| %>
        <tr>
          <th style="border-top:1px solid #9c9c9c;border-right:1px solid #9c9c9c;font-weight:normal;text-align:left;padding-left:8px"><%= sub_lot.sub_lot_id %></th>
          <th style="border-top:1px solid #9c9c9c;border-right:1px solid #9c9c9c;font-weight:normal;text-align:left;padding-left:8px"><%= User.find_by_id(@lot.bid_raise_by).try(:company_name) %></th>
          <th style="border-top:1px solid #9c9c9c;border-right:1px solid #9c9c9c;font-weight:normal;text-align:left;padding-left:8px"><%= sub_lot.no_of_bags %></th>
          <th style="border-top:1px solid #9c9c9c;border-right:1px solid #9c9c9c;font-weight:normal;text-align:left;padding-left:8px"><%= sub_lot.grossWeight %></th>
          <th style="border-top:1px solid #9c9c9c;border-right:1px solid #9c9c9c;font-weight:normal;text-align:left;padding-left:8px"><%= sub_lot.tareWeight %></th>
          <th style="border-top:1px solid #9c9c9c;border-right:1px solid #9c9c9c;font-weight:normal;text-align:left;padding-left:8px"><%= sub_lot.netWeight %></th>
          <th style="border-top:1px solid #9c9c9c;border-right:1px solid #9c9c9c;font-weight:normal;text-align:left;padding-left:8px">Rs <%= sub_lot.bid_amount %></th>
          <th style="border-top:1px solid #9c9c9c;border-right:1px solid #9c9c9c;font-weight:normal;text-align:left;padding-left:8px"><%= sub_lot.net_amount %></th>
        </tr>
      <% end %>
    </table>


  <% else %>

    <% if @lot.present? && @lot.bid_amount.present? && @lot.bid_raise_by %>
      <br/>
      <table align="center" cellpadding="0" cellspacing="0" width="100%" style="border:1px solid #ccc;">
        <tr style="background:#0f91ca;height:30px;">
          <th colspan="7" style="border-right:1px solid #9c9c9c;color:fff;">Bid Information</th>
        </tr>
        <tr>
          <th style="background:#f7f7f7;border-right:1px solid #9c9c9c;text-align:left;padding-right:5px;padding-left:8px;">Trader</th>
          <th style="background:#f7f7f7;border-right:1px solid #9c9c9c;text-align:left;padding-right:5px;padding-left:8px;">No
            Of Bags
          </th>
          <th style="background:#f7f7f7;border-right:1px solid #9c9c9c;text-align:left;padding-right:5px;padding-left:8px;">Gross
            Weight
          </th>
          <th style="background:#f7f7f7;border-right:1px solid #9c9c9c;text-align:left;padding-right:5px;padding-left:8px;">Tare
            Weight
          </th>
          <th style="background:#f7f7f7;border-right:1px solid #9c9c9c;text-align:left;padding-right:5px;padding-left:8px;">Net
            Weight
          </th>
          <th style="background:#f7f7f7;border-right:1px solid #9c9c9c;text-align:left;padding-right:5px;padding-left:8px;">Bid
            amount
          </th>
          <th style="background:#f7f7f7;border-right:1px solid #9c9c9c;text-align:left;padding-right:5px;padding-left:8px;">Gross
            amount
          </th>
        </tr>
        <tr>
          <% if @lot.buyer_type == "TRADER" %>
            <th style="border-top:1px solid #9c9c9c;border-right:1px solid #9c9c9c;font-weight:normal;text-align:left;padding-left:8px"><%= User.find_by_id(@lot.bid_raise_by).try(:company_name) %></th>
          <% else %>
            <th style="border-top:1px solid #9c9c9c;border-right:1px solid #9c9c9c;font-weight:normal;text-align:left;padding-left:8px"><%= @lot.buyer_name %></th>
          <% end %>
          <th style="border-top:1px solid #9c9c9c;border-right:1px solid #9c9c9c;font-weight:normal;text-align:left;padding-left:8px"><%= @bag_weights.present? ? @bag_weights.size : @lot.no_of_bags %></th>
          <th style="border-top:1px solid #9c9c9c;border-right:1px solid #9c9c9c;font-weight:normal;text-align:left;padding-left:8px"><%= @lot.grossWeight %></th>
          <th style="border-top:1px solid #9c9c9c;border-right:1px solid #9c9c9c;font-weight:normal;text-align:left;padding-left:8px"><%= @lot.tareWeight %></th>
          <th style="border-top:1px solid #9c9c9c;border-right:1px solid #9c9c9c;font-weight:normal;text-align:left;padding-left:8px"><%= @lot.netWeight %></th>
          <th style="border-top:1px solid #9c9c9c;border-right:1px solid #9c9c9c;font-weight:normal;text-align:left;padding-left:8px">
            Rs <%= @lot.bid_amount %></th>
          <th style="border-top:1px solid #9c9c9c;border-right:1px solid #9c9c9c;font-weight:normal;text-align:left;padding-left:8px"><%= @lot.net_amount %></th>
        </tr>
      </table>
    <% end %>
    <br/>
  <% end %>
  <% if @lot.is_takpatti %>
    <br/>
    <% @farmer_deduction_type = [] %>
    <% @farmer_deductions.each do |deduction| %>
      <% if !@farmer_deduction_type.include?(deduction.party_type) %>
        <% @farmer_deduction_type << deduction.party_type %>
      <% end %>
    <% end %>
    <% if @farmer_deductions.present? %>


      <table align="left" cellpadding="0" cellspacing="0" width="45%" style="border:1px solid #ccc;margin: 4px">
        <tr style="background:#0f91ca;height:30px;">
          <th colspan="2" style="border-right:1px solid #9c9c9c;color:fff;"> Deductions From Farmer</th>
        </tr>
        <tr>
          <th style="background:#f7f7f7;border-right:1px solid #9c9c9c;text-align:left;padding-right:5px;padding-left:8px;">Component
            Name
          </th>
          <th style="background:#f7f7f7;border-right:1px solid #9c9c9c;text-align:left;padding-right:5px;padding-left:8px;">Amount</th>
        </tr>

        <% @total_farmer_dedution = 0 %>
        <% @farmer_deduction_type.each do |deduction| %>
          <tr>
            <th style="border-top:1px solid #9c9c9c;border-right:1px solid #9c9c9c;font-weight:normal;text-align:left;padding-left:8px"><%= deduction %>
              (Rs. <%= LotDeductions.find_all_by_lot_id_and_party_type_and_deduction_type(@lot.id, deduction, "INCLUSIVE").first.try(:charge_value) %>
              / Bag)
            </th>
            <th style="border-top:1px solid #9c9c9c;border-right:1px solid #9c9c9c;font-weight:normal;text-align:left;padding-left:8px"><%= LotDeductions.sum(:deduction_amount, :conditions => ["lot_id =? and party_type =? and deduction_type =?", @lot.id, deduction, "INCLUSIVE"]).round(2) %></th>
            <% @total_farmer_dedution += LotDeductions.sum(:deduction_amount, :conditions => ["lot_id =? and party_type =? and deduction_type =?", @lot.id, deduction, "INCLUSIVE"]) %>
          </tr>
        <% end %>
        <tr>
          <th style="border-top:1px solid #9c9c9c;border-right:1px solid #9c9c9c;font-weight:normal;text-align:left;padding-left:8px">CA Amount
          </th>
          <th style="border-top:1px solid #9c9c9c;border-right:1px solid #9c9c9c;font-weight:normal;text-align:left;padding-left:8px">Rs.  <%= @lot.ca_charges %> </th>
        </tr>
        <tr>
          <th style="border-top:1px solid #9c9c9c;border-right:1px solid #9c9c9c;font-weight:normal;text-align:left;padding-left:8px">Total
            Deductions
          </th>
          <th style="border-top:1px solid #9c9c9c;border-right:1px solid #9c9c9c;font-weight:normal;text-align:left;padding-left:8px">Rs. <%= @total_farmer_dedution.round(2) + @lot.ca_charges %></th>
        </tr>
      </table>


      <table align="left" cellpadding="0" cellspacing="0" width="45%" style="border:1px solid #ccc;margin: 4px">
        <tr style="background:#0f91ca;height:30px;">
          <th colspan="2" style="border-right:1px solid #9c9c9c;color:fff;"> Additions To Farmer</th>
        </tr>
        <tr>
          <th style="background:#f7f7f7;border-right:1px solid #9c9c9c;text-align:left;padding-right:5px;padding-left:8px;">Component
            Name
          </th>
          <th style="background:#f7f7f7;border-right:1px solid #9c9c9c;text-align:left;padding-right:5px;padding-left:8px;">
            Amount
          </th>
        </tr>
        <tr>
          <th style="border-top:1px solid #9c9c9c;border-right:1px solid #9c9c9c;font-weight:normal;text-align:left;padding-left:8px">Gunny
            Amount (Rs. <%= Commodity.find_by_id(@lot.commodity_id).try(:bag_cost) %> /Bag )
          </th>
          <th style="border-top:1px solid #9c9c9c;border-right:1px solid #9c9c9c;font-weight:normal;text-align:left;padding-left:8px">Rs. <%= @lot.gunny_amount %></th>
        </tr>
      </table>


    <% end %>
  <% end %>



  <table align="right" cellpadding="0" cellspacing="0" width="100%" style="padding: 40px 10px">
    <tr>
      <th align="right">Net Amount payable To Farmer : <b style="color: orangered;font-size: 24px">  Rs. <%= @lot.farmer_amount %> </b> </th>
    </tr>
  </table>


  <br/> <br/>
</div>

