<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.jquery.min.js"></script>


<div style="padding: 5px">
  <div class="row">
    <div class="col-sm-6"><%= get_index_text('Lots') %></div>
    <div class="col-sm-6 text-right"></div>
  </div>

  <%= form_tag("/lots/wayment_done_lots", :method => 'get', :remote => true) do %>
    <div class="row">
      <div class="col-sm-2"> <%= select_tag("ta_id", options_for_select(User.where("amc_id=? and is_admin=? and is_employee =? and user_role =?", current_user.amc_id, false, false,'Trader').collect {|u| [u.company_name, u.id]}, @search), :class => 'form-control livesearch', :prompt => 'Select Trader') %></div>
      <div class="col-sm-2"><%= text_field_tag 'posted_on', Date.today, :placeholder => 'Date', :class => 'form-control datepicker' %></div>
      <div class="col-sm-2"><%= text_field_tag 'lot_code', @search, :placeholder => 'lot Code', :class => 'form-control' %></div>
      <div class="col-sm-2"> <%= select_tag("ca_id", options_for_select(User.where("amc_id=? and is_admin=? and is_employee =? and user_role =? ", current_user.amc_id, false, false,'CommissionAgent').collect {|u| [u.company_name, u.id]}, @search), :class => 'form-control livesearch', :prompt => 'Select CA Firm') %></div>
      <div class="col-sm-2"> <%= select_tag("commodity_id", options_for_select(Commodity.where("amc_id=?", current_user.amc_id).collect {|u| [u.name, u.id]}, @search), :class => 'form-control livesearch', :prompt => 'Select Commodity') %></div>
      <div class="col-sm-2"><%= submit_tag('       Search     ', :class => 'form-control zl_round_button3', :style => 'background-color: #154662;color:#ffffff') %></div>
    </div>
  <% end %>


  <br/>
  <div id="lot_wayment_content"><%= render :partial => 'waymented_lots' %></div>

  <br/>
  <% pages = @lotCount / 15 %>
  <% if pages > 0 %>
    <ul class="pages">
      <% page_number = (@offset.to_i/15)+1 %>
      <% for index in 0..pages %>
        <li>
          <a href="/lots/wayment_done_lots?limit=15&offset=<%= 15*index %>"><%= page_number == index+1 ? "<span style='color:green;'>#{index+1}</span>".html_safe : index+1 %></a>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>


<script>

    $('.datepicker').datepicker({
        dateFormat: 'yy-mm-dd ',
        autoclose: true
    });

    $(".livesearch").chosen();
    $('.livesearch').trigger("chosen:updated");

</script>

<%#= link_to 'New Lot', new_lot_path %>
