<%= form_for(@amc) do |f| %>
  <% if @amc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@amc.errors.count, "error") %> prohibited this amc from being saved:</h2>

      <ul>
        <% @amc.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :name, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %><br/>
        <%= f.text_field :name, :class => 'form-control', :placeholder => ' Name ', :required => true %>
      </div>
      <div class="form-group">
        <%= f.label :code, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %><br/>
        <%= f.text_field :code, :class => 'form-control', :placeholder => ' code ', :required => true %>
      </div>
      <div class="form-group">
        <%= f.label :state_id, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %><br/>
        <%= f.select(:state_id, options_for_select(State.all.collect {|u| [u.name, u.id]}, @amc.state_id), {:prompt => 'Select State'}, :required => "required", :class => 'form-control') %>
      </div>
      <div class="form-group">
        <%= f.label :district_id, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %><br/>
        <%= f.select(:district_id, options_for_select(District.all.collect {|u| [u.name, u.id]}, @amc.state_id), {:prompt => 'Select District'}, :required => "required", :class => 'form-control') %>
      </div>

      <div class="form-group">
        <%= f.label "Market Fee (percent %)", :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %><br/>
        <%= f.text_field :market_fee, :class => 'form-control', :placeholder => 'Market Fee ', :required => true %>
      </div>
      <div class="form-group">
        <%= f.label "Commission Agent Fee (percent) ", :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %><br/>
        <%= f.text_field :commission_agent_fee, :class => 'form-control', :placeholder => 'Market Fee ', :required => true %>
      </div>

      <div class="field">
        <%= f.label :is_active %><br/>
        <%= f.check_box :is_active %>
      </div>
      <div class="actions">
        <%= f.submit(:class => 'btn btn-success btn-md') %>
      </div>
    </div>
  </div>
<% end %>
