<style>
  tr:hover {
    background-color: grey !important;
    color: darkblue !important;
  }
</style>


<div style="padding: 5px">
  <div class="row">
    <div class="col-sm-6"><%= get_index_text('All Amcs List') %></div>
    <div class="col-sm-6 text-right"></div>
  </div>
  <table class="table table-bordered">
    <tr class="tr_style1" >
      <th>Code</th>
      <th>Name</th>
      <th>District</th>
      <th>State</th>
    </tr>
    <% @amcs.each do |amc| %>
      <tr onclick="location.href='/amcs/select_amc?amc_id=<%= amc.id %>'"  style="text-transform: uppercase;">
        <th><%= amc.code %></th>
        <th><%= amc.name %></th>
        <th><%= District.find_by_id(amc.district_id).try(:name) %></th>
        <th><%= State.find_by_id(amc.state_id).try(:name) %></th>
      </tr>
    <% end %>
  </table>
  <br/>
</div>
