<div style="padding: 5px">
  <div class="row">
    <div class="col-sm-6"><%= get_index_text('Amcs') %></div>
    <div class="col-sm-6 text-right"><%= link_to 'New Amc', new_amc_path, :class => 'btn btn-success', :style => 'color:white;background-color:#99cc00 !important' %></div>
  </div>
  <table class="table table-bordered">
    <tr class="tr_style">
      <th>Name</th>
      <th>Code</th>
      <th>Market Fee (percent %)</th>
      <th>Commission Agent Fee (percent %)</th>
      <th>State</th>
      <th>District</th>
      <th>Is active</th>
      <th></th>
      <th></th>
    </tr>
    <% @amcs.each do |amc| %>
      <tr>
        <td><%= amc.name %></td>
        <td><%= amc.code %></td>
        <td><%= amc.market_fee %></td>
        <td><%= amc.commission_agent_fee %></td>
        <td><%= State.find_by_id(amc.state_id).try(:name) %></td>
        <td><%= District.find_by_id(amc.district_id).try(:name) %></td>
        <td><%= amc.is_active %></td>
        <td><%= link_to 'Edit', edit_amc_path(amc) %></td>
        <td><%= link_to 'Destroy', amc, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
  </table>
  <br/>
</div>
