<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @amc.name %>
</p>

<p>
  <b>Code:</b>
  <%= @amc.code %>
</p>

<p>
  <b>Is active:</b>
  <%= @amc.is_active %>
</p>


<%= link_to 'Edit', edit_amc_path(@amc) %> |
<%= link_to 'Back', amcs_path %>
