<%= form_for(@bag_type) do |f| %>
  <% if @bag_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bag_type.errors.count, "error") %> prohibited this bag_type from being saved:</h2>

      <ul>
        <% @bag_type.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-sm-6">
      <%= f.hidden_field :amc_id, :value => current_user.amc_id %>
      <div class="field">
        <%= f.label :quandity, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %>
        <%= f.text_field :quandity, :class => 'form-control', :placeholder => ' Quandity ', :required => true %>
      </div>
      <div class="field">
        <%= f.label :uom_id, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %><br/>
        <%= f.select(:uom_id, options_for_select(UnitOfMeasurement.where("amc_id=?",current_user.amc_id).collect {|u| [u.unit_name, u.id]}, @bag_type.uom_id), {:prompt => 'Select Unit Of Measurement'}, :required => "required", :class => 'form-control') %>
      </div>
      <div class="field">
        <%= f.label :description, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %>
        <%= f.text_field :description, :class => 'form-control', :placeholder => 'Description ' %>
      </div>
      <div class="field">
        <%= f.label :is_active, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %>
        <%= f.check_box :is_active %>
      </div>
      <div class="actions">
        <%= f.submit(:class => 'btn btn-success btn-md') %>
      </div>
    </div>
  </div>
<% end %>
