<div style="padding: 5px">
  <div class="row">
    <div class="col-sm-6"><%= get_index_text('Bag Types') %></div>
    <div class="col-sm-6 text-right"><%= link_to 'New Bag Type', new_bag_type_path, :class => 'btn btn-success', :style => 'color:white;background-color:#99cc00 !important' %></div>
  </div>
  <table class="table table-bordered">
    <tr class="tr_style">

      <th>Quantity</th>
      <th>Uom</th>
      <th>Description</th>
      <th>Is active</th>
      <% if current_user.present? && current_user.is_admin %>
      <th></th>
      <th></th>
        <%end %>

    </tr>

    <% @bag_types.each do |bag_type| %>
      <tr>
        <td><%= bag_type.quandity %></td>
        <td><%= UnitOfMeasurement.find_by_id(bag_type.uom_id).try(:unit_name) %></td>
        <td><%= bag_type.description %></td>
        <td><%= bag_type.is_active %></td>
        <% if current_user.present? && current_user.is_admin %>
        <td><%= link_to 'Edit', edit_bag_type_path(bag_type) %></td>
        <td><%= link_to 'Destroy', bag_type, method: :delete, data: {confirm: 'Are you sure?'} %></td>
          <%end %>
      </tr>
    <% end %>
  </table>
</div>
