<%= form_for(@commodity) do |f| %>
  <% if @commodity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@commodity.errors.count, "error") %> prohibited this commodity from being saved:</h2>

      <ul>
        <% @commodity.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :name, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %>
        <%= f.text_field :name, :class => 'form-control', :placeholder => 'Commodity Name ', :required => true %>
      </div>
      <div class="form-group">
        <%= f.label "Variety ", :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %>
        <%= f.select(:parent_category_id, options_for_select(Commodity.where("amc_id=?",current_user.amc_id).collect {|u| [u.name, u.id]}, @commodity.parent_category_id), {:prompt => 'Select Variety'}, :class => 'form-control') %>
      </div>
      <div class="form-group">
        <%= f.label :uom_id, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %>
        <%= f.select(:uom_id, options_for_select(UnitOfMeasurement.where("amc_id=?",current_user.amc_id).collect {|u| [u.unit_name, u.id]}, @commodity.uom_id), {:prompt => 'Select Unit Of Measurement'}, :required => "required", :class => 'form-control') %>
      </div>
      <div class="form-group">
        <%= f.label :bag_type_id, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %>
        <%= f.select(:bag_type_id, options_for_select(BagType.where("amc_id=?",current_user.amc_id).collect {|u| [u.description, u.id]}, @commodity.bag_type_id), {:prompt => 'Select Bag Type'}, :required => "required", :class => 'form-control') %>
      </div>
      <div class="form-group">
        <%= f.label :bag_cost, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %>
        <%= f.text_field :bag_cost, :class => 'form-control', :placeholder => 'Bag cost', :required => true,:onkeypress => "return isNumberKey(event)"%>
      </div>


      <%= f.hidden_field :amc_id, :value => current_user.amc_id %>
      <div class="form-group">
        <%= f.label :is_active %><br/>
        <%= f.check_box :is_active %>
      </div>
      <div class="actions">
        <%= f.submit(:class => 'btn btn-success btn-md') %>
      </div>
    </div>
  </div>
<% end %>
