<div style="padding: 5px">
  <div class="row">
    <div class="col-sm-6"><%= get_index_text('Commodities') %></div>
    <div class="col-sm-6 text-right"><%= link_to 'New Commodity', new_commodity_path, :class => 'btn btn-success', :style => 'color:white;background-color:#99cc00 !important' %></div>
  </div>
  <table class="table table-bordered">
    <tr class="tr_style">
      <th>Name</th>
      <th>Variety</th>
      <th>Uom</th>
      <th>Bag Type</th>
      <th>Bag Cost</th>
      <th>Is active</th>
      <% if current_user.present? && current_user.is_admin %>
        <th></th>
        <th></th>
      <% end %>
    </tr>

    <% @commodities.each do |commodity| %>
      <tr>
        <td><%= commodity.name %></td>
        <td><%= Commodity.find_by_id(commodity.parent_category_id).try(:name) %></td>
        <td><%= UnitOfMeasurement.find_by_id(commodity.uom_id).try(:unit_name) %></td>
        <td><%= BagType.find_by_id(commodity.bag_type_id).try(:description) %></td>
        <td><%= commodity.bag_cost %></td>
        <td><%= commodity.is_active %></td>
        <% if current_user.present? && current_user.is_admin %>
          <td><%= link_to 'Edit', edit_commodity_path(commodity) %></td>
          <td><%= link_to 'Destroy', commodity, method: :delete, data: {confirm: 'Are you sure?'} %></td>
        <% end %>
      </tr>
    <% end %>
  </table>

  <br/>

</div>
