<%= form_for(@vehicle_type) do |f| %>
  <% if @vehicle_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vehicle_type.errors.count, "error") %> prohibited this vehicle_type from being saved:</h2>
      <ul>
        <% @vehicle_type.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label "Vehicle Type", :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %>
        <br/>
        <%= f.text_field :name, :class => 'form-control', :placeholder => ' Name ', :required => true %>
      </div>
      <div class="form-group">
        <%= f.label :description, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %>
        <br/>
        <%= f.text_area :description, :class => 'form-control', :placeholder => 'Description ', :size => '10X20'%>
      </div>
      <%= f.hidden_field :amc_id, :value => current_user.amc_id %>
      <div class="form-group">
        <%= f.label :is_active %><br/>
        <%= f.check_box :is_active %>
      </div>
      <div class="actions">
        <%= f.submit(:class => 'btn btn-success btn-md') %>
      </div>
    </div>

  </div>
<% end %>
