<div style="padding: 5px">
  <div class="row">
    <div class="col-sm-6"><%= get_index_text('Vehicle Types') %></div>
    <div class="col-sm-6 text-right"><%= link_to 'New Vehicle type', new_vehicle_type_path, :class => 'btn btn-success', :style => 'color:white;background-color:#99cc00 !important' %></div>
  </div>
  <table class="table table-bordered">
    <tr class="tr_style">
      <th>Name</th>
      <th>Description</th>
      <th>Is active</th>
      <% if current_user.present? && current_user.is_admin %>
        <th></th>
        <th></th>
      <% end %>
    </tr>
    <% @vehicle_types.each do |vehicle_type| %>
      <tr>
        <td><%= vehicle_type.name %></td>
        <td><%= vehicle_type.description %></td>
        <td><%= vehicle_type.is_active %></td>
        <% if current_user.present? && current_user.is_admin %>
          <td><%= link_to 'Edit', edit_vehicle_type_path(vehicle_type) %></td>
          <td><%= link_to 'Destroy', vehicle_type, method: :delete, data: {confirm: 'Are you sure?'} %></td>
        <% end %>
      </tr>
    <% end %>
  </table>

  <br/>
</div>
