<%= form_for(@fee_component) do |f| %>
  <% if @fee_component.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fee_component.errors.count, "error") %> prohibited this fee_component from being saved:</h2>

      <ul>
        <% @fee_component.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :name, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %><br/>
        <%= f.text_field :name, :class => 'form-control', :placeholder => 'Component Name ', :required => true %>
      </div>
      <div class="field">
        <%= f.label :fee_type, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %><br/>
        <%= f.select(:fee_type, options_for_select(['Inclusive', 'Exclusive'], @fee_component.fee_type), {:prompt => 'Select Type'}, :required => "required", :class => 'form-control') %>
      </div>
      <div class="field">
        <%= f.label :fee_category_id %><br/>
        <%= f.select(:fee_category_id, options_for_select(FeeCategory.all.collect {|u| [u.category_name, u.id]}, @fee_component.fee_category_id), {:prompt => 'Select Category'}, :required => "required", :class => 'form-control') %>
      </div>
      <div class="field">
        <%= f.label :percentage, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %><br/>
        <%= f.text_field :percentage, :class => 'form-control', :placeholder => 'Percentage', :required => true %>
      </div>

      <div class="field">
        <%= f.label :amount, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %><br/>
        <%= f.text_field :amount, :class => 'form-control', :placeholder => 'Amount', :required => true %>
      </div>

      <div class="field">
        <%= f.label :party_type, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %><br/>
        <%= f.text_field :party_type, :class => 'form-control', :placeholder => 'Party Type', :required => true %>
      </div>

      <div class="field">
        <%= f.label :calculate_on_uom, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %>
        <br/>
        <%= f.text_field :calculate_on_uom, :class => 'form-control', :placeholder => 'Calculate on Uom', :required => true %>
      </div>

      <div class="field">
        <%= f.label :amount_per_uom, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %>
        <br/>
        <%= f.text_field :amount_per_uom, :class => 'form-control', :placeholder => 'Amount Per Uom', :required => true %>
      </div>

      <div class="field">
        <%= f.label :tds, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %><br/>
        <%= f.text_field :tds, :class => 'form-control', :placeholder => 'TDS', :required => true %>
      </div>

      <div class="field">
        <%= f.label :is_active, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %><br/>
        <%= f.check_box :is_active %>
      </div>
      <%= f.hidden_field :amc_id, :value => current_user.amc_id %>
      <%= f.hidden_field :modified_by, :value => current_user.id %>
      <div class="actions">
        <%= f.submit(:class => 'btn btn-success btn-md') %>
      </div>
    </div>
  </div>
<% end %>
