<div style="padding: 5px">
  <div class="row">
    <div class="col-sm-6"><%= get_index_text('Fee Components') %></div>
    <div class="col-sm-6 text-right"><%= link_to 'New Fee component', new_fee_component_path, :class => 'btn btn-success', :style => 'color:white;background-color:#99cc00 !important' %></div>
  </div>
  <table class="table table-bordered">
    <tr class="tr_style">
      <th>Name</th>
      <th>Category</th>
      <th>Fee Type</th>
      <th>Percentage</th>
      <th>Amount</th>
      <th>Party type</th>
      <th>Calculate on uom</th>
      <th>Amount per uom</th>
      <th>Tds</th>
      <th>Modified by</th>
      <th>Modified on</th>
      <th></th>
      <th></th>
    </tr>

    <% @fee_components.each do |fee_component| %>
      <tr>
        <td><%= fee_component.name %></td>
        <td><%= FeeCategory.find_by_id(fee_component.fee_category_id).try(:category_name) %></td>
        <td><%= fee_component.fee_type %></td>
        <td><%= fee_component.percentage %></td>
        <td><%= fee_component.amount %></td>
        <td><%= fee_component.party_type %></td>
        <td><%= fee_component.calculate_on_uom %></td>
        <td><%= fee_component.amount_per_uom %></td>
        <td><%= fee_component.tds %></td>
        <td><%= User.find_by_id(fee_component.modified_by).try(:name) %></td>
        <td><%= fee_component.modified_on %></td>
        <td><%= link_to 'Edit', edit_fee_component_path(fee_component) %></td>
        <td><%= link_to 'Destroy', fee_component, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
  </table>
  <br/>
</div>
