<%= form_for(@sale_bill_component) do |f| %>
  <% if @sale_bill_component.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sale_bill_component.errors.count, "error") %> prohibited this sale_bill_component from being saved:</h2>

      <ul>
      <% @sale_bill_component.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :component_id %><br />
    <%= f.number_field :component_id %>
  </div>
  <div class="field">
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :deducted_amount %><br />
    <%= f.text_field :deducted_amount %>
  </div>
  <div class="field">
    <%= f.label :amount_calculated_type %><br />
    <%= f.text_field :amount_calculated_type %>
  </div>
  <div class="field">
    <%= f.label :percent %><br />
    <%= f.text_field :percent %>
  </div>
  <div class="field">
    <%= f.label :discount_percent %><br />
    <%= f.text_field :discount_percent %>
  </div>
  <div class="field">
    <%= f.label :party_type %><br />
    <%= f.text_field :party_type %>
  </div>
  <div class="field">
    <%= f.label :party_name %><br />
    <%= f.text_field :party_name %>
  </div>
  <div class="field">
    <%= f.label :party_id %><br />
    <%= f.number_field :party_id %>
  </div>
  <div class="field">
    <%= f.label :salebill_id %><br />
    <%= f.number_field :salebill_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
