<h1>Listing sale_bill_components</h1>

<table>
  <tr>
    <th>Component</th>
    <th>Amount</th>
    <th>Deducted amount</th>
    <th>Amount calculated type</th>
    <th>Percent</th>
    <th>Discount percent</th>
    <th>Party type</th>
    <th>Party name</th>
    <th>Party</th>
    <th>Salebill</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sale_bill_components.each do |sale_bill_component| %>
  <tr>
    <td><%= sale_bill_component.component_id %></td>
    <td><%= sale_bill_component.amount %></td>
    <td><%= sale_bill_component.deducted_amount %></td>
    <td><%= sale_bill_component.amount_calculated_type %></td>
    <td><%= sale_bill_component.percent %></td>
    <td><%= sale_bill_component.discount_percent %></td>
    <td><%= sale_bill_component.party_type %></td>
    <td><%= sale_bill_component.party_name %></td>
    <td><%= sale_bill_component.party_id %></td>
    <td><%= sale_bill_component.salebill_id %></td>
    <td><%= link_to 'Show', sale_bill_component %></td>
    <td><%= link_to 'Edit', edit_sale_bill_component_path(sale_bill_component) %></td>
    <td><%= link_to 'Destroy', sale_bill_component, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sale bill component', new_sale_bill_component_path %>
