<p id="notice"><%= notice %></p>

<p>
  <b>Component:</b>
  <%= @sale_bill_component.component_id %>
</p>

<p>
  <b>Amount:</b>
  <%= @sale_bill_component.amount %>
</p>

<p>
  <b>Deducted amount:</b>
  <%= @sale_bill_component.deducted_amount %>
</p>

<p>
  <b>Amount calculated type:</b>
  <%= @sale_bill_component.amount_calculated_type %>
</p>

<p>
  <b>Percent:</b>
  <%= @sale_bill_component.percent %>
</p>

<p>
  <b>Discount percent:</b>
  <%= @sale_bill_component.discount_percent %>
</p>

<p>
  <b>Party type:</b>
  <%= @sale_bill_component.party_type %>
</p>

<p>
  <b>Party name:</b>
  <%= @sale_bill_component.party_name %>
</p>

<p>
  <b>Party:</b>
  <%= @sale_bill_component.party_id %>
</p>

<p>
  <b>Salebill:</b>
  <%= @sale_bill_component.salebill_id %>
</p>


<%= link_to 'Edit', edit_sale_bill_component_path(@sale_bill_component) %> |
<%= link_to 'Back', sale_bill_components_path %>
