<%= form_for(@gunny_detail) do |f| %>
  <% if @gunny_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gunny_detail.errors.count, "error") %> prohibited this gunny_detail from being saved:</h2>

      <ul>
        <% @gunny_detail.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :commodity_id, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %>
        <br/>
        <%= f.select(:commodity_id, options_for_select(Commodity.where("amc_id=?", current_user.amc_id).collect {|u| [u.name, u.id]}, @gunny_detail.commodity_id), {:prompt => 'Select Commodity'}, :required => "required", :class => 'form-control') %>
      </div>
      <div class="field">
        <%= f.label :bag_type_id, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %>
        <br/>
        <%= f.select(:bag_type_id, options_for_select(BagType.where("amc_id=?", current_user.amc_id).collect {|u| [u.description, u.id]}, @gunny_detail.bag_type_id), {:prompt => 'Select BagType'}, :required => "required", :class => 'form-control') %>
      </div>
      <div class="field">
        <%= f.label :uom_id, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %>
        <br/>
        <%= f.select(:uom_id, options_for_select(UnitOfMeasurement.where("amc_id=?", current_user.amc_id).collect {|u| [u.unit_name, u.id]}, @gunny_detail.uom_id), {:prompt => 'Select Uom '}, :required => "required", :class => 'form-control') %>
      </div>

      <div class="field">
        <%= f.label :tare_weight, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %>
        <br/>
        <%= f.text_field :tare_weight , :class => 'form-control', :placeholder => 'Weight ', :required => true %>
      </div>


      <%= f.hidden_field :amc_id, :value => current_user.amc_id %>
      <div class="field">
        <%= f.label :is_active, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %><br/>
        <%= f.check_box :is_active %>
      </div>

      <div class="actions">
        <%= f.submit(:class => 'btn btn-success btn-md') %>
      </div>
    </div>
  </div>
<% end %>
