<div style="padding: 5px">
  <div class="row">
    <div class="col-sm-6"><%= get_index_text('Gunny Details') %></div>
    <div class="col-sm-6 text-right"><%= link_to 'New Gunny detail', new_gunny_detail_path, :class => 'btn btn-success', :style => 'color:white;background-color:#99cc00 !important' %></div>
  </div>
  <table class="table table-bordered">
    <tr class="tr_style">
      <th>Commodity</th>
      <th>Bag type</th>
      <th>Uom</th>
      <th>Tare weight</th>
      <% if current_user.present? && current_user.is_admin %>
        <th></th>
        <th></th>
      <% end %>
      <th></th>
    </tr>

    <% @gunny_details.each do |gunny_detail| %>
      <tr>
        <td><%= Commodity.find_by_id(gunny_detail.commodity_id).try(:name) %></td>
        <td><%= BagType.find_by_id(gunny_detail.bag_type_id).try(:description) %></td>
        <td><%= UnitOfMeasurement.find_by_id(gunny_detail.uom_id).try(:unit_name) %></td>
        <td><%= gunny_detail.tare_weight %></td>
        <% if current_user.present? && current_user.is_admin %>
          <td><%= link_to 'Edit', edit_gunny_detail_path(gunny_detail) %></td>
          <td><%= link_to 'Destroy', gunny_detail, method: :delete, data: {confirm: 'Are you sure?'} %></td>
        <% end %>
        <td><a href="/gunnay_tare_weights/new?gunny_id=<%= gunny_detail.id %>" target="_blank">Add Tare weight</a></td>
      </tr>
    <% end %>
  </table>

  <br/>
</div>

