<div class="wrapper">
  <div class="row">
    <div class="col-sm-4"></div>
    <%= form_for(@user_session) do |form| %>
      <% user_name_error = @user_session.errors[:username][0] %>
      <% password_error = @user_session.errors[:password][0] %>
      <% error = @user_session.errors.full_messages[0] if (user_name_error.blank? && password_error.blank?) %>

      <div style="align:center;">
        <div class="col-sm-4 text-center" style="padding-top: 15%">
          <div class="panel" style="background-color: #ffffff !important;padding: 0px 20px;width: 350px;border-radius: 4px;opacity:1">

            <div class="form-group" align="left" style="font-size: 16px;color: #3DA56B;font-family: avenirltstd-Light">
              <h3 class="text-center" style="font-family: avenirltstd-Light;color: #3DA56B;">Sign In</h3>

              <%= form.label 'User Name', :style => "padding: 10px 0px" %>
              <%= form.text_field :email, :placeholder => 'User Name', :class => 'textbox form-control', :required => true %>
            </div>

            <div class="form-group" align="left" style="font-size: 16px;color: #3DA56B;font-family: avenirltstd-Light">
              <%= form.label 'password', :style => "padding: 10px 0px" %>
              <%= form.password_field :password, :placeholder => 'password', :class => 'textbox form-control', :required => true %>
            </div>

            <p class="error_style" style="padding: 10px;color: red;font-size: 16px">
              <%= "Email " + user_name_error unless user_name_error.blank? %>
              <%= "Password " + password_error unless password_error.blank? %>
              <%= error.gsub('Email', 'User Name') if error.present? %>
            </p>

            <div class="actions" style="padding-top: 10px">
              <div align="center">
                <%= form.submit 'Login', :style => 'background-color: #3DA56B;font-family: avenirltstd-Light;font-size:16px;color:#ffffff;width:310px;padding:10px;border:none;border-radius:4px' %>
              </div>
            </div>

            <div class="actions" style="text-align: center;text-decoration: none">
              <br>
            </div>



          </div>
        </div>
      </div>

    <% end %>
  </div>
</div>


