<%= form_for(@weighment) do |f| %>
  <% if @weighment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@weighment.errors.count, "error") %> prohibited this weighment from being saved:</h2>
      <ul>
        <% @weighment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :lot_code, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %><br/>
        <%= f.text_field :lot_code, :class => 'form-control', :placeholder => ' Lot Code ', :required => true, :onblur => "myFunction(this.value)" %>
      </div>
    </div>
    <div class="col-sm-6"></div>
  </div>
  <%= f.hidden_field :amc_id, :value => current_user.amc_id %>
  <div id="update_lotDetails">
    <%= render :partial => 'lot_entries', :locals => {:f => f} %>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <%= f.label :weighment_type, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %>
        <br/>
        <%= f.select(:weighment_type, options_for_select(['Vehicle Wise', 'Lot Wise'], @weighment.weighment_type), {:prompt => 'Select Weighment Type'}, :required => "required", :class => 'form-control') %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <%= f.label :weighment_charges, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %>
        <br/>
        <%= f.text_field :weighment_charges , :class => 'form-control', :placeholder => ' Quandity ', :required => true %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <%= f.label :remarks, :class => 'label-tag-style', :style => "text-transform: capitalize;color:black" %><br/>
        <%= f.text_field :remarks, :class => 'form-control', :placeholder => ' Quandity ', :required => true %>
      </div>
    </div>
  </div>
  <div class="actions col-sm-12">
    <%= f.submit(:class => 'btn btn-success btn-md') %>
  </div>
<% end %>
<script>
    function myFunction(val) {
        $.ajax('/weighments/get_lot_details?lot_no=' + val)
    }
</script>