<div class="row">


  <div class="col-sm-4">
    <div class="form-group">
      <%= label_tag('', 'Seller Type', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
      <br/>
      <%= text_field_tag "seller_type", @lot.present? && @lot.seller_type.present? ? @lot.seller_type : '', :placeholder => 'Seller Type', :required => true, :readonly => true, :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= label_tag('', 'Seller Type', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
      <br/>
      <%= select_tag("bag_type", options_for_select(BagType.all.collect {|u| [u.description, u.id]}, @lot.present? && @lot.bag_type_id.present? ? @lot.bag_type_id : ''), :class => 'form-control', :prompt => 'Select BagType', :required => true, :readonly => true) %>
    </div>

  </div>
  <div class="col-sm-4">

    <div class="form-group">
      <%= label_tag('', 'Seller Name', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
      <br/>
      <%= select_tag("seller_name", options_for_select(Farmer.all.collect {|u| [u.name, u.id]}, @lot.present? && @lot.seller_id.present? ? @lot.seller_id : ''), :class => 'form-control', :prompt => 'Select Seller Name', :required => true, :readonly => true) %>
    </div>

    <div class="form-group">
      <%= label_tag('', 'Product', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
      <br/>
      <%= select_tag("product_id", options_for_select(Commodity.all.collect {|u| [u.name, u.id]}, @lot.present? && @lot.commodity_id.present? ? @lot.commodity_id : ''), :class => 'form-control', :prompt => 'Select Product', :required => true, :readonly => true) %>
    </div>

  </div>
  <div class="col-sm-4">

    <div class="form-group">
      <%= label_tag('', 'No Of Bags', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
      <br/>
      <%= text_field_tag "no_of_bags", @lot.present? && @lot.no_of_bags.present? ? @lot.no_of_bags : '', :id=>"TESTCOUNT",:placeholder => 'No Of Bags', :required => true, :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= label_tag('', 'Lot Weight', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
      <br/>
      <%= text_field_tag "lot_weight", @lot.present? && @lot.aprox_quantity.present? ? @lot.aprox_quantity : '', :placeholder => 'Lot Weight', :required => true, :class => 'form-control' %>
    </div>

  </div>
</div>