<div style="padding: 5px">
  <div class="row">
    <div class="col-sm-6"><%= get_index_text('New Weighment') %></div>
  </div>
  <br/>
  <%= form_tag("/weighments/update_weighment", :method => 'POST', :multipart => true) do %>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <%= label_tag('', 'Lot Code', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
          <br/>
          <%= text_field_tag "lot_code", '', :placeholder => 'LotCode', :required => true, :onblur => "myFunction(this.value)", :class => 'form-control' %>
        </div>
      </div>
    </div>
    <br/>
    <div id="update_lotDetails">
      <%= render :partial => 'lot_entries' %>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <div class="form-group">
          <%= label_tag('', 'Remarks', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
          <br/>
          <%= text_field_tag "remarks", '', :placeholder => 'Remarks', :required => true, :class => 'form-control' %>
        </div>
      </div>
    </div>
    <br/>

    <div class="row">
      <div class="col-sm-6"><%= get_index_text('Individuval bag weights') %></div>
    </div>
    <br/>

    <table id="POITableFamily" class="table table-bordered text-center">
      <tr>
        <td>No</td>
        <td>Sequence</td>
        <td>Net Weight</td>
        <td>Gross Weight</td>
        <td>Tare Weight</td>
        <td>Amount</td>
        <td>
          <input type="button" id="addmorePOIbutton" value="+" onclick="insRow()"/>
        </td>
      </tr>
      <tr style="text-align: center;padding: 10px">
        <td class="td_class">1</td>
        <td class="td_class">
          <%= text_field_tag "sequence_", '', :placeholder => 'Sequence', :class => 'form-control', :required => true, :id => "sequence_" %>
        </td>
        <td class="td_class">
          <%= text_field_tag "netWeight_", '', :placeholder => 'Net Weight', :class => 'form-control', :required => true, :id => "netWeight_" %>
        </td>
        <td class="td_class">
          <%= text_field_tag "grossWeight_", '', :placeholder => 'grossWeight', :class => 'form-control', :required => true, :id => "grossWeight_" %>
        </td>
        <td class="td_class">
          <%= text_field_tag "tareWeight_", '', :placeholder => 'tareWeight', :class => 'form-control', :required => true, :id => "tareWeight_" %>
        </td>
        <td class="td_class">
          <%= text_field_tag "price_", '', :placeholder => 'Price', :class => 'form-control', :id => "price_", :required => true %>
        </td>
        <td class="td_class">
          <input type="button" id="delPOIbutton" value="X" onclick="deleteRow(this)"/>
        </td>
      </tr>
    </table>

    <br/>

    <div class="col-sm-12">
      <div class="row" id="customer_error" style="color:red;font-weight:bold;padding-left: 30px;"></div>
    </div>
    <div class="col-sm-12" style="padding: 10px">
      <span><%= submit_tag "save", :class => 'btn btn-success', :onclick => "return validateForm()", :style => 'width:100px;font-size:16px' %></span>
    </div>

  <% end %>
</div>


<script>
    function myFunction(val) {
        $.ajax('/weighments/get_lot_details?lot_no=' + val)
    }


    function validateForm() {
        var x = document.getElementById('POITableFamily');
        var len = x.rows.length;
        var no_of_bags = $('#TESTCOUNT').val();
        if (len - 1 != no_of_bags) {
            $('#customer_error').show();
            document.getElementById('customer_error').innerHTML = "Please check your entered noumber of bags and individual bag counts.";
            return false
        } else {
            return true
        }
    }
</script>


<script>
    function insRow() {
        var x = document.getElementById('POITableFamily');
        var new_row = x.rows[1].cloneNode(true);
        var len = x.rows.length;
        new_row.cells[0].innerHTML = len;
        var inp1 = new_row.cells[1].getElementsByTagName('input')[0];
        inp1.id += len;
        inp1.name += len;
        inp1.value = '';
        var inp2 = new_row.cells[2].getElementsByTagName('input')[0];
        inp2.id += len;
        inp2.name += len;
        inp2.value = '';
        var inp3 = new_row.cells[3].getElementsByTagName('input')[0];
        inp3.id += len;
        inp3.name += len;
        inp3.value = '';
        var inp4 = new_row.cells[4].getElementsByTagName('input')[0];
        inp4.id += len;
        inp4.name += len;
        inp4.value = '';
        var inp5 = new_row.cells[5].getElementsByTagName('input')[0];
        inp5.id += len;
        inp5.name += len;
        inp5.value = '';
        x.appendChild(new_row);
    }

    function deleteRow(row) {
        var i = row.parentNode.parentNode.rowIndex;
        if (i != 1) {
            document.getElementById('POITableFamily').deleteRow(i);
        }
    }

</script>