<div style="padding: 5px">
  <div class="row">
    <div class="col-sm-6"><%= get_index_text('Modify Weighment') %></div>
  </div>
  <br/>

  <%= form_tag("/weighments/updated_weighment", :method => 'POST', :multipart => true) do %>
    <% if @weighment.present? %>
      <%= hidden_field_tag 'weighment_id', @weighment.id %>
    <% end %>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <%= label_tag('', 'Lot Code', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
          <br/>
          <%= text_field_tag "lot_code", @weighment.present? && @weighment.lot_code.present? ? @weighment.lot_code : '', :placeholder => 'LotCode', :required => true, :onblur => "myFunction(this.value)", :class => 'form-control' %>
        </div>
      </div>
    </div>

    <br/>
    <div class="row">


      <div class="col-sm-4">
        <div class="form-group">
          <%= label_tag('', 'Seller Type', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
          <br/>
          <%= text_field_tag "seller_type", @weighment.present? && @weighment.seller_type.present? ? @weighment.seller_type : '', :placeholder => 'Seller Type', :required => true, :readonly => true, :class => 'form-control' %>
        </div>

        <div class="form-group">
          <%= label_tag('', 'Seller Type', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
          <br/>
          <%= select_tag("bag_type", options_for_select(BagType.all.collect {|u| [u.description, u.id]}, @weighment.present? && @weighment.bag_type.present? ? @weighment.bag_type : ''), :class => 'form-control', :prompt => 'Select BagType', :required => true, :readonly => true) %>
        </div>

      </div>
      <div class="col-sm-4">

        <div class="form-group">
          <%= label_tag('', 'Seller Name', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
          <br/>
          <%= select_tag("seller_name", options_for_select(Farmer.all.collect {|u| [u.name, u.id]}, @weighment.present? && @weighment.seller_name.present? ? @weighment.seller_name : ''), :class => 'form-control', :prompt => 'Select Seller Name', :required => true, :readonly => true) %>
        </div>

        <div class="form-group">
          <%= label_tag('', 'Product', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
          <br/>
          <%= select_tag("product_id", options_for_select(Commodity.all.collect {|u| [u.name, u.id]}, @weighment.present? && @weighment.product_id.present? ? @weighment.product_id : ''), :class => 'form-control', :prompt => 'Select Product', :required => true, :readonly => true) %>
        </div>

      </div>
      <div class="col-sm-4">

        <div class="form-group">
          <%= label_tag('', 'No Of Bags', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
          <br/>
          <%= text_field_tag "no_of_bags", @weighment.present? && @weighment.no_of_bags.present? ? @weighment.no_of_bags : '', :placeholder => 'No Of Bags', :required => true, :class => 'form-control' %>
        </div>

        <div class="form-group">
          <%= label_tag('', 'Lot Weight', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
          <br/>
          <%= text_field_tag "lot_weight", @weighment.present? && @weighment.lot_weight.present? ? @weighment.lot_weight : '', :placeholder => 'Lot Weight', :required => true, :class => 'form-control' %>
        </div>

      </div>
    </div>


    <div class="row">
      <div class="col-sm-8">

        <div class="form-group">
          <%= label_tag('', 'Remarks', :class => 'label-tag-style', :style => "text-transform: capitalize;color:black") %>
          <br/>
          <%= text_field_tag "remarks", @weighment.present? && @weighment.remarks.present? ? @weighment.remarks : '', :placeholder => 'Remarks', :required => true, :class => 'form-control' %>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-6"><%= get_index_text('Individuval bag weights') %></div>
    </div>
    <br/>

    <table id="POITableFamily" class="table table-bordered text-center">
      <tr>
        <td>No</td>
        <td>Sequence</td>
        <td>Net Weight</td>
        <td>Gross Weight</td>
        <td>Tare Weight</td>
        <td>Amount</td>
        <td>
          <input type="button" id="addmorePOIbutton" value="+" onclick="insRow()"/>
        </td>
      </tr>
      <% @bag_weights.each_with_index do |bagweight, index| %>
        <tr style="text-align: center;padding: 10px">
          <td class="td_class"><%= index %></td>
          <td class="td_class">
            <%= text_field_tag "sequence_", bagweight.sequence.present? ? bagweight.sequence : '', :placeholder => 'Sequence', :class => 'form-control', :required => true, :id => "sequence_" %>
          </td>
          <td class="td_class">
            <%= text_field_tag "netWeight_", bagweight.netWeight.present? ? bagweight.netWeight : '', :placeholder => 'Net Weight', :class => 'form-control', :required => true, :id => "netWeight_" %>
          </td>
          <td class="td_class">
            <%= text_field_tag "grossWeight_", bagweight.grossWeight.present? ? bagweight.grossWeight : '', :placeholder => 'grossWeight', :class => 'form-control', :required => true, :id => "grossWeight_" %>
          </td>
          <td class="td_class">
            <%= text_field_tag "tareWeight_", bagweight.tareWeight.present? ? bagweight.tareWeight : '', :placeholder => 'tareWeight', :class => 'form-control', :required => true, :id => "tareWeight_" %>
          </td>
          <td class="td_class">
            <%= text_field_tag "price_", bagweight.price.present? ? bagweight.price : '', :placeholder => 'Price', :class => 'form-control', :id => "price_", :required => true %>
          </td>
          <td class="td_class">
            <input type="button" id="delPOIbutton" value="X" onclick="deleteRow(this)"/>
          </td>
        </tr>
      <% end %>
    </table>

    <br/>


    <div class="col-sm-12" style="padding: 10px">
      <span><%= submit_tag "save", :class => 'btn btn-success', :style => 'width:100px;font-size:16px' %></span>
    </div>

  <% end %>
</div>










<script>
    function insRow() {
        var x = document.getElementById('POITableFamily');
        var new_row = x.rows[1].cloneNode(true);
        var len = x.rows.length;
        new_row.cells[0].innerHTML = len;
        var inp1 = new_row.cells[1].getElementsByTagName('input')[0];
        inp1.id += len;
        inp1.name += len;
        inp1.value = '';
        var inp2 = new_row.cells[2].getElementsByTagName('input')[0];
        inp2.id += len;
        inp2.name += len;
        inp2.value = '';
        var inp3 = new_row.cells[3].getElementsByTagName('input')[0];
        inp3.id += len;
        inp3.name += len;
        inp3.value = '';
        var inp4 = new_row.cells[4].getElementsByTagName('input')[0];
        inp4.id += len;
        inp4.name += len;
        inp4.value = '';
        var inp5 = new_row.cells[5].getElementsByTagName('input')[0];
        inp5.id += len;
        inp5.name += len;
        inp5.value = '';
        x.appendChild(new_row);
    }

    function deleteRow(row) {
        var i = row.parentNode.parentNode.rowIndex;
        if (i != 1) {
            document.getElementById('POITableFamily').deleteRow(i);
        }
    }

</script>