<div style="padding: 5px">
  <div class="row">
    <div class="col-sm-6"><%= get_index_text('weighments') %></div>
    <div class="col-sm-6 text-right"><%= link_to 'New Weighment', "/weighments/create_weighment", :class => 'btn btn-success', :style => 'color:white;background-color:#99cc00 !important' %></div>
  </div>
  <table class="table table-bordered">
    <tr class="tr_style">
<!--      <th>Weighment type</th>-->
      <th>Lot code</th>
<!--      <th>Lot</th>-->
      <th>Seller type</th>
      <th>Bag type</th>
      <th>Product</th>
      <th>Seller name</th>
      <th>No of bags</th>
      <th>Lot weight</th>
      <th>Lot weight in no</th>
      <th>Weighment charges</th>
      <th>Remarks</th>
<!--      <th>Amc</th>-->
<!--      <th>Is active</th>-->
      <th></th>
    </tr>

    <% @weighments.each do |weighment| %>
      <tr>
<!--        <td><%#= weighment.weighment_type %></td>-->
        <td><%= weighment.lot_code %></td>
<!--        <td><%#= weighment.lot_id %></td>-->
        <td><%= weighment.seller_type %></td>
        <td><%= BagType.find_by_id(weighment.bag_type).try(:description) %></td>
        <td><%= Commodity.find_by_id(weighment.product_id).try(:name) %></td>
        <td><%= Farmer.find_by_id(weighment.seller_name).try(:name) %></td>
        <td><%= weighment.no_of_bags %></td>
        <td><%= weighment.lot_weight %></td>
        <td><%= weighment.lot_weight_in_no %></td>
        <td><%= weighment.weighment_charges %></td>
        <td><%= weighment.remarks %></td>
<!--        <td><%#= weighment.amc_id %></td>-->
<!--        <td><%#= weighment.is_active %></td>-->
        <td>
          <a href="/weighments/<%= weighment.id %>" class=" btn btn-xs btn-link"> View </a>
          <%= link_to 'Edit', "/weighments/edit_weighment?weighment_id=#{weighment.id}" %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
