<div style="padding: 5px">
  <div class="row">
    <div class="col-sm-6"><%= get_index_text('Weighment Details') %></div>
    <div class="col-sm-6 text-right">
      <%= link_to 'Back', "/weighments", :class => 'btn btn-success', :style => 'color:white;background-color:#99cc00 !important' %>
    </div>
  </div>

  <table class="table table-bordered">
    <tr>
      <th style="width: 20%">Seller type</th>
      <th style="width: 20%">Seller</th>
      <th style="width: 20%">Lot code</th>
      <th style="width: 20%">Product</th>
      <th style="width: 20%">Bag type</th>
    </tr>
    <tr>

      <td style="width: 20%"><%= @weighment.seller_type %></td>
      <td style="width: 20%"> <%= Farmer.find_by_id(@weighment.seller_name).try(:name) %></td>
      <td style="width: 20%"><%= @weighment.lot_code %></td>
      <td style="width: 20%"> <%= Commodity.find_by_id(@weighment.product_id).try(:name) %></td>
      <td style="width: 20%"> <%= BagType.find_by_id(@weighment.bag_type).try(:description) %></td>
    </tr>
    <tr>
      <th style="width: 20%">No of bags</th>
      <th style="width: 20%">Lot weight</th>
      <th style="width: 20%">Lot weight in no</th>
      <th style="width: 20%">Weighment charges</th>
      <th style="width: 20%">remarks</th>
    </tr>
    <tr>

      <td style="width: 20%"><%= @weighment.no_of_bags %></td>
      <td style="width: 20%"> <%= @weighment.lot_weight %></td>
      <td style="width: 20%"><%= @weighment.lot_weight_in_no %></td>
      <td style="width: 20%"> <%= @weighment.weighment_charges %></td>
      <td style="width: 20%"> <%= @weighment.remarks %></td>
    </tr>

  </table>
  <br/>
  <div><%= get_index_text('Individual Bag Details') %></div>
  <table class="table table-bordered">
    <tr>
      <td>Sequence</td>
      <td>Net Weight</td>
      <td>Gross Weight</td>
      <td>Tare Weight</td>
      <td>Amount</td>
    </tr>
    <% @bag_weights.each_with_index do |bg_weight, index| %>
      <tr>
        <td><%= bg_weight.sequence %></td>
        <td><%= bg_weight.netWeight %></td>
        <td><%= bg_weight.grossWeight %></td>
        <td><%= bg_weight.tareWeight %></td>
        <td><%= bg_weight.price %></td>
      </tr>
    <% end %>
  </table>


</div>
















