<!DOCTYPE html>
<html lang="en" class="ie8">
<html lang="en" class="ie9">
<html lang="en">
<head>
  <title>Telangana Market Management System</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="icon" type="image/png" href="/images/landing_page/small-logo.png"/>
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js" type="text/javascript"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" type="text/javascript"></script>
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Oswald:700,400" rel="stylesheet">
  <link href="/global/plugins/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/global/plugins/bower_components/fontawesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/global/plugins/bower_components/animate.css/animate.min.css" rel="stylesheet">
  <link href="/admin/css/reset.css" rel="stylesheet">
  <link href="/admin/css/layout.css" rel="stylesheet">
  <link href="/admin/css/components.css" rel="stylesheet">
  <link href="/admin/css/plugins.css" rel="stylesheet">
  <link href="/admin/css/themes/default.theme.css" rel="stylesheet" id="theme">
  <link href="/admin/css/custom.css" rel="stylesheet">
  <script src="/global/plugins/bower_components/html5shiv/dist/html5shiv.min.js"></script>
  <script src="/global/plugins/bower_components/respond-minmax/dest/respond.min.js"></script>


</head>
<body class="page-header-fixed" style="background-color: #E9EAED !important;">
<section id="wrapper">
  <header id="header">
    <div class="header-left">
      <div class="navbar-minimize-mobile left"><i class="fa fa-bars"></i></div>
      <div class="navbar-header">

        <%if has_super_admin %>
          <a class="navbar-brand" href="/amcs/all_amc_list"><%= current_user.present? && current_user.amc_id.present? ? Amc.find_by_id(current_user.amc_id).try(:name) : "SELECT AMC"  %></a>
        <%else %>
          <a class="navbar-brand"><%= current_user.present? && current_user.amc_id.present? ? Amc.find_by_id(current_user.amc_id).try(:name) : "AMCS"  %></a>
        <%end %>




      </div>
      <div class="navbar-minimize-mobile right"><i class="fa fa-cog"></i></div>
      <div class="clearfix"></div>
    </div>
    <div class="header-right">
      <div class="navbar navbar-toolbar" style="background-color: #3DA56B">
        <ul class="nav navbar-nav navbar-left">
          <li class="navbar-minimize">
            <a href="javascript:void(0);" title="Minimize sidebar">
              <i class="fa fa-bars"></i>
            </a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if current_user.present? %>
            <li><a href="#" style="color: white !important;font-weight: bold"><%= current_user.name %></a></li>
            <li><a href="/logout" style="color: white !important;font-weight: bold"><i class="fa fa-sign-out"></i>Logout</a></li>
          <% else %>
            <li><a href="/login" style="color: white !important;font-weight: bold">LOGIN</a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </header>
  <aside id="sidebar-left" class="sidebar-circle">
    <ul class="sidebar-menu">
      <% if current_user.present? %>
        <% if current_user.present? && current_user.is_super_admin %>
          <li class="submenu <%= (yield :users).present? ? 'active' : '' %>">
            <a href="javascript:void(0);">
              <span class="icon"><i class="fa fa-file"></i></span>
              <span class="text">Amcs</span>
              <span class="arrow"></span>
            </a>
            <ul>
              <li class="<%= (yield :amcs).present? ? 'active' : '' %>">
                <a href="/amcs">Amcs</a>
              </li>
            </ul>
          </li>
          <li class="submenu <%= (yield :states).present? ? 'active' : '' %>">
            <a href="javascript:void(0);">
              <span class="icon"><i class="fa fa-file"></i></span>
              <span class="text">Static Data</span>
              <span class="arrow"></span>
            </a>
            <ul>
              <li class="<%= (yield :states).present? ? 'active' : '' %>">
                <a href="/states">States</a>
              </li>
              <li class="<%= (yield :districts).present? ? 'active' : '' %>">
                <a href="/districts">Districts</a>
              </li>
              <li class="<%= (yield :mandals).present? ? 'active' : '' %>">
                <a href="/mandals">Mandals</a>
              </li>
              <li class="<%= (yield :villages).present? ? 'active' : '' %>">
                <a href="/villages">Villages</a>
              </li>

              <li class="<%= (yield :user_roles).present? ? 'active' : '' %>">
                <a href="/user_roles">User Roles</a>
              </li>

            </ul>
          </li>
          <li class="submenu <%= (yield :users).present? ? 'active' : '' %>">
            <a href="javascript:void(0);">
              <span class="icon"><i class="fa fa-file"></i></span>
              <span class="text">Users</span>
              <span class="arrow"></span>
            </a>
            <ul>
              <li class="<%= (yield :users).present? ? 'active' : '' %>">
                <a href="/users">Users</a>
              </li>
            </ul>
          </li>
          <li class="submenu <%= (yield :system_settings).present? ? 'active' : '' %>">
            <a href="javascript:void(0);">
              <span class="icon"><i class="fa fa-file"></i></span>
              <span class="text">System Settings</span>
              <span class="arrow"></span>
            </a>
            <ul>
              <li class="<%= (yield :system_settings).present? ? 'active' : '' %>">
                <a href="/system_settings">System Settings</a>
              </li>
            </ul>
          </li>
        <% end %>

        <% if current_user.present? && current_user.user_role.eql?("GateEntryOperator") %>

          <li class="submenu <%= (yield :vehicle_types).present? ? 'active' : '' %>">
            <a href="javascript:void(0);">
              <span class="icon"><i class="fa fa-file"></i></span>
              <span class="text">Gate Entries</span>
              <span class="arrow"></span>
            </a>
            <ul>
              <li class="<%= (yield :gate_entries).present? ? 'active' : '' %>">
                <a href="/gate_entries/new">New Gate entry</a>
              </li>
              <li class="<%= (yield :gate_entries).present? ? 'active' : '' %>">
                <a href="/gate_entries">Gate Entry summary</a>
              </li>
            </ul>
          </li>

          <li class="submenu <%= (yield :vehicle_types).present? ? 'active' : '' %>">
            <a href="javascript:void(0);">
              <span class="icon"><i class="fa fa-file"></i></span>
              <span class="text">Lot Operations</span>
              <span class="arrow"></span>
            </a>
            <ul>
              <li class="<%= (yield :lots).present? ? 'active' : '' %>">
                <a href="/lots">Arrived Lots</a>
              </li>
              <li class="<%= (yield :lots).present? ? 'active' : '' %>">
                <a href="/lots/wayment_done_lots">weighment Done Lots</a>
              </li>
            </ul>
          </li>
        <% end %>

        <% if current_user.present? && current_user.user_role.eql?("Trader") || current_user.user_role.eql?("CommissionAgent") %>
          <li class="submenu <%= (yield :lots).present? ? 'active' : '' %>">
            <a href="javascript:void(0);">
              <span class="icon"><i class="fa fa-file"></i></span>
              <span class="text">Lots</span>
              <span class="arrow"></span>
            </a>
            <ul>
              <li class="<%= (yield :lots).present? ? 'active' : '' %>">
                <a href="/lots/bidding_lots_list">Lots</a>
              </li>
            </ul>
          </li>
        <% end %>



        <% if current_user.present? && current_user.is_admin || current_user.user_role.eql?("secretary") %>



          <li class="submenu ">
            <a href="/farmers/dashboard1">
              <span class="icon"><i class="fa fa-spinner"></i></span>
              <span class="text">DashBoard</span>
              <span class="arrow"></span>
            </a>
          </li>



          <li class="submenu <%= (yield :vehicle_types).present? ? 'active' : '' %>">
            <a href="javascript:void(0);">
              <span class="icon"><i class="fa fa-file"></i></span>
              <span class="text">Gate Entries</span>
              <span class="arrow"></span>
            </a>
            <ul>
              <li class="<%= (yield :gate_entries).present? ? 'active' : '' %>">
                <a href="/gate_entries/new">New Gate entry</a>
              </li>
              <li class="<%= (yield :gate_entries).present? ? 'active' : '' %>">
                <a href="/gate_entries">Gate Entry summary</a>
              </li>
            </ul>
          </li>

          <li class="submenu <%= (yield :vehicle_types).present? ? 'active' : '' %>">
            <a href="javascript:void(0);">
              <span class="icon"><i class="fa fa-file"></i></span>
              <span class="text">Lot Operations</span>
              <span class="arrow"></span>
            </a>
            <ul>
              <li class="<%= (yield :lots).present? ? 'active' : '' %>">
                <a href="/lots">Arrived Lots</a>
              </li>
              <li class="<%= (yield :lots).present? ? 'active' : '' %>">
                <a href="/lots/wayment_done_lots">weighment Done Lots</a>
              </li>
            </ul>
          </li>

<!--          <li class="submenu <%#= (yield :salebills).present? ? 'active' : '' %>">-->
<!--            <a href="javascript:void(0);">-->
<!--              <span class="icon"><i class="fa fa-file"></i></span>-->
<!--              <span class="text">Sale Bills</span>-->
<!--              <span class="arrow"></span>-->
<!--            </a>-->
<!--            <ul>-->
<!--              <li class="<%#= (yield :salebills).present? ? 'active' : '' %>">-->
<!--                <a href="/salebills">Sale Bills</a>-->
<!--              </li>-->
<!--            </ul>-->
<!--          </li>-->


          <li class="submenu <%= (yield :segments).present? ? 'active' : '' %>">
            <a href="javascript:void(0);">
              <span class="icon"><i class="fa fa-file"></i></span>
              <span class="text">Market Settings</span>
              <span class="arrow"></span>
            </a>
            <ul>
              <li class="<%= (yield :segments).present? ? 'active' : '' %>">
                <a href="/segments">Segments</a>
              </li>
              <li class="<%= (yield :vehicle_types).present? ? 'active' : '' %>">
                <a href="/vehicle_types">Vehicle Types</a>
              </li>
              <li class="<%= (yield :unit_of_measurements).present? ? 'active' : '' %>">
                <a href="/unit_of_measurements">Units Of Measurements</a>
              </li>
              <li class="<%= (yield :bag_types).present? ? 'active' : '' %>">
                <a href="/bag_types">Bag Types</a>
              </li>
              <li class="<%= (yield :commodities).present? ? 'active' : '' %>">
                <a href="/commodities">Commodities</a>
              </li>
              <li class="<%= (yield :bag_names).present? ? 'active' : '' %>">
                <a href="/bag_names">Bag Names</a>
              </li>
              <li class="<%= (yield :commodities).present? ? 'active' : '' %>">
                <a href="/gunny_details">Gunny Details</a>
              </li>

              <li class="<%= (yield :cold_storages).present? ? 'active' : '' %>">
                <a href="/cold_storages">Cold Storages</a>
              </li>


            </ul>
          </li>


          <li class="submenu <%= (yield :market_charges).present? ? 'active' : '' %>">
            <a href="javascript:void(0);">
              <span class="icon"><i class="fa fa-file"></i></span>
              <span class="text">Market Charges</span>
              <span class="arrow"></span>
            </a>
            <ul>
              <li class="<%= (yield :fee_categories).present? ? 'active' : '' %>">
                <a href="/market_charges">Market Charges</a>
              </li>
            </ul>
          </li>

          <li class="submenu <%= (yield :farmers).present? ? 'active' : '' %>">
            <a href="/farmers">
              <span class="icon"><i class="fa fa-file"></i></span>
              <span class="text">Farmers</span>
              <span class="arrow"></span>
            </a>
            <ul>
              <li class="<%= (yield :farmers).present? ? 'active' : '' %>">
                <a href="/farmers">Farmers</a>
              </li>
            </ul>
          </li>

          <li class="submenu <%= (yield :users).present? ? 'active' : '' %>">
            <a href="/users/agents_list">
              <span class="icon"><i class="fa fa-file"></i></span>
              <span class="text">Agents List</span>
              <span class="arrow"></span>
            </a>
            <ul>
              <li class="<%= (yield :users).present? ? 'active' : '' %>">
                <a href="/users/agents_list">Agents List</a>
              </li>
            </ul>
          </li>
          <li class="submenu <%= (yield :users).present? ? 'active' : '' %>">
            <a href="/users/employee_list">
              <span class="icon"><i class="fa fa-file"></i></span>
              <span class="text">Employee List</span>
              <span class="arrow"></span>
            </a>
            <ul>
              <li class="<%= (yield :users).present? ? 'active' : '' %>">
                <a href="/users/employee_list">Employee List</a>
              </li>
            </ul>
          </li>



          <li class="submenu <%= (yield :"/lots/lots_information").present? ? 'active' : '' %>">
            <a href="javascript:void(0);">
              <span class="icon"><i class="fa fa-file"></i></span>
              <span class="text">Reports</span>
              <span class="arrow"></span>
            </a>
            <ul>
              <li class="<%= (yield :"/lots/arrivedLotsInformation").present? ? 'active' : '' %>">
                <a href="/lots/arrivedLotsInformation"> Arrival Lots </a>
              </li>
              <li class="<%= (yield :"/lots/lots_information").present? ? 'active' : '' %>">
                <a href="/lots/lots_information">completed Lots </a>
              </li>
              <li class="<%= (yield :"/lots/pendingLotsInformation").present? ? 'active' : '' %>">
                <a href="/lots/pendingLotsInformation">Pending Lots </a>
              </li>
              <li class="<%= (yield :"/lots/returnedLotsInformation").present? ? 'active' : '' %>">
                <a href="/lots/returnedLotsInformation">Returned Lots </a>
              </li>
              <li class="<%= (yield :"/lots/day_wise_summary").present? ? 'active' : '' %>">
                <a href="/lots/day_wise_summary">Day Wise Summary </a>
              </li>
              <li class="<%= (yield :"/lots/day_wise_summary1").present? ? 'active' : '' %>">
                <a href="/lots/day_wise_summary1">Cold Storage Summary </a>
              </li>
              <li class="<%= (yield :"/lots/market_fee_details").present? ? 'active' : '' %>">
                <a href="/lots/market_fee_details">Market Fee Summary </a>
              </li>



            </ul>
          </li>

        <% end %>

      <% end %>
    </ul>
  </aside>
  <div id="section">
    <section id="page-content" class="">
      <div style="padding: 15px;background-color: white">
        <%= yield %>
      </div>
    </section>
  </div>
  <aside id="sidebar-right">
    <div class="panel panel-tab"></div>
  </aside>
</section>
<div id="back-top" class="animated pulse circle"><i class="fa fa-angle-up"></i></div>
<script src="/global/plugins/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/global/plugins/bower_components/jquery-cookie/jquery.cookie.js"></script>
<script src="/global/plugins/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/global/plugins/bower_components/typehead.js/dist/handlebars.js"></script>
<script src="/global/plugins/bower_components/typehead.js/dist/typeahead.bundle.min.js"></script>
<script src="/global/plugins/bower_components/jquery-nicescroll/jquery.nicescroll.min.js"></script>
<script src="/global/plugins/bower_components/jquery.sparkline.min/index.js"></script>
<script src="/global/plugins/bower_components/jquery-easing-original/jquery.easing.1.3.min.js"></script>
<script src="/global/plugins/bower_components/ionsound/js/ion.sound.min.js"></script>
<script src="/global/plugins/bower_components/bootbox/bootbox.js"></script>
<script src="/admin/js/apps.js"></script>
<script src="/admin/js/rails.js"></script>
<script src="/admin/js/pages/blankon.layout.js"></script>
<script src="/admin/js/demo.js"></script>
<SCRIPT language=Javascript>



    $('.datepicker').datepicker({
        dateFormat: 'yy-mm-dd ',
        autoclose: true
    });


    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }

    $(".livesearch").chosen();



</SCRIPT>
</body>
</html>