<!DOCTYPE html>
<html>
<head>
  <title>Telangana Agricultural Marketing System</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top" role="navigation" style="background-color: white;position: fixed">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <p style="padding-top: 15px">
        <a href="/" style="text-decoration: none;color: #3DA56B;font-size: 16px;font-weight: bolder;padding: 5px;background-color: white">TELANGANA
          AGRICULTURAL MARKETING</a>
      </p>
    </div>
    <div class="navbar-collapse collapse navbar-right">
      <ul class="nav navbar-nav">
      </ul>
    </div>
  </div>
</div>
<div class="login-back">login-back
  <div class="container login_text ">
    <%= yield %>
  </div>
</div>
<div class="navbar navbar-default navbar-fixed-bottom" role="navigation" style="background-color: #000">
  <div class="container">
    <!--    <p style="text-align: center;color: #999;margin-top: 15px;font-family: avenirltstd-book">&nbsp;&nbsp; &copy;-->
    <!--      2019 &nbsp; Erpdirect Solutions Ind pvt Ltd, All Rights Reserved.</p>-->
  </div>
</div>
</body>
</html>
